<ng-template #alert let-modal>
  <app-alert [content]="mainDataService.alertContent" (click)="modal.dismiss()"></app-alert>
</ng-template>
<div class="container-fluid">
  <div [ngSwitch]="content">
    <ng-template ngSwitchCase="personal-details">
      <app-personal-details-list></app-personal-details-list>
    </ng-template>
    <ng-template ngSwitchCase="preferences">
      <app-preferences-list></app-preferences-list>
    </ng-template>
    <ng-template ngSwitchCase="security">
      <app-security-list (onChanged)="onChangedEmail($event)"></app-security-list>
    </ng-template>
  </div>
</div>
