<header class="bui-header bui-header--logo-large bui-u-hidden-print bui-header--rounded-tabs">
  <nav class="bui-header__bar">
    <div class="bui-header__main">
      <div class="bui-header__logo">
        <span>
          <label class="robotoregular" routerLink="">Apart.com</label>
        </span>
      </div>
    </div>

    <div>
      <div class="bui-group__item">
        <span class="bui-button__text">
          <div class="bui-avatar bui-avatar--small" aria-hidden="true">
            <img class="bui-avatar__image" src="assets/images/us-flag.png" alt="" />
          </div>
        </span>
      </div>
    </div>
  </nav>
</header>

<body>
  <main class="name-and-location-container">
    <div *ngFor="let apartment of apartmentsAmount; let i = index">
      <div class="header-name-and-location">
        What's the name of your place?
      </div>
      <div class="Input-name-and-location">
        <span class="name-and-location-text">Apartment name</span>
        <input required class="inputfield" type="text" name="{{apartments[i].name}}" [(ngModel)]="apartments[i].name" />
        <div class="invalid_feedback">
          Please enter apartment name
        </div>

        <span class="name-and-location-text">Apartment description</span>
        <input required class="inputfield" type="text" name="{{apartments[i].description}}" [(ngModel)]="apartments[i].description" />
        <div class="invalid_feedback">
          Please enter apartment description
        </div>

        <span class="name-and-location-text">Price in USD</span>
        <input required class="inputfield" type="text" name="{{apartments[i].priceInUSD}}" [(ngModel)]="apartments[i].priceInUSD" />
        <div class="invalid_feedback">
          Please enter correct value
        </div>

        <span class="name-and-location-text">Rooms amount</span>
        <input required class="inputfield" type="text" name="{{apartments[i].roomsAmount}}" [(ngModel)]="apartments[i].roomsAmount" />
        <div class="invalid_feedback">
          Please enter correct value
        </div>

        <span class="name-and-location-text">Guests limit</span>
        <input required class="inputfield" type="text" name="{{apartments[i].guestsLimit}}" [(ngModel)]="apartments[i].guestsLimit" />
        <div class="invalid_feedback">
          Please enter correct value
        </div>

        <span class="name-and-location-text">Bathrooms amount</span>
        <input required class="inputfield" type="text" name="{{apartments[i].bathroomsAmount}}" [(ngModel)]="apartments[i].bathroomsAmount" />
        <div class="invalid_feedback">
          Please enter correct value
        </div>
      </div>
    </div>
    <div>
      <div style="display: flex">
        <button class="name-and-location-button" (click)="addApartmentSetting()">
          Add apartment
        </button>
        <button *ngIf="this.apartmentsAmount.length > 1" class="name-and-location-button" (click)="removeApartmentSetting()">
          Remove apartment
        </button>
      </div>
    </div>
  </main>

  <footer class="name-and-location-container">
    <div style="display: flex">
      <button class="name-and-location-button-back" routerLink="/lp/nameandlocation">
        Go back
      </button>
      <button class="name-and-location-button" (click)="addApartments()">
        Continue
      </button>
    </div>
  </footer>
</body>
