<header class="bui-header bui-header--logo-large bui-u-hidden-print bui-header--rounded-tabs">
  <nav class="bui-header__bar">
    <div class="bui-header__main">
      <div class="bui-header__logo">
        <span>
          <label class="robotoregular" routerLink="">Apart.com</label>
        </span>
      </div>
    </div>

    <div>
      <div class="bui-group__item">
        <span class="bui-button__text">
          <div class="bui-avatar bui-avatar--small" aria-hidden="true">
            <img class="bui-avatar__image" src="assets/images/us-flag.png" alt="" />
          </div>
        </span>
      </div>
    </div>
  </nav>
</header>

<body>
  <div class="navigation__container">
    <div class="sections__container">
      <div class="section__container section__container--active">
        <button id="automation_id_section_property_setup" type="button" disabled="" class="section_button">
          <span class="">Property setup</span>
        </button>
        <div class="steps__container">
          <div class="navstep__container"></div>
          <div class="navstep__container"></div>
          <div class="navstep__container"></div>
          <div class="navstep__container"></div>
          <div class="navstep__container"></div>
          <div class="navstep__container"></div>
          <div class="navstep__container"></div>
        </div>
      </div>
    </div>
    <hr class="" />
  </div>
  <ul [ngSwitch]="choice">
    <li *ngSwitchDefault>
      <div class="name-and-location-container">
        <div class="header-name-and-location">
          What's the name of your place?
        </div>

        <div class="dropdownSubSection">
          <span class="dropdownSubSectionText">How many guests can stay?</span>
          <div class="dropdownSubSectionButtons">
            <button [disabled]="bedTypesAmount[0] === 0" class="bui-button" id="button1"
              (click)="decreaseBedTypeCount(0)">
              <span class="bui-button__text">-</span>
            </button>
            <span>{{ bedTypesAmount[0] }}</span>
            <button class="bui-button" (click)="increaseBedTypeCount(0)">
              <span class="bui-button__text">+</span>
            </button>
          </div>
        </div>
        <div class="dropdownSubSection">
          <span class="dropdownSubSectionText">How many guests can stay?</span>
          <div class="dropdownSubSectionButtons">
            <button [disabled]="bedTypesAmount[1] === 0" class="bui-button" id="button1"
              (click)="decreaseBedTypeCount(1)">
              <span class="bui-button__text">-</span>
            </button>
            <span>{{ bedTypesAmount[1] }}</span>
            <button class="bui-button" (click)="increaseBedTypeCount(1)">
              <span class="bui-button__text">+</span>
            </button>
          </div>
        </div>
        <div class="dropdownSubSection">
          <span class="dropdownSubSectionText">How many guests can stay?</span>
          <div class="dropdownSubSectionButtons">
            <button [disabled]="bedTypesAmount[2] === 0" class="bui-button" id="button1"
              (click)="decreaseBedTypeCount(2)">
              <span class="bui-button__text">-</span>
            </button>
            <span>{{ bedTypesAmount[2] }}</span>
            <button class="bui-button" (click)="increaseBedTypeCount(2)">
              <span class="bui-button__text">+</span>
            </button>
          </div>
        </div>
        <div class="dropdownSubSection">
          <span class="dropdownSubSectionText">How many guests can stay?</span>
          <div class="dropdownSubSectionButtons">
            <button [disabled]="bedTypesAmount[3] === 0" class="bui-button" id="button1"
              (click)="decreaseBedTypeCount(3)">
              <span class="bui-button__text">-</span>
            </button>
            <span>{{ bedTypesAmount[3] }}</span>
            <button class="bui-button" (click)="increaseBedTypeCount(3)">
              <span class="bui-button__text">+</span>
            </button>
          </div>
        </div>
        <div class="dropdownSubSection">
          <span class="dropdownSubSectionText">How many guests can stay?</span>
          <div class="dropdownSubSectionButtons">
            <button [disabled]="bedTypesAmount[4] === 0" class="bui-button" id="button1"
              (click)="decreaseBedTypeCount(4)">
              <span class="bui-button__text">-</span>
            </button>
            <span>{{ bedTypesAmount[4] }}</span>
            <button class="bui-button" (click)="increaseBedTypeCount(4)">
              <span class="bui-button__text">+</span>
            </button>
          </div>
        </div>
        <div class="dropdownSubSection">
          <span class="dropdownSubSectionText">How many guests can stay?</span>
          <div class="dropdownSubSectionButtons">
            <button [disabled]="bedTypesAmount[5] === 0" class="bui-button" id="button1"
              (click)="decreaseBedTypeCount(5)">
              <span class="bui-button__text">-</span>
            </button>
            <span>{{ bedTypesAmount[5] }}</span>
            <button class="bui-button" (click)="increaseBedTypeCount(5)">
              <span class="bui-button__text">+</span>
            </button>
          </div>
        </div>
        <div class="dropdownSubSection">
          <span class="dropdownSubSectionText">How many bathrooms are there?</span>
          <div class="dropdownSubSectionButtons">
            <button [disabled]="bedTypesAmount[6] === 0" class="bui-button" id="button1"
              (click)="decreaseBedTypeCount(6)">
              <span class="bui-button__text">-</span>
            </button>
            <span>{{ bedTypesAmount[6] }}</span>
            <button class="bui-button" (click)="increaseBedTypeCount(6)">
              <span class="bui-button__text">+</span>
            </button>
          </div>
        </div>
        <div class="dropdownSubSection">
          <span class="dropdownSubSectionText">How many bathrooms are there?</span>
          <div class="dropdownSubSectionButtons">
            <button [disabled]="bedTypesAmount[7] === 0" class="bui-button" id="button1"
              (click)="decreaseBedTypeCount(7)">
              <span class="bui-button__text">-</span>
            </button>
            <span>{{ bedTypesAmount[7] }}</span>
            <button class="bui-button" (click)="increaseBedTypeCount(7)">
              <span class="bui-button__text">+</span>
            </button>
          </div>
        </div>
        <div class="dropdownSubSection">
          <span class="dropdownSubSectionText">How many bathrooms are there?</span>
          <div class="dropdownSubSectionButtons">
            <button [disabled]="bedTypesAmount[8] === 0" class="bui-button" id="button1"
              (click)="decreaseBedTypeCount(8)">
              <span class="bui-button__text">-</span>
            </button>
            <span>{{ bedTypesAmount[8] }}</span>
            <button class="bui-button" (click)="increaseBedTypeCount(8)">
              <span class="bui-button__text">+</span>
            </button>
          </div>
        </div>
        <button class="name-and-location-button" (click)="addPropertyBeds()">
          Continue
        </button>
      </div>

    </li>
    <li *ngSwitchCase="1">
      <div class="name-and-location-container">
        <div class="header-name-and-location">
          What can guests use at your place?
        </div>
        <div class="Input-name-and-location">
          <div *ngFor="let item of facilities; let i = index">
            <div class="form-check">
              <input class="form-check-input" id={{item.text}} type="checkbox" value="{{i}}" [(ngModel)]="includedFacilities[i]" />
              <label class="form-check-label" for={{item.text}}>{{item.text}}</label>
            </div>
          </div>
        </div>
      </div>
      <button class="name-and-location-button" (click)="addPropertyFacilities()">
        Continue
      </button>
    </li>
    <li *ngSwitchCase="2">
      <div class="name-and-location-container">
        <div class="header-name-and-location">
          What's the name of your place?
        </div>

        <div class="Input-name-and-location">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="Yes, free" />
            <label class="form-check-label" for="Yes, free"> Yes, free </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="No" />
            <label class="form-check-label" for="No"> No </label>
          </div>
        </div>
        <button class="name-and-location-button" (click)="incrementChoice1()">
          Continue
        </button>
      </div>
    </li>
    <li *ngSwitchCase="3">
      <div class="name-and-location-container">
        <div class="header-name-and-location">
          What's the name of your place?
        </div>

        <div class="Input-name-and-location">
          <div class="form-check">
            <input class="form-check-input" id="German" type="checkbox" />
            <label class="form-check-label" for="German">German</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" id="English" type="checkbox" />
            <label class="form-check-label" for="English">English</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" id="French" type="checkbox" />
            <label class="form-check-label" for="French">French</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" id="Russian" type="checkbox" />
            <label class="form-check-label" for="Russian">Russian</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" id="Spanish" type="checkbox" />
            <label class="form-check-label" for="Spanish">Spanish</label>
          </div>
        </div>
        <button class="name-and-location-button" (click)="incrementChoice1()">
          Continue
        </button>
      </div>
    </li>
    <li *ngSwitchCase="4">
      <div class="name-and-location-container">
        <div class="header-name-and-location">House rules</div>

        <div class="Input-name-and-location">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="Smoking allowed" />
            <label class="form-check-label" for="Smoking allowed">Smoking allowed</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="Pets allowed" />
            <label class="form-check-label" for="Pets allowed">Pets allowed</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="Children allowed" />
            <label class="form-check-label" for="Children allowed">Children allowed</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="Parties/events allowed" />
            <label class="form-check-label" for="Parties/events allowed">Parties/events allowed</label>
          </div>
        </div>
        <button class="name-and-location-button" routerLink="/lp/photos">
          Continue
        </button>
      </div>
    </li>
  </ul>
</body>
