body {
  display: flex;
  justify-content: center;
}

.side_menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #f69E21;
}

.side_menu_content {
  border-style: none;
  display: flex;
  color: #333;
  overflow: hidden;
  padding: 16px;
  text-decoration: none;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #f69E21;
  margin: 0px 10px;
  width: 308px;
  height: 69px;
  align-items: center;
}

.side_menu_content:hover{
  color: #f69E21;
}


.side_menu_content:last-child {
  border: 0;
}
.side_menu_content > i {
  background-color: #f5f5f5;
  box-sizing: border-box;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  padding: 10px;
}

.side_menu_content > a > i {
  height: 16px;
  width: 16px;
}

.side_menu_content_text {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 10px;
}

.header {
  background: #0c9496;
}

.header__bar:not(:last-child) {
  padding-bottom: 0;
}

.right_content {
  width: 100%;
}

.header__bar {
  padding: 8px;
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin-left: 10vw;
  margin-bottom: 20px;
}

.header__main {
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  padding: 8px 16px 8px 0;
}

.header--rounded-tabs .header__logo svg {
  width: auto;
}

.header--logo-large .header__logo img,
.header--logo-large .header__logo svg {
  height: 20px;
  display: block;
}

.header .bui-group--vertical-align-middle > *,
.header .bui-group--vertical-align-middle > *:first-child {
  vertical-align: middle !important;
}


.robotoregular {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  /* identical to box height */

  color: #ffffff;
}

.click-component {
  cursor: pointer;
}

li::marker {
  color: #fff;
}

.manageaccount {
  display: flex;
  flex-wrap: nowrap;
  width: 1240px;
  max-width: 100%;
}

.account-personal {
  display: flex;
  width: 20px;
  height: 16px;
  background-position: center;
  background-size: cover;
  background-image: url(../../../assets/images/Personal_Details.png);
}

.account-security {
  display: flex;
  width: 16px;
  height: 19px;
  background-position: center;
  background-size: cover;
  background-image: url(../../../assets/images/Security.png);
}
.account-preference {
  display: flex;
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: cover;
  background-image: url(../../../assets/images/Preference.png);
}

@media (min-width: 992px) {
  .header__bar:not(:last-child) {
    padding-bottom: 8px;
  }

  .header__main {
    align-items: center;
    flex-direction: row;
  }

  .header--logo-large .header__logo img,
  .header--logo-large .header__logo svg {
    height: 24px;
  }
}

@media screen and (max-width: 1240px) {
  body {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 824px) {
  .side_menu {
    display: none;
  }
}
