<ng-template #alert let-modal>
  <app-alert
    [content]="mainDataService.alertContent"
    (click)="modal.dismiss()"
  ></app-alert>
</ng-template>
<header
  class="header header--logo-large bui-u-hidden-print header--rounded-tabs"
>
  <nav class="header__bar">
    <div class="header__main">
      <div class="header__logo">
        <span>
          <label class="robotoregular click-component" routerLink=""
            >Apart.com</label
          >
        </span>
      </div>
    </div>
  </nav>
</header>

<body>
  <div class="manageaccount">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="">
      <!--- Sidemenu -->
      <!-- Left Menu Start -->
      <ul class="side_menu">
        <li class="side_menu_content click-component" (click)="setContent('personal-details')">
          <i><span class="account-personal"></span></i>
          <a>
            <span class="side_menu_content_text">Personal details</span>
          </a>
        </li>

        <li class="side_menu_content click-component" (click)="setContent('preferences')">
          <i><span class="account-preference"></span></i>
          <a>
            <span class="side_menu_content_text">Preferences</span>
          </a>
        </li>

        <li class="side_menu_content click-component" (click)="setContent('security')">
          <i><span class="account-security"></span></i>
          <a>
            <span class="side_menu_content_text">Security</span>
          </a>
        </li>
      </ul>
      <!-- Sidebar -->
    </div>
    <!-- Left Sidebar End -->

    <div class="right_content">
      <app-manage-account-content
        [content]="content"
      ></app-manage-account-content>
    </div>
  </div>
</body>
