<div class="xpi__content__wrapper xpi__content__wrappergray">
  <div class="xpi__content__container">
    <div class="xpi__searchbox js-ds-layout-events-search-form">
      <div class="sb-searchbox__outer">
        <form
          id="frm"
          role="search"
          class="sb-searchbox sb-searchbox--painted sb-searchbox--xp js--sb-searchbox"
        >
          <div class="xp__fieldset js--sb-fieldset accommodation">
            <div class="row m-0 p-0">
              <div class="col-md-10 p-0">
                <div class="row m-0 p-0">
                  <div class="col-md-4 px-6">
                    <div class="input-with-icon">
                      <img src="assets/images/9.svg" alt="" />
                      <input
                        type="text"
                        class="header-input pl-50"
                        placeholder="Where are you going?"
                        name="searchViewModel.place"
                        [(ngModel)]="searchViewModel.place"
                      />
                      <div
                        class="invalid_feedback"
                        *ngIf="
                          searchViewModel.place.replaceAll(reg, '').length == 0
                        "
                      >
                        Enter destination to search
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 my-md-0 px-6">
                    <div class="input-with-icon">
                      <span class="input-icon">
                        <svg
                          aria-hidden="true"
                          class="bk-icon -experiments-calendar sb-date-picker_icon-svg"
                          fill="#BDBDBD"
                          focusable="false"
                          height="20"
                          role="presentation"
                          width="20"
                          viewBox="0 0 128 128"
                        >
                          <path
                            d="m112 16h-16v-8h-8v8h-48v-8h-8v8h-16c-4.4 0-8 3.9-8 8.7v86.6c0 4.8 3.6 8.7 8 8.7h96c4.4 0 8-3.9 8-8.7v-86.6c0-4.8-3.6-8.7-8-8.7zm0 95.3a1.1 1.1 0 0 1 -.2.7h-95.6a1.1 1.1 0 0 1 -.2-.7v-71.3h96zm-68-43.3h-12v-12h12zm0 28h-12v-12h12zm26-28h-12v-12h12zm0 28h-12v-12h12zm26 0h-12v-12h12zm0-28h-12v-12h12z"
                            fill-rule="evenodd"
                          ></path>
                        </svg> </span
                      ><!-- name="searchViewModel.dateIn" [(ngModel)]="searchViewModel.dateIn" -->
                      <input
                        (click)="d.toggle()"
                        class="header-input pl-50"
                        placeholder="Check-in"
                        name="searchViewModel.dateIn"
                        [(ngModel)]="searchViewModel.pdateIn"
                        [displayMonths]="displayMonths"
                        [navigation]="navigation"
                        [outsideDays]="outsideDays"
                        [showWeekNumbers]="showWeekNumbers"
                        [minDate]="minDate"
                        ngbDatepicker
                        #d="ngbDatepicker"
                      />
                    </div>
                  </div>
                  <div class="col-md-2 my-md-0 px-6">
                    <div class="input-with-icon">
                      <span class="input-icon">
                        <svg
                          aria-hidden="true"
                          class="bk-icon -experiments-calendar sb-date-picker_icon-svg"
                          fill="#BDBDBD"
                          focusable="false"
                          height="20"
                          role="presentation"
                          width="20"
                          viewBox="0 0 128 128"
                        >
                          <path
                            d="m112 16h-16v-8h-8v8h-48v-8h-8v8h-16c-4.4 0-8 3.9-8 8.7v86.6c0 4.8 3.6 8.7 8 8.7h96c4.4 0 8-3.9 8-8.7v-86.6c0-4.8-3.6-8.7-8-8.7zm0 95.3a1.1 1.1 0 0 1 -.2.7h-95.6a1.1 1.1 0 0 1 -.2-.7v-71.3h96zm-68-43.3h-12v-12h12zm0 28h-12v-12h12zm26-28h-12v-12h12zm0 28h-12v-12h12zm26 0h-12v-12h12zm0-28h-12v-12h12z"
                            fill-rule="evenodd"
                          ></path>
                        </svg> </span
                      ><!-- name="searchViewModel.dateOut" [(ngModel)]="searchViewModel.dateOut" -->
                      <input
                        (click)="t.toggle()"
                        class="header-input pl-50"
                        placeholder="Check-out"
                        name="searchViewModel.dateOut"
                        [(ngModel)]="searchViewModel.pdateOut"
                        [displayMonths]="displayMonths"
                        [navigation]="navigation"
                        [outsideDays]="outsideDays"
                        [showWeekNumbers]="showWeekNumbers"
                        [minDate]="minDate"
                        ngbDatepicker
                        #t="ngbDatepicker"
                      />
                    </div>
                  </div>
                  <div class="col-md-4 px-6">
                    <div
                      class="input-with-icon icon-2"
                      type="button"
                      data-toggle="dropdown"
                    >
                      <img src="assets/images/39.svg" alt="" />
                      <button type="text" class="header-input px-40">
                        {{ searchViewModel.searchAdultsAmount }} adults .
                        {{ searchViewModel.searchChildrenAmount }} children .
                        {{ searchViewModel.searchRoomsAmount }} room
                      </button>
                      <i><img src="assets/images/44.svg" alt="" /></i>
                    </div>
                    <div class="dropdown-menu">
                      <form class="dropdownFormReservation">
                        <div class="form-group">
                          <div class="dropdownSubSection">
                            <div>
                              <span class="dropdownSubSectionText">Adults</span>
                            </div>
                            <div class="dropdownSubSectionButtons">
                              <button
                                class="bui-button bui-button--secondary"
                                (click)="setAdults(-1)"
                              >
                                <span class="bui-button__text">-</span>
                              </button>
                              <span class="dropdownSubSectionText">{{
                                searchViewModel.searchAdultsAmount
                              }}</span>
                              <button
                                class="bui-button bui-button--secondary"
                                (click)="setAdults(1)"
                              >
                                <span class="bui-button__text">+</span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="dropdownSubSection">
                            <div>
                              <span class="dropdownSubSectionText"
                                >Children</span
                              >
                            </div>
                            <div class="dropdownSubSectionButtons">
                              <button
                                class="bui-button bui-button--secondary"
                                (click)="setChildren(-1)"
                              >
                                <span class="bui-button__text">-</span>
                              </button>
                              <span class="dropdownSubSectionText">{{
                                searchViewModel.searchChildrenAmount
                              }}</span>
                              <button
                                class="bui-button bui-button--secondary"
                                (click)="setChildren(1)"
                              >
                                <span class="bui-button__text">+</span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="dropdownSubSection">
                            <div>
                              <span class="dropdownSubSectionText">Rooms</span>
                            </div>
                            <div class="dropdownSubSectionButtons">
                              <button
                                class="bui-button bui-button--secondary"
                                (click)="setRooms(-1)"
                              >
                                <span class="bui-button__text">-</span>
                              </button>
                              <span class="dropdownSubSectionText">{{
                                searchViewModel.searchRoomsAmount
                              }}</span>
                              <button
                                class="bui-button bui-button--secondary"
                                (click)="setRooms(1)"
                              >
                                <span class="bui-button__text">+</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 mt-1 mt-md-0 px-6">
                <button
                  class="btn btn-blue"
                  (click)="searchSuggestions($event)"
                >
                  Search
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="bodyconstraint" class="   ">
  <div id="bodyconstraint-inner">
    <div class="lp_flexible_layout_content_wrapper">
      <div
        class="bui-card bui-u-bleed@small coronavirus-banner__container coronavirus-banner__container--overrides"
      >
        <span
          class="coronavirus-banner__icon coronavirus-banner__icon--overrides"
        >
          <svg
            class="bk-icon -streamline-question_mark_circle"
            height="24"
            width="24"
            viewBox="0 0 24 24"
            role="presentation"
            aria-hidden="true"
            focusable="false"
          >
            <path
              d="M9.75 9a2.25 2.25 0 1 1 3 2.122 2.25 2.25 0 0 0-1.5 2.122v1.006a.75.75 0 0 0 1.5 0v-1.006c0-.318.2-.602.5-.708A3.75 3.75 0 1 0 8.25 9a.75.75 0 1 0 1.5 0zM12 16.5a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25.75.75 0 0 0 0 1.5.375.375 0 1 1 0-.75.375.375 0 0 1 0 .75.75.75 0 0 0 0-1.5zM22.5 12c0 5.799-4.701 10.5-10.5 10.5S1.5 17.799 1.5 12 6.201 1.5 12 1.5 22.5 6.201 22.5 12zm1.5 0c0-6.627-5.373-12-12-12S0 5.373 0 12s5.373 12 12 12 12-5.373 12-12z"
            ></path>
          </svg>
        </span>
        <div class="bui-alert__description coronavirus-banner__description">
          <p class="bui-alert__text coronavirus_banner__text">
            Get the advice you need. Check the latest COVID-19 restrictions
            before you travel.
            <a class="bui-link coronavirus-banner__link" target="_blank">
              Learn more
            </a>
          </p>
        </div>
      </div>
      <div>
        <div></div>
      </div>
      <div id="basiclayout" role="main" class="basiclayout_pe">
        <div class="promo-section"></div>
        <div></div>
        <div class="bui-spacer--largest popular-destinations-carousel-block">
          <div class="bui-title bui-title--headline_3 bui-spacer--large p-2">
            <span class="bui-title__text"
              >Explore {{ mainDataService.getCurrentCountry() }}</span
            >
            <span class="bui-title__subtitle"
              >These popular destinations have a lot to offer</span
            >
          </div>
          <div class="container-fluid px-0">
            <div class="slick-wrapper">
              <ngx-slick-carousel
                class="carousel"
                #slickModal="slick-carousel"
                [config]="slideConfig"
              >
                <div
                  ngxSlickItem
                  *ngFor="let city of cities; let i = index"
                  class="slide button-class"
                >
                  <div (click)="searchSuggestionsByPlace($event, city.title)">
                    <img
                      src="{{
                        imageHelper.getImageDirectoryPath()
                      }}/location/cities/{{ city.image?.name }}"
                      class="w-100"
                      alt="city"
                      width="162px"
                      height="162px"
                    />
                    <div class="bui-card__content">
                      <div class="bui-card__title">{{ city.title }}</div>
                      <div class="bui-title__subtitle">
                        {{ citySuggestionsLength[i] ?? "0" }} properties
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
        <div
          class="d-index__section bui-spacer--largest js-ds-layout-events-bh_promotions"
        >
          <h2
            class="bui-f-font-display_two bui-spacer--large d-index__header-section"
            id="bh-promotion-accommodation-types"
          >
            Browse by property type
          </h2>
          <div class="container-fluid px-0">
            <div class="slick-wrapper">
              <ngx-slick-carousel
                class="carousel"
                #slickModal="slick-carousel"
                [config]="slideConfig"
              >
                <div
                  ngxSlickItem
                  *ngFor="let category of bookingCategories; let i = index"
                  class="slide button-class"
                >
                  <div
                    (click)="
                      searchSuggestionsByCategory($event, category.category)
                    "
                  >
                    <img
                      src="{{
                        imageHelper.getImageDirectoryPath()
                      }}/categories/booking-categories/{{
                        category.image?.name
                      }}"
                      class="w-100"
                      alt="category"
                      width="162px"
                      height="162px"
                    />
                  </div>
                  <div class="bui-card__content">
                    <div class="bui-title bui-title--strong_1 bui-card__title">
                      <span class="bui-card__title">{{
                        category.category
                      }}</span>
                      <span class="bui-title__subtitle"
                        >{{ suggestions[i] ?? "0" }} properties</span
                      >
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
        <svg
          class="bk-icon -iconset-heart"
          height="128"
          style="display: none"
          width="128"
          viewBox="0 0 128 128"
          role="presentation"
          aria-hidden="true"
          focusable="false"
        >
          <path
            d="M64 112a3.6 3.6 0 0 1-2-.5 138.8 138.8 0 0 1-44.2-38c-10-14.4-10.6-26-9.4-33.2a29 29 0 0 1 22.9-23.7c11.9-2.4 24 2.5 32.7 13a33.7 33.7 0 0 1 32.7-13 29 29 0 0 1 22.8 23.7c1.3 7.2.6 18.8-9.3 33.3-9.1 13.1-24 25.9-44.2 37.9a3.6 3.6 0 0 1-2 .5z"
          ></path>
        </svg>
        <h2 class="screen_reader_heading">Recommended destinations</h2>
        <div class="d-index__section bui-spacer--large">
          <div
            class="promotion-postcards__row js-ds-layout-events-postcards u-clearfix"
          >
            <div class="promotion-postcard__large mb-lg-3">
              <div>
                <div
                  class="unified-postcard unified-postcard--no-description-padding unified-postcard__pe unified-postcard__idr unified-postcard--padding"
                >
                  <div
                    class="unified-postcard__content js-lazy-image unified-postcard__content_pe"
                    style="
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-image: url('{{
                      imageHelper.getImageDirectoryPath()
                    }}/location/cities/{{ recommendedCities[0]?.image.name }}');
                    "
                    (click)="
                      searchSuggestionsByPlace(
                        $event,
                        recommendedCities[0]?.title
                      )
                    "
                  >
                    <div class="unified-postcard__overlay">
                      <div class="unified-postcard__header">
                        <h3>
                          <a>
                            {{ recommendedCities[0]?.title }}
                            <img
                              src="{{ imageHelper.getImageDirectoryPath() }}{{
                                recommendedCities[0]?.country.image.name
                              }}"
                              alt="Country image"
                              valign="middle"
                              width="23px"
                              height="17px"
                            />
                          </a>
                        </h3>
                        <p>
                          {{ recommendedSuggestionsCount[0] ?? "0" }} properties
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="promotion-postcard__large mb-lg-3">
              <div>
                <div
                  class="unified-postcard unified-postcard--no-description-padding unified-postcard__pe unified-postcard__idr unified-postcard--padding"
                >
                  <div
                    class="unified-postcard__content js-lazy-image unified-postcard__content_pe"
                    style="
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-image: url('{{
                      imageHelper.getImageDirectoryPath()
                    }}/location/cities/{{ recommendedCities[1]?.image.name }}');
                    "
                    (click)="
                      searchSuggestionsByPlace(
                        $event,
                        recommendedCities[1]?.title
                      )
                    "
                  >
                    <div class="unified-postcard__overlay">
                      <div class="unified-postcard__header">
                        <h3>
                          <a>
                            {{ recommendedCities[1]?.title }}
                            <img
                              src="{{ imageHelper.getImageDirectoryPath() }}{{
                                recommendedCities[1]?.country.image.name
                              }}"
                              alt="Country image"
                              valign="middle"
                              width="23px"
                              height="17px"
                            />
                          </a>
                        </h3>
                        <p>
                          {{ recommendedSuggestionsCount[1] ?? "0" }} properties
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="promotion-postcards__row js-ds-layout-events-postcards u-clearfix"
          >
            <div class="promotion-postcard__small">
              <div>
                <div
                  class="unified-postcard unified-postcard--no-description-padding unified-postcard__pe unified-postcard__idr unified-postcard--padding"
                  data-idr-ufi="20016087"
                >
                  <div
                    class="unified-postcard__content js-lazy-image unified-postcard__content_pe"
                    style="
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-image: url('{{
                      imageHelper.getImageDirectoryPath()
                    }}/location/cities/{{ recommendedCities[2]?.image.name }}');
                    "
                    (click)="
                      searchSuggestionsByPlace(
                        $event,
                        recommendedCities[2]?.title
                      )
                    "
                  >
                    <div class="unified-postcard__overlay">
                      <div class="unified-postcard__header">
                        <h3>
                          <a>
                            {{ recommendedCities[2]?.title }}
                            <img
                              src="{{ imageHelper.getImageDirectoryPath() }}{{
                                recommendedCities[2]?.country.image.name
                              }}"
                              alt="Country image"
                              valign="middle"
                              width="23px"
                              height="17px"
                            />
                          </a>
                        </h3>
                        <p>
                          {{ recommendedSuggestionsCount[2] ?? "0" }} properties
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="promotion-postcard__small">
              <div>
                <div
                  class="unified-postcard unified-postcard--no-description-padding with_airport_tooltip unified-postcard__pe unified-postcard__idr unified-postcard--padding"
                  data-idr-ufi="20126394"
                >
                  <div
                    class="unified-postcard__content js-lazy-image unified-postcard__content_pe"
                    style="
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-image: url('{{
                      imageHelper.getImageDirectoryPath()
                    }}/location/cities/{{ recommendedCities[3]?.image.name }}');
                    "
                    (click)="
                      searchSuggestionsByPlace(
                        $event,
                        recommendedCities[3]?.title
                      )
                    "
                  >
                    <div class="unified-postcard__overlay">
                      <div class="unified-postcard__header">
                        <h3>
                          <a>
                            {{ recommendedCities[3]?.title }}
                            <img
                              src="{{ imageHelper.getImageDirectoryPath() }}{{
                                recommendedCities[3]?.country.image.name
                              }}"
                              alt="Country image"
                              valign="middle"
                              width="23px"
                              height="17px"
                            />
                          </a>
                        </h3>
                        <p>
                          {{ recommendedSuggestionsCount[3] ?? "0" }} properties
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="promotion-postcard__small">
              <div>
                <div
                  class="unified-postcard unified-postcard--no-description-padding with_airport_tooltip unified-postcard__pe unified-postcard__idr unified-postcard--padding"
                  data-idr-ufi="20079268"
                >
                  <div
                    class="unified-postcard__content js-lazy-image unified-postcard__content_pe"
                    style="
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-image: url('{{
                      imageHelper.getImageDirectoryPath()
                    }}/location/cities/{{ recommendedCities[4]?.image.name }}');
                    "
                    (click)="
                      searchSuggestionsByPlace(
                        $event,
                        recommendedCities[4]?.title
                      )
                    "
                  >
                    <div class="unified-postcard__overlay">
                      <div class="unified-postcard__header">
                        <h3>
                          <a>
                            {{ recommendedCities[4]?.title }}
                            <img
                              src="{{ imageHelper.getImageDirectoryPath() }}{{
                                recommendedCities[4]?.country.image.name
                              }}"
                              alt="Country image"
                              valign="middle"
                              width="23px"
                              height="17px"
                            />
                          </a>
                        </h3>
                        <p>
                          {{ recommendedSuggestionsCount[4] ?? "0" }} properties
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="d-index__section bui-spacer--largest promote_articles js-ds-layout-events-promote_articles"
          data-et-click=" customGoal:cCHObTRVDEZRdPQBcGCfTKYCcaYO:4  goal:www_inspiration_articles_click  ">
          <h2 class="bui-f-font-display_two bui-spacer--large d-index__header-section">
            Get inspiration for your next trip
          </h2>
          <div class="promote-articles__wrapper bui-u-clearfix">
            <div class="d-md-flex">
              <a class="promote_article">
                <div class="js-lazy-image promote_article_img" style="background-image: url('assets/images/30.png')">
                </div>
                <div class="promote_article__overlay"></div>
                <div class="promote_article__content">
                  <h3 class="promote_article__header" id="promote_article_title_1">
                    Lorem ipsum
                  </h3>
                  <p id="promote_article_desc_1" class="promote_article__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  </p>
                </div>
              </a>
              <a class="promote_article">
                <div class="js-lazy-image promote_article_img" style="background-image: url('assets/images/35.png')">
                </div>
                <div class="promote_article__overlay"></div>
                <div class="promote_article__content">
                  <h3 class="promote_article__header" id="promote_article_title_2">
                    Lorem ipsum
                  </h3>
                  <p id="promote_article_desc_2" class="promote_article__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  </p>
                </div>
              </a>
              <a class="promote_article promote-articles-margin">
                <div class="js-lazy-image promote_article_img" style="background-image: url('assets/images/32.png')">
                </div>
                <div class="promote_article__overlay"></div>
                <div class="promote_article__content">
                  <h3 class="promote_article__header" id="promote_article_title_3">
                    Lorem ipsum
                  </h3>
                  <p id="promote_article_desc_3" class="promote_article__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  </p>
                </div>
              </a>
            </div>
            <div class="d-md-flex">
              <a class="promote_article promote-articles-2-col">
                <div class="js-lazy-image promote_article_img" style="background-image: url('assets/images/34.png')">
                </div>
                <div class="promote_article__overlay"></div>
                <div class="promote_article__content">
                  <h3 class="promote_article__header" id="promote_article_title_4">
                    Lorem ipsum
                  </h3>
                  <p id="promote_article_desc_4" class="promote_article__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  </p>
                </div>
              </a>
              <a class="promote_article promote-articles-2-col">
                <div class="js-lazy-image promote_article_img" style="background-image: url('assets/images/33.png')">
                </div>
                <div class="promote_article__overlay"></div>
                <div class="promote_article__content">
                  <h3 class="promote_article__header" id="promote_article_title_5">
                    Lorem ipsum
                  </h3>
                  <p id="promote_article_desc_5" class="promote_article__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div> -->
        <svg
          class="bk-icon -iconset-square_rating"
          height="128"
          style="display: none"
          width="128"
          viewBox="0 0 128 128"
          role="presentation"
          aria-hidden="true"
          focusable="false"
        >
          <path
            d="M104 8H24A16 16 0 0 0 8 24v96h96a16 16 0 0 0 16-16V24a16 16 0 0 0-16-16zM64 88a24 24 0 1 1 24-24 24 24 0 0 1-24 24z"
          ></path>
        </svg>
        <div
          class="d-index__section bui-spacer--largest bh-carousel--new js-ds-layout-events-bh_carousel js-bh-carousel-async-wrapper"
        >
          <h2
            class="bui-f-font-display_two bui-spacer--large d-index__header-section"
          >
            Homes guests love
          </h2>
          <div class="container-fluid px-0">
            <div class="slick-wrapper">
              <ngx-slick-carousel
                class="carousel"
                #slickModal="slick-carousel"
                [config]="slideConfig1"
              >
                <div
                  ngxSlickItem
                  *ngFor="let item of homeGuestsSuggestions; let i = index"
                  class="slide slide-h button-class"
                >
                  <div class="slide-img">
                    <img
                      src="{{
                        imageHelper.getImageDirectoryPath()
                      }}/categories/booking-categories/{{
                        item.images[0]?.name
                      }}"
                      class="w-100"
                      alt=""
                    />
                  </div>
                  <div class="bui-card__content bh-carousel--new__content">
                    <h3 class="bui-card__title bh-carousel--new__title">
                      <span>{{ item?.name }}</span>
                    </h3>
                    <p class="bui-card__subtitle">
                      {{
                        item?.address?.city?.title +
                          ", " +
                          item?.address?.country?.title
                      }}
                    </p>
                    <p class="bh-carousel--new__price bui_color_black">
                      Starting from USD {{ suggestionStartsFrom[i] ?? "0" }}
                    </p>
                    <div style="margin-top: 4px">
                      <div
                        class="bui-review-score c-score bui-review-score--inline bui-review-score--small"
                      >
                        <div
                          class="bui-review-score__badge"
                          aria-label="Scored 0 "
                          *ngIf="suggestionGrades[i] != 0"
                        >
                          {{ mathHelper.Round10(suggestionGrades[i] ?? "") }}
                        </div>
                        <div class="bui-review-score__content">
                          <div
                            *ngIf="
                              mathHelper.Round10(suggestionGrades[i]) >= 9.7;
                              then exceptionalBlock
                            "
                          ></div>
                          <ng-template #exceptionalBlock
                            >Exceptional</ng-template
                          >
                          <div
                            *ngIf="
                              mathHelper.Round10(suggestionGrades[i]) >= 9.0 &&
                                mathHelper.Round10(suggestionGrades[i]) < 9.7;
                              then wonderfulBlock
                            "
                          ></div>
                          <ng-template #wonderfulBlock>Wonderful</ng-template>
                          <div
                            *ngIf="
                              mathHelper.Round10(suggestionGrades[i]) >= 8.7 &&
                                mathHelper.Round10(suggestionGrades[i]) < 9.0;
                              then excellentBlock
                            "
                          ></div>
                          <ng-template #excellentBlock>Excellent</ng-template>
                          <div
                            *ngIf="
                              mathHelper.Round10(suggestionGrades[i]) >= 8.2 &&
                                mathHelper.Round10(suggestionGrades[i]) < 8.7;
                              then veryGoodBlock
                            "
                          ></div>
                          <ng-template #veryGoodBlock>Very Good</ng-template>
                          <div
                            *ngIf="
                              mathHelper.Round10(suggestionGrades[i]) > 7.6 &&
                                mathHelper.Round10(suggestionGrades[i]) < 8.2;
                              then goodBlock
                            "
                          ></div>
                          <ng-template #goodBlock>Good</ng-template>
                          <div
                            *ngIf="
                              mathHelper.Round10(suggestionGrades[i]) >= 7.0 &&
                                mathHelper.Round10(suggestionGrades[i]) < 7.7;
                              then pleasantBlock
                            "
                          ></div>
                          <ng-template #pleasantBlock>Normal</ng-template>
                          <div
                            class="bui-review-score__badge_unrated"
                            aria-label="Scored 0"
                            *ngIf="suggestionGrades[i] == 0"
                          >
                            Unrated
                          </div>
                          <div class="bui-review-score__text">
                            {{ reviewsCount[i] ?? "0" }} reviews
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
        <div style="clear: both"></div>
        <div
          class="desktop-communities-recommendations js-ds-layout-events-travel-communities desktop-communities-recommendations--desktop"
        >
          <h2
            class="bui-f-font-display_two bui-spacer--large d-index__header-section my-4"
          >
            Destinations we love
          </h2>
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink>Regions</a>
              <ng-template ngbNavContent>
                <div class="tabs-flex">
                  <ul class="inner-tabs-links">
                    <div *ngFor="let region of regions; let i = index">
                      <li
                        (click)="
                          searchSuggestionsByPlace($event, region?.title)
                        "
                      >
                        <a class="button-class">{{ region?.title }}</a>
                        <div class="wcu-seo-regions-poi ia_hotelnum">
                          {{ regionsSuggestions[i] ?? "0" }} properties
                        </div>
                      </li>
                    </div>
                  </ul>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>Cities</a>
              <ng-template ngbNavContent>
                <div class="tabs-grid">
                  <div>
                    <ul class="inner-tabs-links">
                      <div *ngFor="let city of footerCities; let i = index">
                        <li (click)="searchSuggestionsByPlace($event, city)">
                          <a class="button-class">{{ city }}</a>
                          <div class="wcu-seo-regions-poi ia_hotelnum">
                            {{ citySuggestionsLength[i] ?? "0" }} properties
                          </div>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>Countries</a>
              <ng-template ngbNavContent>
                <div class="tabs-grid">
                  <div>
                    <ul class="inner-tabs-links">
                      <div *ngFor="let country of countries; let i = index">
                        <li (click)="searchSuggestionsByPlace($event, country)">
                          <a class="button-class">{{ country }}</a>
                          <div class="wcu-seo-regions-poi ia_hotelnum">
                            {{ countriesSuggestions[i] ?? "0" }} properties
                          </div>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="mt-4"></div>
        </div>
      </div>
      <!-- /basiclayout -->
    </div>
  </div>
</div>
