.xpi__content__wrapper {
  background: #002f72;
  margin-bottom: 24px;
}

.xpi__content__wrappergray {
  background: #ffffff;
}

.xpi__searchbox {
  padding: 44px 5px;
  position: relative;
}

.xpi__searchbox {
  max-width: 1110px;
  padding: 40px 5px 16px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.xpi__content__wrappergray .xpi__searchbox .sb-searchbox__title,
.xpi__content__wrappergray .xpi__searchbox .sb-searchbox__subtitle-text {
  color: #333;
}

.xpi__searchbox .sb-searchbox__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-weight: 600;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
  margin-top: 0;
}

.sb-searchbox__title {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: normal;
}

.xpi__content__wrappergray .xpi__searchbox .sb-searchbox__title,
.xpi__content__wrappergray .xpi__searchbox .sb-searchbox__subtitle-text {
  color: #333;
}

.xpi__searchbox .sb-searchbox__subtitle-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.sb-searchbox__subtitle-text {
  margin: 0;
  padding: 0;
}

.sb-searchbox__subtitle-text {
  margin: 0;
  padding: 0;
}

.sb-searchbox--painted {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background: 0;
  border-radius: 0;
  border: 0;
  padding: 0;
}

.sb-searchbox--painted {
  padding: 12px 0;
  border-radius: 3px;
  /* border: 1px solid;
    background: #febb02;
    background: -webkit-gradient(linear,left top,left bottom,from(#febb02),to(#febb02));
    background: -webkit-linear-gradient(top,#febb02 0,#febb02 100%);
    background: linear-gradient(to bottom,#febb02 0,#febb02 100%);
    border-color: #cd8900; */
  font-size: 13px;
}

form {
  margin: 0;
  padding: 0;
}

.xp__fieldset {
  -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

.xp__fieldset {
  color: #333;
  border: 0;
  display: table;
  background-color: #ed6648;
  padding: 4px;
  border-radius: 4px;
  margin: 24px 0 16px;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.xp__search {
  white-space: nowrap;
  width: auto !important;
}

.xp__input-group,
.xp__group {
  display: table-cell;
  vertical-align: middle;
  width: 1px;
}

.xp__fieldset *,
.xp__fieldset *:before,
.xp__fieldset *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bk-icon {
  vertical-align: middle;
  max-width: 256px;
  max-height: 256px;
  overflow: hidden;
}

.c-autocomplete {
  position: relative;
  width: 100%;
}

.sb-destination__clear {
  cursor: pointer;
}

.xpi__searchbox button:not(.sb-searchbox__button),
.xpi__searchbox input:focus {
  outline: 0;
}

.sb-destination__history,
.sb-destination__clear {
  display: none;
  right: 0;
  border: 0;
  padding: 0;
  margin: 0;
  background: 0;
}

.sb-destination__icon,
.sb-destination__history,
.sb-destination__clear {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 35px;
  font-size: 16px;
  text-align: center;
  color: #6b6b6b;
}

.sb-destination__clear-icon {
  display: block;
}

.bui-u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.accommodation #ss {
  background-image: url("../../assets/images/9.svg");
  background-repeat: no-repeat;
  background-position: center left 10px;
  padding-left: 50px;
}

#ss,
#ss_origin {
  display: block;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 16px center;
}

#ss,
.xp__input,
.-with-clear .sb-searchbox__input {
  padding: 0 35px;
}

#ss,
.xp__input,
.sb-searchbox__input {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  background: #fff;
  color: #333;
  height: 52px;
  border: 0;
  border-radius: 2px;
  display: table;
  padding: 0 16px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sb-destination.-with-clear .sb-destination__input {
  padding-right: 35px;
}

.sb-destination.-with-clear .sb-destination__input {
  padding-right: 35px;
}

.xpi__searchbox input[type="search"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.sb-searchbox--painted .sb-searchbox__input {
  width: 100%;
}

.sb-searchbox--painted .sb-searchbox__input {
  border-color: #cd8900;
}

.sb-searchbox__input:placeholder-shown {
  color: #aeaeae;
}

.system-font input,
.system-font select,
.system-font button,
.system-font textarea {
  font-family: inherit;
}

.xp__fieldset *,
.xp__fieldset *:before,
.xp__fieldset *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sb-searchbox__input {
  outline: 0;
  color: #333;
  background: #fff;
  border: 1px solid #003580;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.sb-destination__input {
  width: 100%;
  height: 34px;
  padding: 5px;
  line-height: 22px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sb-searchbox__input {
  outline: 0;
  color: #333;
  background: #fff;
  border: 1px solid #003580;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.sb-destination__input {
  width: 100%;
  height: 34px;
  padding: 5px;
  line-height: 22px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.xp__input-group,
.xp__group {
  display: table-cell;
  vertical-align: middle;
  width: 1px;
}

.xp__dates {
  position: relative;
}

.xp__dates {
  padding: 0 4px;
}

.xp__dates-inner {
  width: 100%;
}

div[data-component="search/dates/dates-errors"] {
  display: table-caption;
}

.xp__input-group,
.xp__group {
  display: table-cell;
  vertical-align: middle;
  width: 1px;
}

.xp__date {
  border-radius: 2px 0 0 2px;
}

.xp__fieldset .sb-date-field {
  white-space: nowrap;
  width: 100%;
}

.sb-date-field {
  position: relative;
}

.xp__dates__checkin .sb-date-field__field.sb-date__field-svg_icon,
.rentalcars .xp__dates__checkin .sb-date-field__field.sb-date__field-svg_icon,
.rentalcars .xp__dates__checkout .sb-date-field__field.sb-date__field-svg_icon {
  background-image: none !important;
}

.sb-searchbox--painted .sb-searchbox__input {
  width: 100%;
}

.sb-searchbox--painted .sb-date-field__field {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.xp__dates__checkin .sb-date-field__field {
  background-image: url("../../assets/images/9.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
  padding-left: 50px;
}

.xp__dates__checkin .sb-searchbox__input {
  padding: 0 16px;
}

.xp__dates__checkin .sb-date-field__field {
  border-radius: 2px 0 0 2px;
}

.xp__fieldset input::placeholder,
.sb-searchbox__input.-empty {
  color: #333;
}

.xp__fieldset input::-webkit-input-placeholder,
.sb-searchbox__input.-empty {
  color: #333;
}

.sb-searchbox--painted .sb-searchbox__input {
  border-color: #cd8900;
}

.sb-searchbox__input.-empty {
  color: #aeaeae;
}

.sb-searchbox--painted .sb-searchbox__input {
  border-color: #cd8900;
}

.sb-searchbox__input.-empty {
  color: #aeaeae;
}

#ss,
.xp__input,
.sb-searchbox__input {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  background: #fff;
  color: #333;
  height: 52px;
  border: 0;
  border-radius: 2px;
  display: table;
  padding: 0 16px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.xp__button {
  display: table-cell;
  width: 1px;
  position: relative;
  padding-left: 4px;
}

.sb-searchbox-submit-col.-button-messages {
  text-align: left;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 5;
  -webkit-flex: 5 1 auto;
  -ms-flex: 5 1 auto;
  flex: 5 1 auto;
}

.xp__button .sb-searchbox-submit-col.-submit-button {
  display: table;
  width: 100%;
}

.xp__button .sb-searchbox__button {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  border: 0;
  border-radius: 2px;
  color: #fff;
  height: 52px;
  min-width: 100% !important;
  margin: 0;
  white-space: nowrap;
  padding: 5px 32px;
}

.system-font input,
.system-font select,
.system-font button,
.system-font textarea {
  font-family: inherit;
}

.xp__fieldset *,
.xp__fieldset *:before,
.xp__fieldset *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sb-searchbox__button {
  position: relative;
  cursor: pointer;
  border-radius: 6px;
  padding: 5px 25px;
  line-height: 34px;
  font-size: 23px;
  border: 0;
  color: #fff;
  background-color: #0071c2;
}

.header-input {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  background: #fff;
  color: #333;
  height: 52px;
  border: 0;
  border-radius: 2px;
  display: table;
  padding: 0 16px;
  width: 100%;
  height: 52px;
}

.header-input:hover {
  box-shadow: 0 0 0 1px #ff0000 inset;
}

.unified-postcard__content:hover {
  border: 1px solid #febb02;
}

.promote_article:hover .promote_article_img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.nobg #basiclayout.basiclayout_pe {
  padding: 0 5px;
}

.nobg #basiclayout {
  padding: 0 5px;
}

body div#basiclayout {
  overflow: visible;
}

div#basiclayout {
  overflow: hidden;
  width: auto;
}

#basiclayout,
.basiclayout {
  margin: 0;
}

#basiclayout {
  -webkit-margin-top-collapse: separate;
}

#basiclayout {
  clear: both;
  vertical-align: top;
  margin: 20px 0 0 0;
  width: 100%;
}

.nobg .lp_flexible_layout_content_wrapper {
  background-color: transparent;
  padding: 0;
  max-width: 1110px;
  padding-top: 10px;
}

.no_bg_img .lp_flexible_layout_content_wrapper {
  background-color: transparent !important;
}

.lp_flexible_layout_content_wrapper {
  max-width: 1094px;
  min-width: 620px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 5px;
}

.coronavirus-banner__container--overrides {
  border-radius: 5px !important;
}

.coronavirus-banner__container {
  margin-bottom: 24px;
  margin-left: 5px;
  margin-right: 5px;
}

.bui-card {
  display: flex;
  background-color: #fff;
  color: #262626;
  border: 1px solid #414141;
  border-radius: 5px;
  padding: 16px;
}

.bui-alert__text:last-child {
  margin-bottom: 0;
}

.bui-alert__text:first-child {
  margin-top: 2px;
}

.coronavirus-banner__icon--overrides {
  border-radius: 8px;
}

.coronavirus-banner__icon {
  fill: #ed6648;
  color: #ed6648;
  background: #fff;
  height: 40px;
  width: 40px;
  border-radius: 2px;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 16px;
}

.coronavirus-banner__description {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.bui-alert__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.bui-title {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.bui-title--headline_3 .bui-title__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.bui-title__subtitle,
.bui-title__text {
  margin: 0;
}

.bui-title__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.bui-title--headline_3 .bui-title__subtitle {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.bui-title__subtitle {
  color: #6b6b6b;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.bui-title__subtitle,
.bui-title__text {
  margin: 0;
}

.ge-branded__image--index {
  width: 160px;
  height: 160px;
}

.bui-banner__image-container {
  height: 96px;
  width: 96px;
  min-width: 96px;
  overflow: hidden;
  margin-right: 16px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.bui-banner__image {
  width: 100%;
  height: 100%;
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.ge-branded__image--index {
  width: 160px;
  height: 160px;
}

.bui-banner__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.ge-branded_container--index .ge-branded__content-block {
  max-width: 442px;
  height: -webkit-calc(100% - 14px);
  height: calc(100% - 14px);
}

.ge-branded_container--index .ge-branded__content-block {
  max-width: 442px;
  height: -webkit-calc(100% - 14px);
  height: calc(100% - 14px);
}

.bui-banner__slot:first-child {
  margin-top: 0;
}

.ge-branded__content-block {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ge-branded__content-block {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bui-card__content {
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.bui-banner__slot {
  margin-top: 8px;
}

body .bui-f-font-display_two,
body .bui_font_display_two {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.bui-card__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.bui-card__subtitle,
.bui-card__title {
  margin: 0;
  padding: 0;
}

.bui-spacer--small {
  margin-bottom: 4px !important;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom: 0;
}

body .bui-f-font-featured,
body .bui_font_featured {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.bui-icon--color-neutral {
  color: #262626;
  fill: #262626;
}

.bui-card__actions {
  padding-top: 16px;
}

.bui-group--inline {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  align-items: baseline;
  -webkit-flex-direction: row;
  flex-direction: row !important;
  margin: -8px 0 0 -8px;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.bui-group {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.bui-group--inline > :first-child {
  margin: 8px 0 0 8px !important;
}

.bui-group > :first-child {
  margin-top: 0 !important;
}

.bui-button--secondary.bui-button--active,
.bui-button--secondary:active,
.bui-button--secondary:focus,
.bui-button--secondary:hover,
.bui-button--secondary:link,
.bui-button--secondary:visited {
  color: #0071c2;
}

.bui-button.bui-button--active,
.bui-button:active,
.bui-button:focus,
.bui-button:hover,
.bui-button:link,
.bui-button:visited {
  color: #fff;
  text-decoration: none;
}

.bui-group--inline > * {
  margin: 8px 0 0 8px !important;
}

.bui-group > * {
  margin-top: 8px !important;
}

.bui-button--secondary {
  background-color: #fff;
  color: #0071c2 !important;
}

.bui-button--secondary:before {
  background: transparent !important;
  border-color: #0071c2;
}

.bui-button__text {
  position: relative;
}

.bui-button--tertiary.bui-button--active,
.bui-button--tertiary:active,
.bui-button--tertiary:focus,
.bui-button--tertiary:hover,
.bui-button--tertiary:link,
.bui-button--tertiary:visited {
  color: #0071c2;
}

.bui-button.bui-button--active,
.bui-button:active,
.bui-button:focus,
.bui-button:hover,
.bui-button:link,
.bui-button:visited {
  color: #fff;
  text-decoration: none;
}

a:link {
  color: #0071c2;
  font-weight: bold;
}

.bui-group--inline > * {
  margin: 8px 0 0 8px !important;
}

.bui-button--tertiary-neutral.bui-button--destructive:before,
.bui-button--tertiary-neutral:before,
.bui-button--tertiary.bui-button--destructive:before,
.bui-button--tertiary:before {
  border-color: transparent !important;
  background-color: transparent !important;
}

a.coronavirus-banner__link {
  font-weight: 400;
  text-decoration: none;
  color: #ed6648;
}

.bui-f-font-display_two,
.bui_font_display_two {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.bui-f-font-featured,
.bui_font_featured {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.bui-button--secondary:before {
  background: transparent;
  border-color: #0071c2;
}

.bui-button--secondary:not(.bui-is-loading):hover:before {
  background-color: rgba(0, 113, 194, 0.06);
  border-color: #0071c2;
}

.bui-button--secondary {
  background-color: #fff;
  color: #0071c2;
  margin-left: 5px;
  margin-right: 5px;
}

.dropdownFormReservation {
  display: flex;
  width: 300px;
  height: 135px;
  flex-direction: column;
}

.dropdownSubSection {
  display: flex;
}
.dropdownSubSection > *:nth-child(1) {
  flex-basis: 100%;
}

.dropdownSubSectionButtons {
  display: flex;
  justify-content: center;
}

.dropdownSubSectionText {
  margin-top: 5px;
}

.bui-button--tertiary.bui-button--active:before,
.bui-button--tertiary:not(.bui-is-loading):active:before,
.bui-button--tertiary:not(.bui-is-loading):hover:before {
  background-color: rgba(0, 113, 194, 0.06);
  border-color: transparent;
}

.bui-button--tertiary.bui-button--active,
.bui-button--tertiary:active,
.bui-button--tertiary:focus,
.bui-button--tertiary:hover,
.bui-button--tertiary:link,
.bui-button--tertiary:visited {
  color: #0071c2;
}

.bui-button--tertiary,
.bui-button--tertiary-neutral {
  padding-left: 8px;
  padding-right: 8px;
}

.bui-button {
  border: 0;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: left;
  padding: 8px 16px;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  color: #fff;
  min-height: 36px;
  min-width: 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  border-radius: 2px;
  background: transparent;
}

.bui-button:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  background-color: #0071c2;
  border: 1px solid #0071c2;
  border-radius: 2px;
}

.promotion-postcards__row {
  padding-bottom: 15px;
}

.u-clearfix:before,
.u-clearfix:after {
  content: "";
  display: table;
}

.bui-u-clearfix:after,
.bui-u-clearfix:before,
.u-clearfix:after,
.u-clearfix:before {
  content: " ";
  display: table;
  line-height: 0;
}

.promotion-postcard__large:first-child {
  padding-left: 0;
}

.promotion-postcard__large {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-left: 15px;
  min-height: 5px;
}

.promotion-postcards__row .unified-postcard {
  margin-bottom: 0;
}

.unified-postcard {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.unified-postcard__pe {
  height: 270px;
}

.unified-postcard {
  border: 1px solid #fafcff;
  margin-bottom: 10px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.unified-postcard__content_pe {
  background-size: cover;
  height: 270px;
}

.unified-postcard__content {
  position: relative;
  border-radius: 3px 3px 0 0;
  /* height: 200px; */
  width: 100%;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 75px 0 0 15px;
}

.unified-postcard__overlay {
  width: 100%;
  padding: 21px 15px 25px;
  top: 0;
  left: 0;
  margin-bottom: 12px;
  position: absolute;
  z-index: 2;
  color: #fff !important;
  text-shadow: 1px 1px 1px #000;
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(0, 27, 65, 0.65)),
    color-stop(100%, rgba(0, 27, 65, 0))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 27, 65, 0.65) 0,
    rgba(0, 27, 65, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 27, 65, 0.65)),
    to(rgba(0, 27, 65, 0))
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 27, 65, 0.65) 0,
    rgba(0, 27, 65, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00224F', endColorstr='#00001e47', GradientType=0);
  box-sizing: border-box;
}
.unified-postcard__content:hover .unified-postcard__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(0, 27, 65, 0.65)),
    color-stop(100%, rgba(0, 27, 65, 0))
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 27, 65, 0.65) 0,
    rgba(0, 27, 65, 0) 100%
  );
}

.unified-postcard__header h3 {
  font-size: 1em;
  margin-bottom: 0;
}

.unified-postcard__header {
  font-size: 16px;
}

.unified-postcard__header a {
  font-weight: bold;
  font-size: 1.78em;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.unified-postcard__header a,
.unified-postcard__header a:visited {
  color: #fff !important;
  text-decoration: none;
}

.unified-postcard__header p {
  margin: 5px 0 0;
  font-weight: normal;
}

.u-clearfix:before,
.u-clearfix:after {
  content: "";
  display: table;
}

.bui-u-clearfix:after,
.bui-u-clearfix:before,
.u-clearfix:after,
.u-clearfix:before {
  content: " ";
  display: table;
  line-height: 0;
}

.promotion-postcard__small:first-child {
  padding-left: 0;
}

.promotion-postcard__small {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 33.333333%;
  padding-left: 15px;
  min-height: 5px;
}

.unified-postcard {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.unified-postcard__pe {
  height: 270px;
}

.unified-postcard {
  border: 1px solid #fafcff;
  margin-bottom: 10px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.unified-postcard__content_pe {
  background-size: cover;
  height: 270px;
}

.unified-postcard__content {
  position: relative;
  border-radius: 3px 3px 0 0;
  /* height: 200px; */
  width: 100%;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 75px 0 0 15px;
}

.unified-postcard__overlay {
  width: 100%;
  padding: 21px 15px 25px;
  top: 0;
  left: 0;
  margin-bottom: 12px;
  position: absolute;
  z-index: 2;
  color: #fff !important;
  text-shadow: 1px 1px 1px #000;
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(0, 27, 65, 0.65)),
    color-stop(100%, rgba(0, 27, 65, 0))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 27, 65, 0.65) 0,
    rgba(0, 27, 65, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 27, 65, 0.65)),
    to(rgba(0, 27, 65, 0))
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 27, 65, 0.65) 0,
    rgba(0, 27, 65, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00224F', endColorstr='#00001e47', GradientType=0);
  box-sizing: border-box;
}

.unified-postcard:hover .unified-postcard__overlay {
  background: -webkit-linear-gradient(
    top,
    rgba(0, 27, 65, 0.65) 0,
    rgba(0, 27, 65, 0) 100%
  ) !important;
}

.unified-postcard__header {
  font-size: 16px;
}

.unified-postcard__header h3 {
  font-size: 1em;
  margin-bottom: 0;
}

.unified-postcard__header a {
  font-weight: bold;
  font-size: 1.78em;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.unified-postcard__header a,
.unified-postcard__header a:visited {
  color: #fff !important;
  text-decoration: none;
}

.unified-postcard__header p {
  margin: 5px 0 0;
  font-weight: normal;
}

.bui-card__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6b6b6b;
}

.bui-carousel--medium .bh-carousel--new__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.bh-carousel--new__title > span {
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.bh-carousel--new__price {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 8px;
}

.bui-f-color-black,
.bui_color_black {
  color: #000 !important;
}

.bui-review-score,
.bui-review-score__badge {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.c-score.bui-review-score--small .bui-review-score__badge {
  width: 28px;
  height: 28px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.bui-review-score--small .bui-review-score__badge {
  width: 28px;
  min-width: 28px;
  height: 28px;
  border-radius: 5.09091px 5.09091px 5.09091px 0;
}

.bui-review-score__badge {
  background: #003580;
  color: #fff;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  vertical-align: baseline;
  border-radius: 5.81818px 5.81818px 5.81818px 0;
  height: 32px;
  width: 32px;
  min-width: 32px;
}

.bui-review-score,
.bui-review-score__badge {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.bui-review-score--inline .bui-review-score__content {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.bui-review-score__badge + .bui-review-score__content {
  margin-left: 8px;
}

.c-score.bui-review-score--small .bui-review-score__text {
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 2px;
  line-height: 1;
}

.bui-review-score__title {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  line-height: 1;
}

.bui-review-score--small {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.bui-review-score,
.bui-review-score__badge {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.bui-review-score {
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.bui-review-score--inline .bui-review-score__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.bui-review-score__text {
  color: #6b6b6b;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.bui-review-score--inline .bui-review-score__text:before {
  content: "\00b7";
  margin: 0 4px;
  line-height: 0;
  position: relative;
}

.promote_articles {
  padding: 30px 0 60px;
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.d-index__section {
  margin: 0;
  padding: 0 !important;
  float: none !important;
  overflow: visible !important;
  clear: both;
}

.bui-spacer--largest {
  margin-bottom: 32px !important;
}

.bui-u-clearfix:after,
.bui-u-clearfix:before,
.u-clearfix:after,
.u-clearfix:before {
  content: " ";
  display: table;
  line-height: 0;
}

.promote_article:first-child {
  float: left;
}

a.promote_article {
  width: 32.2%;
  display: block;
  background-size: cover;
  color: #fff;
  float: left;
  height: 320px;
  text-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  margin-right: 15px;
  margin-bottom: 15px;
}

.promote_article:first-child .promote_article_img {
  margin-top: 0;
}

.promote_article_img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 120%;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-size: cover;
  background-repeat: no-repeat;
}

.promote_article__overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 3px;
}

.promote_article__content {
  display: table-cell;
  vertical-align: bottom;
  padding: 10px 10px 15px;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.promote_article__header {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: white;
}

.bui-card--transparent .bh-carousel--new__content {
  padding: 8px 0;
}

.promote_article__description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin: 5px 0;
}

a.promote-articles-2-col {
  width: 49%;
}

a.bui-card,
a.bui-card:link {
  text-decoration: none;
  color: #262626;
}

.desktop-communities-recommendations--desktop {
  padding-bottom: 40px;
}

.desktop-communities-recommendations__image-wrapper {
  position: relative;
  background: #e6e6e6;
  width: 100%;
  height: 100%;
}

.desktop-communities-recommendations__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bui-card--transparent {
  background-color: transparent;
  border: 0;
}

.bui-card--media {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 0;
}

.bui-card--transparent .bui-card__image-container {
  border-radius: 2px;
}

/* tabs style */
.nav-tabs .nav-link:hover {
  color: #ed6648;
  border-color: #ed6648;
  border: 1px solid;
}
.nav-tabs {
  border-bottom: 0 !important;
}
.nav-tabs .nav-link.active:hover {
  background: #ffffff;
  color: #ed6648;
}

.nav-tabs .nav-link.active {
  background: #ed6648;
  color: white;
}

.nav-tabs li:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-tabs .nav-link {
  border-radius: 999px;
  padding: 11px 15px;
  border: 1px solid transparent;
  color: #ed6648;
  font-weight: 500;
  font-size: 14px;
}
.wcu-seo-regions-poi .ia_hotelnum {
  color: #6b6b6b;
}

.ia_hotelnum {
  display: block;
  color: #a5a5a5;
  font-size: 13px;
  line-height: 16px;
}

.tabs-grid {
  --auto-grid-min-size: 200px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 5px;
}

.inner-tabs-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.inner-tabs-links a:hover {
  color: #ed6648;
}

.inner-tabs-links li {
  margin-bottom: 20px;
}

.inner-tabs-links a {
  color: #262626;
  font-weight: 500;
  font-size: 14px;
  display: block;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* tabs style end */

.slick-wrapper {
  margin: 0;
  padding: 0 10px;
}

.slick-wrapper .slick-slide {
  margin-right: 16px;
  height: 240px;
}

.slick-wrapper .slick-slide.slide-h {
  height: 350px;
}

.slide-img {
  width: 100%;
  height: 220px;
}

.slick-wrapper .slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-wrapper .slick-slide:last-child {
  margin-right: 0px;
}

/* ::ng-deep .slick-prev:before {
  content: " ";
}


::ng-deep .slick-next:before {
  content: "";
} */

::ng-deep .slick-track {
  padding: 20px 0;
}

::ng-deep .slick-prev:before,
::ng-deep .carousel-control-prev-icon::before {
  color: #000 !important;
  font-size: 16px;
  /* font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f053" !important;
  line-height: 4px; */
}

::ng-deep .slick-next:before,
::ng-deep .carousel-control-next-icon::before {
  color: #000 !important;
  font-size: 16px;
  /* font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054" !important;
  line-height: 4px; */
}

::ng-deep .slick-next,
::ng-deep .carousel-control-next-icon {
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  background: white;
  z-index: 2;
  right: -6px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%);
  border-radius: 45px;
}

::ng-deep .slick-prev,
::ng-deep .carousel-control-prev-icon {
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  background: white;
  z-index: 2;
  left: -10px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%);
  border-radius: 45px;
}

::ng-deep .carousel-control-prev-icon,
::ng-deep ::ng-deep .carousel-control-next-icon {
  background-color: #000;
  width: 24px;
  height: 24px;
}

::ng-deep .carousel-control-prev-icon::before,
::ng-deep .carousel-control-next-icon::before {
  color: #fff !important;
  font-size: 12px;
}

::ng-deep.slick-prev:hover,
::ng-deep .slick-prev:focus,
::ng-deep .slick-next:hover,
::ng-deep .slick-next:focus {
  background: white;
}

.bui-title--strong_1 .bui-title__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.btn-blue {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  border: 1px solid white;
  border-radius: 2px;
  color: #fff !important;
  background-color: #ed6648;
  height: 52px;
  min-width: 100% !important;
  margin: 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bui-title__subtitle {
  color: #6b6b6b;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.bui-card__content,
.bui-card--transparent .bui-card__content {
  padding: 16px 0 0;
}

::ng-deep .dropdown-menu {
  border: 0 !important;
  top: 12px !important;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 16px rgb(0 0 0 / 15%);
  box-shadow: 0 2px 16px rgb(0 0 0 / 15%);
  padding: 16px !important;
}

::ng-deep .ngb-dp-weekdays {
  border: 0 !important;
}

::ng-deep .ngb-dp-header,
::ng-deep .ngb-dp-header,
::ng-deep .ngb-dp-weekdays,
::ng-deep .ngb-dp-month-name {
  background-color: #fff !important;
}

::ng-deep .ngb-dp-month-name {
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 24p !important;
}

::ng-deep .ngb-dp-weekday {
  color: #6b6b6b !important;
}

::ng-deep .btn-link {
  color: #9d9d9d !important;
}

@media (min-width: 992px) {
  .bui-carousel--medium .bui-card__title,
  .bui-carousel--small .bui-card__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  .bui-carousel--small .bui-card__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .bui-title {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

@media (min-width: 900px) {
  .xp__fieldset .xp__dates-inner {
    position: static !important;
  }

  .xp__fieldset .xp__dates__checkin .sb-date-field:after {
    content: "";
    position: absolute;
    height: 1.5px;
    background: #bdbdbd;
    width: 10px;
    left: 100%;
    margin-left: -5px;
    top: 50%;
    z-index: 2;
  }
}

@media (max-width: 767px) {
  .lp_flexible_layout_content_wrapper {
    min-width: auto;
  }

  .bui-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .ssubscriptionValidator {
    margin-right: auto;
  }
  .promotion-postcard__small {
    width: 50%;
  }

  a.promote_article {
    width: 100%;
  }

  .bui-group {
    justify-content: center;
  }

  .slick-wrapper .slick-slide {
    margin-right: 0;
  }

  .tabs-grid {
    --auto-grid-min-size: 60px;
  }
}
