.content__wrappergray {
  background: #ffffff;
}

.searchbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
}

.searchbox_item {
  display: flex;
  flex: 1;
}

.ngbDatepicker .ngb-dp-today {
  color: #ffffff !important;
  background-color: #0c9496 !important;
}

.p__searchbox {
  padding: 44px 5px;
  position: relative;
}

.p__searchbox {
  max-width: 1110px;
  padding: 40px 5px 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

.content__wrappergray .p__searchbox .pp-searchbox__title,
.content__wrappergray .p__searchbox .pp-searchbox__subtitle-text {
  color: #333;
}

.p__searchbox .pp-searchbox__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-weight: 600;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
  margin-top: 0;
}

.pp-searchbox--painted {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background: 0;
  border-radius: 0;
  border: 0;
  padding: 0;
}

.pp-searchbox--painted {
  padding: 12px 0;
  border-radius: 3px;
  font-size: 13px;
}

form {
  margin: 0;
  padding: 0;
}

.fieldset {
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

.fieldset {
  color: #333;
  border: 0;
  display: table;
  background-color: #f69e21;
  padding: 4px;
  border-radius: 4px;
  margin: 24px 0 16px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.fieldset *,
.fieldset *:before,
.fieldset *:after {
  box-sizing: border-box;
}

.bk-icon {
  vertical-align: middle;
  max-width: 256px;
  max-height: 256px;
  overflow: hidden;
}

.p__searchbox button:not(.pp-searchbox__button),
.p__searchbox input:focus {
  outline: 0;
}

.p__searchbox input[type="search"] {
  appearance: none;
}

.pp-searchbox--painted {
  width: 100%;
}

.pp-searchbox--painted {
  border-color: #cd8900;
}

.fieldset *,
.fieldset *:before,
.fieldset *:after {
  box-sizing: border-box;
}

.invalid_feedback {
  background-color: red;
  padding: 2px;
  position: absolute;
  top: -20px;
  left: 2px;
  color: #ffffff;
}

div[data-component="search/dates/dates-errors"] {
  display: table-caption;
}

.fieldset *,
.fieldset *:before,
.fieldset *:after {
  box-sizing: border-box;
}

.header-input {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  background: #fff;
  color: #333;
  height: 52px;
  border: 0;
  border-radius: 2px;
  display: table;
  padding: 0 16px;
  width: 100%;
  height: 52px;
}

.header-input:hover {
  box-shadow: 0 0 0 1px #0c9496 inset;
}

.unified-postcard__content:hover {
  border: 1px solid #f69e21;
}

body div#basiclayout {
  overflow: visible;
}

div#basiclayout {
  overflow: hidden;
  width: auto;
}

#basiclayout,
.basiclayout {
  margin: 0;
}

#basiclayout {
  clear: both;
  vertical-align: top;
  margin: 20px 0 0 0;
  width: 100%;
}

.flexible_layout_content_wrapper {
  max-width: 1094px;
  min-width: 620px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 5px;
}

.title {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.title--headline_3 .title__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.title__subtitle,
.title__text {
  margin: 0;
}

.title__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.title--headline_3 .title__subtitle {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.title__subtitle {
  color: #6b6b6b;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.title__subtitle,
.title__text {
  margin: 0;
}

.card__content {
  max-width: 100%;
  flex-grow: 1;
}

body .f-font-display_two {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.card__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.card__subtitle,
.card__title {
  margin: 0;
  padding: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom: 0;
}

.button--secondary.button--active,
.button--secondary:active,
.button--secondary:focus,
.button--secondary:hover,
.button--secondary:link,
.button--secondary:visited {
  color: #0c9496;
}

.button.button--active,
.button:active,
.button:focus,
.button:hover,
.button:link,
.button:visited {
  color: #fff;
  text-decoration: none;
}

.button--secondary {
  background-color: #fff;
  color: #0c9496 !important;
}

.button--secondary:before {
  background: transparent !important;
  border-color: #0c9496;
}

.button__text {
  position: relative;
}

.button.button--active,
.button:active,
.button:focus,
.button:hover,
.button:link,
.button:visited {
  color: #fff;
  text-decoration: none;
}

a:link {
  color: #0c9496;
  font-weight: bold;
}

.f-font-display_two {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.button--secondary:before {
  background: transparent;
  border-color: #0c9496;
}

.button--secondary:not(.bui-is-loading):hover:before {
  background-color: rgba(0, 113, 194, 0.06);
  border-color: #0c9496;
}

.button--secondary {
  background-color: #fff;
  color: #0c9496;
  margin-left: 5px;
  margin-right: 5px;
}

.dropdownFormReservation {
  display: flex;
  width: 300px;
  height: 135px;
  flex-direction: column;
}

.dropdownSubSection {
  display: flex;
}
.dropdownSubSection > *:nth-child(1) {
  flex-basis: 100%;
}

.dropdownSubSectionButtons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.dropdownSubSectionText {
  margin-top: 5px;
}

.button {
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 8px 16px;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  color: #fff;
  min-height: 36px;
  min-width: 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  border-radius: 2px;
  background: transparent;
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  background-color: #0c9496;
  border: 1px solid #0c9496;
  border-radius: 2px;
}

.promotion-postcards__row {
  padding-bottom: 15px;
}

.promotion-postcard__large:first-child {
  padding-left: 0;
}

.promotion-postcard__large {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-left: 15px;
  min-height: 5px;
}

.promotion-postcards__row .unified-postcard {
  margin-bottom: 0;
}

.unified-postcard {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.unified-postcard__pe {
  height: 270px;
}

.unified-postcard {
  border: 1px solid #fafcff;
  margin-bottom: 10px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.unified-postcard__content_pe {
  background-size: cover;
  height: 270px;
}

.unified-postcard__content {
  position: relative;
  border-radius: 3px 3px 0 0;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  padding: 75px 0 0 15px;
}

.unified-postcard__overlay {
  width: 100%;
  padding: 21px 15px 25px;
  top: 0;
  left: 0;
  margin-bottom: 12px;
  position: absolute;
  z-index: 2;
  color: #fff !important;
  text-shadow: 1px 1px 1px #000;
  box-sizing: border-box;
}

.unified-postcard__content:hover .unified-postcard__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 27, 65, 0.65) 0,
    rgba(0, 27, 65, 0) 100%
  );
}

.unified-postcard__header h3 {
  font-size: 1em;
  margin-bottom: 0;
}

.unified-postcard__header {
  font-size: 16px;
}

.unified-postcard__header a {
  font-weight: bold;
  font-size: 1.78em;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.unified-postcard__header a,
.unified-postcard__header a:visited {
  color: #fff !important;
  text-decoration: none;
}

.unified-postcard__header p {
  margin: 5px 0 0;
  font-weight: normal;
}

.promotion-postcard__small:first-child {
  padding-left: 0;
}

.promotion-postcard__small {
  box-sizing: border-box;
  float: left;
  width: 33.333333%;
  padding-left: 15px;
  min-height: 5px;
}

.unified-postcard {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.unified-postcard__pe {
  height: 270px;
}

.unified-postcard {
  border: 1px solid #fafcff;
  margin-bottom: 10px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.unified-postcard__content_pe {
  background-size: cover;
  height: 270px;
}

.unified-postcard__content {
  position: relative;
  border-radius: 3px 3px 0 0;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  padding: 75px 0 0 15px;
}

.unified-postcard__overlay {
  width: 100%;
  padding: 21px 15px 25px;
  top: 0;
  left: 0;
  margin-bottom: 12px;
  position: absolute;
  z-index: 2;
  color: #fff !important;
  text-shadow: 1px 1px 1px #000;
  background: linear-gradient(
    to bottom,
    rgba(0, 27, 65, 0.65) 0,
    rgba(0, 27, 65, 0) 100%
  );
  box-sizing: border-box;
}

.unified-postcard:hover .unified-postcard__overlay {
  background: -webkit-linear-gradient(
    top,
    rgba(0, 27, 65, 0.65) 0,
    rgba(0, 27, 65, 0) 100%
  ) !important;
}

.unified-postcard__header {
  font-size: 16px;
}

.unified-postcard__header h3 {
  font-size: 1em;
  margin-bottom: 0;
}

.unified-postcard__header a {
  font-weight: bold;
  font-size: 1.78em;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.unified-postcard__header a,
.unified-postcard__header a:visited {
  color: #fff !important;
  text-decoration: none;
}

.unified-postcard__header p {
  margin: 5px 0 0;
  font-weight: normal;
}

.card__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6b6b6b;
}

.carousel--new__title > span {
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.carousel--new__price {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 8px;
}

.color_black {
  color: #000 !important;
}

.review-score,
.review-score__badge {
  align-items: center;
}

.review-score--small .review-score__badge {
  width: 28px;
  min-width: 28px;
  height: 28px;
  border-radius: 5.09091px 5.09091px 5.09091px 0;
}

.review-score__badge {
  background: #0c9496;
  color: #fff;
  display: flex;
  justify-content: center;
  vertical-align: baseline;
  border-radius: 5.81818px 5.81818px 5.81818px 0;
  height: 32px;
  width: 32px;
  min-width: 32px;
}

.review-score,
.review-score__badge {
  align-items: center;
}

.review-score--inline .review-score__content {
  display: flex;
  align-items: center;
}

.review-score__badge + .review-score__content {
  margin-left: 8px;
}

.c-score.review-score--small .review-score__text {
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 2px;
  line-height: 1;
}

.review-score__title {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  line-height: 1;
}

.review-score--small {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.review-score,
.review-score__badge {
  align-items: center;
}

.review-score {
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.review-score--inline .review-score__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.review-score__text {
  color: #6b6b6b;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.review-score--inline .review-score__text:before {
  content: "\00b7";
  margin: 0 4px;
  line-height: 0;
  position: relative;
}

.promote_articles {
  padding: 30px 0 60px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.index__section {
  margin: 0;
  padding: 0 !important;
  float: none !important;
  overflow: visible !important;
  clear: both;
}

.spacer--largest {
  margin-bottom: 32px !important;
}

.promote_article:first-child {
  float: left;
}

a.promote_article {
  width: 32.2%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: #fff;
  float: left;
  height: 320px;
  text-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  margin-right: 15px;
  margin-bottom: 15px;
}

.promote_article:first-child .promote_article_img {
  margin-top: 0;
}

.promote_article_img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 120%;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  transition: all 0.4s;
  transform: translateZ(0);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.promote_article__overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 3px;
}

.promote_article__content {
  display: table-cell;
  vertical-align: bottom;
  padding: 10px 10px 15px;
  bottom: 0;
  width: 100%;
}

.promote_article__header {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: black;
}

.bui-card--transparent .carousel--new__content {
  padding: 8px 0;
}

.promote_article__description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin: 5px 0;
  color: black;
}

a.promote-articles-2-col {
  width: 49%;
}

a.bui-card,
a.bui-card:link {
  text-decoration: none;
  color: #262626;
}

.destination-recommendations {
  padding-bottom: 40px;
}

/* tabs style */
.nav-tabs .nav-link:hover {
  color: #0c9496;
  border-color: #0c9496;
  border: 1px solid;
}
.nav-tabs {
  border-bottom: 0 !important;
}
.nav-tabs .nav-link.active:hover {
  background: #ffffff;
  color: #0c9496;
}

.nav-tabs .nav-link.active {
  background: #0c9496;
  color: white;
}

.nav-tabs li:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-tabs .nav-link {
  border-radius: 999px;
  padding: 11px 15px;
  border: 1px solid transparent;
  color: #0c9496;
  font-weight: 500;
  font-size: 14px;
}

.destinations_properties_text {
  display: block;
  color: #a5a5a5;
  font-size: 13px;
  line-height: 16px;
}

.tabs-flex {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.inner-tabs-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.inner-tabs-links > * {
  flex-basis: 170px;
  margin: 0px 10px;
}

.inner-tabs-links a:hover {
  color: #0c9496;
}

.inner-tabs-links li {
  margin-bottom: 20px;
}

.inner-tabs-links a {
  color: #262626;
  font-weight: 500;
  font-size: 14px;
  display: block;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* tabs style end */

.slick-wrapper {
  margin: 0;
  padding: 0 10px;
}
.slick-slide img {
  border-radius: 5px !important;
}

.slick-wrapper .slick-slide {
  margin-right: 16px;
  height: 240px;
}

.slick-wrapper .slick-slide.slide-h {
  height: 350px;
}

.slide-img {
  width: 100%;
  height: 220px;
  border-radius: 2px;
}

.slick-wrapper .slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-wrapper .slick-slide:last-child {
  margin-right: 0px;
}

::ng-deep .slick-track {
  padding: 20px 0;
}

::ng-deep .slick-prev:before,
::ng-deep .carousel-control-prev-icon::before {
  color: #000 !important;
  font-size: 16px;
}

::ng-deep .slick-next:before,
::ng-deep .carousel-control-next-icon::before {
  color: #000 !important;
  font-size: 16px;
}

::ng-deep .slick-next,
::ng-deep .carousel-control-next-icon {
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  background: white;
  z-index: 2;
  right: -6px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%);
  border-radius: 45px;
}

::ng-deep .slick-prev,
::ng-deep .carousel-control-prev-icon {
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  background: white;
  z-index: 2;
  left: -10px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%);
  border-radius: 45px;
}

::ng-deep .carousel-control-prev-icon,
::ng-deep ::ng-deep .carousel-control-next-icon {
  background-color: #000;
  width: 24px;
  height: 24px;
}

::ng-deep .carousel-control-prev-icon::before,
::ng-deep .carousel-control-next-icon::before {
  color: #fff !important;
  font-size: 12px;
}

::ng-deep.slick-prev:hover,
::ng-deep .slick-prev:focus,
::ng-deep .slick-next:hover,
::ng-deep .slick-next:focus {
  background: white;
}

.title--strong_1 .title__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.button-class {
  cursor: pointer;
}

.btn-yellow {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  border: 1px solid white;
  border-radius: 2px;
  color: #fff !important;
  background-color: #f69e21;
  height: 52px;
  min-width: 100% !important;
  margin: 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__subtitle {
  color: #6b6b6b;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.card__content {
  padding: 16px 0 0;
}

::ng-deep .dropdown-menu {
  border: 0 !important;
  top: 12px !important;
  border-radius: 4px;
  box-shadow: 0 2px 16px rgb(0 0 0 / 15%);
  padding: 16px !important;
}

::ng-deep .ngb-dp-weekdays {
  border: 0 !important;
}

::ng-deep .ngb-dp-header,
::ng-deep .ngb-dp-header,
::ng-deep .ngb-dp-weekdays,
::ng-deep .ngb-dp-month-name {
  background-color: #fff !important;
}

::ng-deep .ngb-dp-month-name {
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 24p !important;
}

::ng-deep .ngb-dp-weekday {
  color: #6b6b6b !important;
}

::ng-deep .btn-link {
  color: #9d9d9d !important;
}

@media (min-width: 992px) {
  .title {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 900px) {
  .fieldset {
    position: static !important;
  }
}

@media (max-width: 767px) {
  .flexible_layout_content_wrapper {
    min-width: auto;
  }

  .row {
    gap: 3px;
  }

  .promotion-postcard__large {
    padding-left: 0px;
  }

  .promotion-postcard__small {
    width: 50%;
    padding-left: 0px;
  }

  a.promote_article {
    width: 100%;
  }

  .slick-wrapper .slick-slide {
    margin-right: 0;
  }
}
