<ng-template #alert let-modal>
  <app-alert [content]="mainDataService.alertContent" (click)="modal.dismiss()"></app-alert>
</ng-template>
<div class="content__wrappergray">
  <div class="">
    <div class="p__searchbox">
      <div class="">
        <form id="" role="search" class="pp-searchbox pp-searchbox--painted pp-searchbox--xp">
          <div class="fieldset">
            <div class="row m-0 p-0">
              <div class="col-md-10 p-0">
                <div class="row m-0 p-0">
                  <div class="col-md-4 px-6">
                    <div class="input-with-icon">
                      <img src="assets/images/9.svg" alt="" />
                      <input type="text" class="header-input pl-50" placeholder="Where are you going?"
                        name="searchViewModel.place" [(ngModel)]="searchViewModel.place" />
                      <div class="invalid_feedback" *ngIf="
                          searchViewModel.place.replaceAll(reg, '').length == 0
                        ">
                        Enter destination to search
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 my-md-0 px-6">
                    <div class="input-with-icon">
                      <span class="input-icon">
                        <svg aria-hidden="true" class="bk-icon -experiments-calendar sb-date-picker_icon-svg"
                          fill="#BDBDBD" focusable="false" height="20" role="presentation" width="20"
                          viewBox="0 0 128 128">
                          <path
                            d="m112 16h-16v-8h-8v8h-48v-8h-8v8h-16c-4.4 0-8 3.9-8 8.7v86.6c0 4.8 3.6 8.7 8 8.7h96c4.4 0 8-3.9 8-8.7v-86.6c0-4.8-3.6-8.7-8-8.7zm0 95.3a1.1 1.1 0 0 1 -.2.7h-95.6a1.1 1.1 0 0 1 -.2-.7v-71.3h96zm-68-43.3h-12v-12h12zm0 28h-12v-12h12zm26-28h-12v-12h12zm0 28h-12v-12h12zm26 0h-12v-12h12zm0-28h-12v-12h12z"
                            fill-rule="evenodd"></path>
                        </svg> </span><!-- name="searchViewModel.dateIn" [(ngModel)]="searchViewModel.dateIn" -->
                      <input (click)="d.toggle()" class="header-input pl-50" placeholder="Check-in"
                        name="searchViewModel.dateIn" [(ngModel)]="searchViewModel.pdateIn"
                        [displayMonths]="displayMonths" [navigation]="navigation" [outsideDays]="outsideDays"
                        [showWeekNumbers]="showWeekNumbers" [minDate]="minDate" ngbDatepicker #d="ngbDatepicker" />
                    </div>
                  </div>
                  <div class="col-md-2 my-md-0 px-6">
                    <div class="input-with-icon">
                      <span class="input-icon">
                        <svg aria-hidden="true" class="bk-icon -experiments-calendar sb-date-picker_icon-svg"
                          fill="#BDBDBD" focusable="false" height="20" role="presentation" width="20"
                          viewBox="0 0 128 128">
                          <path
                            d="m112 16h-16v-8h-8v8h-48v-8h-8v8h-16c-4.4 0-8 3.9-8 8.7v86.6c0 4.8 3.6 8.7 8 8.7h96c4.4 0 8-3.9 8-8.7v-86.6c0-4.8-3.6-8.7-8-8.7zm0 95.3a1.1 1.1 0 0 1 -.2.7h-95.6a1.1 1.1 0 0 1 -.2-.7v-71.3h96zm-68-43.3h-12v-12h12zm0 28h-12v-12h12zm26-28h-12v-12h12zm0 28h-12v-12h12zm26 0h-12v-12h12zm0-28h-12v-12h12z"
                            fill-rule="evenodd"></path>
                        </svg> </span><!-- name="searchViewModel.dateOut" [(ngModel)]="searchViewModel.dateOut" -->
                      <input (click)="t.toggle()" class="header-input pl-50" placeholder="Check-out"
                        name="searchViewModel.dateOut" [(ngModel)]="searchViewModel.pdateOut"
                        [displayMonths]="displayMonths" [navigation]="navigation" [outsideDays]="outsideDays"
                        [showWeekNumbers]="showWeekNumbers" [minDate]="minDate" ngbDatepicker #t="ngbDatepicker" />
                    </div>
                  </div>
                  <div class="col-md-4 px-6">
                    <div class="input-with-icon icon-2" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                      <img src="assets/images/39.svg" alt="" />
                      <button type="text" class="header-input px-40">
                        {{ searchViewModel.searchAdultsAmount }} adults .
                        {{ searchViewModel.searchChildrenAmount }} children .
                        {{ searchViewModel.searchRoomsAmount }} room
                      </button>
                      <i class="yellow_svg"><img src="assets/images/Union.png" alt="" /></i>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside">
                      <form class="dropdownFormReservation">
                        <div class="form-group">
                          <div class="dropdownSubSection">
                            <div>
                              <span class="dropdownSubSectionText">Adults</span>
                            </div>
                            <div class="dropdownSubSectionButtons">
                              <button class="button button--secondary" (click)="setAdults(-1)">
                                <span class="button__text">-</span>
                              </button>
                              <span class="dropdownSubSectionText">{{
                                searchViewModel.searchAdultsAmount
                                }}</span>
                              <button class="button button--secondary" (click)="setAdults(1)">
                                <span class="button__text">+</span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="dropdownSubSection">
                            <div>
                              <span class="dropdownSubSectionText">Children</span>
                            </div>
                            <div class="dropdownSubSectionButtons">
                              <button class="button button--secondary" (click)="setChildren(-1)">
                                <span class="button__text">-</span>
                              </button>
                              <span class="dropdownSubSectionText">{{
                                searchViewModel.searchChildrenAmount
                                }}</span>
                              <button class="button button--secondary" (click)="setChildren(1)">
                                <span class="button__text">+</span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="dropdownSubSection">
                            <div>
                              <span class="dropdownSubSectionText">Rooms</span>
                            </div>
                            <div class="dropdownSubSectionButtons">
                              <button class="button button--secondary" (click)="setRooms(-1)">
                                <span class="button__text">-</span>
                              </button>
                              <span class="dropdownSubSectionText">{{
                                searchViewModel.searchRoomsAmount
                                }}</span>
                              <button class="button button--secondary" (click)="setRooms(1)">
                                <span class="button__text">+</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 mt-1 mt-md-0 px-6">
                <button class="btn btn-yellow" (click)="searchSuggestions($event)">
                  Search
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="bodyconstraint" class="   ">
  <div id="bodyconstraint-inner">
    <div class="flexible_layout_content_wrapper">
      <div id="basiclayout" role="main" class="basiclayout_pe">
        <div class=""></div>
        <div></div>
        <div class="spacer--largest">
          <div class="title title--headline_3 p-2">
            <span class="title__text">Explore {{ mainDataService.getCurrentCountry() }}</span>
            <span class="title__subtitle">These popular destinations have a lot to offer</span>
          </div>
          <div class="container-fluid px-0">
            <div class="slick-wrapper">
              <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let city of cities; let i = index" class="slide button-class">
                  <div (click)="searchSuggestionsByPlace($event, city.title)">
                    <img src="{{
                        imageHelper.getImageDirectoryPath()
                      }}/location/cities/{{ city.image?.name }}" class="w-100" alt="city" width="162px"
                      height="162px" />
                    <div class="card__content">
                      <div class="card__title">{{ city.title }}</div>
                      <div class="title__subtitle">
                        {{ citySuggestionsLength[i] ?? "0" }} properties
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
        <div class="index__section spacer--largest">
          <h2 class="f-font-display_two bui-spacer--large"
            id="">
            Browse by property type
          </h2>
          <div class="container-fluid px-0">
            <div class="slick-wrapper">
              <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let category of bookingCategories; let i = index" class="slide button-class">
                  <div (click)="
                      searchSuggestionsByCategory($event, category.category)
                    ">
                    <img src="{{
                        imageHelper.getImageDirectoryPath()
                      }}/categories/booking-categories/{{
                        category.name
                      }}" class="w-100" alt="category" width="162px" height="162px" />
                  </div>
                  <div class="card__content">
                    <div class="title title--strong_1 card__title">
                      <span class="card__title">{{
                        category.category
                        }}</span>
                      <span class="title__subtitle">{{ suggestions[i] ?? "0" }} properties</span>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
        <svg class="bk-icon -iconset-heart" height="128" style="display: none" width="128" viewBox="0 0 128 128"
          role="presentation" aria-hidden="true" focusable="false">
          <path
            d="M64 112a3.6 3.6 0 0 1-2-.5 138.8 138.8 0 0 1-44.2-38c-10-14.4-10.6-26-9.4-33.2a29 29 0 0 1 22.9-23.7c11.9-2.4 24 2.5 32.7 13a33.7 33.7 0 0 1 32.7-13 29 29 0 0 1 22.8 23.7c1.3 7.2.6 18.8-9.3 33.3-9.1 13.1-24 25.9-44.2 37.9a3.6 3.6 0 0 1-2 .5z">
          </path>
        </svg>
        <h2 class="">Recommended destinations</h2>
        <div class="index__section bui-spacer--large">
          <div class="promotion-postcards__row">
            <div class="promotion-postcard__large mb-lg-3">
              <div>
                <div
                  class="unified-postcard  unified-postcard__pe  ">
                  <div class="unified-postcard__content  unified-postcard__content_pe" style="
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-image: url('{{
                      imageHelper.getImageDirectoryPath()
                    }}/location/cities/{{
                      recommendedCities[0].imageName
                    }}');" (click)="
                      searchSuggestionsByPlace(
                        $event,
                        recommendedCities[0]?.title
                      )
                    ">
                    <div class="unified-postcard__overlay">
                      <div class="unified-postcard__header">
                        <h3>
                          <a>
                            {{ recommendedCities[0]?.title }}
                            <img src="{{ imageHelper.getImageDirectoryPath() }}{{
                                recommendedCities[0].countryImageName
                              }}" alt="Country image" valign="middle" width="23px" height="17px" />
                          </a>
                        </h3>
                        <p>
                          {{ recommendedSuggestionsCount[0] ?? "0" }} properties
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="promotion-postcard__large mb-lg-3">
              <div>
                <div
                  class="unified-postcard  unified-postcard__pe  ">
                  <div class="unified-postcard__content  unified-postcard__content_pe" style="
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-image: url('{{
                      imageHelper.getImageDirectoryPath()
                    }}/location/cities/{{ recommendedCities[1].imageName }}');
                    " (click)="
                      searchSuggestionsByPlace(
                        $event,
                        recommendedCities[1]?.title
                      )
                    ">
                    <div class="unified-postcard__overlay">
                      <div class="unified-postcard__header">
                        <h3>
                          <a>
                            {{ recommendedCities[1]?.title }}
                            <img src="{{ imageHelper.getImageDirectoryPath() }}{{
                                recommendedCities[1].countryImageName
                              }}" alt="Country image" valign="middle" width="23px" height="17px" />
                          </a>
                        </h3>
                        <p>
                          {{ recommendedSuggestionsCount[1] ?? "0" }} properties
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="promotion-postcards__row  ">
            <div class="promotion-postcard__small">
              <div>
                <div
                  class="unified-postcard  unified-postcard__pe  "
                  data-idr-ufi="20016087">
                  <div class="unified-postcard__content  unified-postcard__content_pe" style="
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-image: url('{{
                      imageHelper.getImageDirectoryPath()
                    }}/location/cities/{{ recommendedCities[2].imageName }}');
                    " (click)="
                      searchSuggestionsByPlace(
                        $event,
                        recommendedCities[2]?.title
                      )
                    ">
                    <div class="unified-postcard__overlay">
                      <div class="unified-postcard__header">
                        <h3>
                          <a>
                            {{ recommendedCities[2]?.title }}
                            <img src="{{ imageHelper.getImageDirectoryPath() }}{{
                                recommendedCities[2].countryImageName
                              }}" alt="Country image" valign="middle" width="23px" height="17px" />
                          </a>
                        </h3>
                        <p>
                          {{ recommendedSuggestionsCount[2] ?? "0" }} properties
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="promotion-postcard__small">
              <div>
                <div
                  class="unified-postcard   unified-postcard__pe  "
                  data-idr-ufi="20126394">
                  <div class="unified-postcard__content  unified-postcard__content_pe" style="
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-image: url('{{
                      imageHelper.getImageDirectoryPath()
                    }}/location/cities/{{ recommendedCities[3].imageName }}');
                    " (click)="
                      searchSuggestionsByPlace(
                        $event,
                        recommendedCities[3]?.title
                      )
                    ">
                    <div class="unified-postcard__overlay">
                      <div class="unified-postcard__header">
                        <h3>
                          <a>
                            {{ recommendedCities[3]?.title }}
                            <img src="{{ imageHelper.getImageDirectoryPath() }}{{
                                recommendedCities[3].countryImageName
                              }}" alt="Country image" valign="middle" width="23px" height="17px" />
                          </a>
                        </h3>
                        <p>
                          {{ recommendedSuggestionsCount[3] ?? "0" }} properties
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="promotion-postcard__small">
              <div>
                <div
                  class="unified-postcard   unified-postcard__pe  "
                  data-idr-ufi="20079268">
                  <div class="unified-postcard__content  unified-postcard__content_pe" style="
                      background-position: center center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-image: url('{{
                      imageHelper.getImageDirectoryPath()
                    }}/location/cities/{{ recommendedCities[4].imageName }}');
                    " (click)="
                      searchSuggestionsByPlace(
                        $event,
                        recommendedCities[4]?.title
                      )
                    ">
                    <div class="unified-postcard__overlay">
                      <div class="unified-postcard__header">
                        <h3>
                          <a>
                            {{ recommendedCities[4]?.title }}
                            <img src="{{ imageHelper.getImageDirectoryPath() }}{{
                                recommendedCities[4].countryImageName
                              }}" alt="Country image" valign="middle" width="23px" height="17px" />
                          </a>
                        </h3>
                        <p>
                          {{ recommendedSuggestionsCount[4] ?? "0" }} properties
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <svg class="bk-icon -iconset-square_rating" height="128" style="display: none" width="128" viewBox="0 0 128 128"
          role="presentation" aria-hidden="true" focusable="false">
          <path
            d="M104 8H24A16 16 0 0 0 8 24v96h96a16 16 0 0 0 16-16V24a16 16 0 0 0-16-16zM64 88a24 24 0 1 1 24-24 24 24 0 0 1-24 24z">
          </path>
        </svg>
        <div
          class="index__section spacer--largest   ">
          <h2 class="f-font-display_two bui-spacer--large">
            Homes guests love
          </h2>
          <div class="container-fluid px-0">
            <div class="slick-wrapper">
              <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig1">
                <div ngxSlickItem *ngFor="let item of homeGuestsSuggestions; let i = index"
                  class="slide slide-h button-class">
                  <div class="slide-img">
                    <img src="{{
                        imageHelper.getImageDirectoryPath()
                      }}/categories/booking-categories/{{
                        item.images[0]?.name
                      }}" class="w-100" alt="" />
                  </div>
                  <div class="card__content carousel--new__content">
                    <h3 class="card__title carousel--new__title">
                      <span>{{ item?.name }}</span>
                    </h3>
                    <p class="card__subtitle">
                      {{
                      item?.address?.city?.title +
                      ", " +
                      item?.address?.country?.title
                      }}
                    </p>
                    <p class="carousel--new__price bui_color_black">
                      Starting from USD {{ suggestionStartsFrom[i] ?? "0" }}
                    </p>
                    <div style="margin-top: 4px">
                      <div class="review-score c-score review-score--inline review-score--small">
                        <div class="review-score__badge" aria-label="Scored 0 " *ngIf="suggestionGrades[i] != 0">
                          {{ mathHelper.Round10(suggestionGrades[i] ?? "") }}
                        </div>
                        <div class="review-score__content">
                          <div *ngIf="
                              mathHelper.Round10(suggestionGrades[i]) >= 9.7;
                              then exceptionalBlock
                            "></div>
                          <ng-template #exceptionalBlock>Exceptional</ng-template>
                          <div *ngIf="
                              mathHelper.Round10(suggestionGrades[i]) >= 9.0 &&
                                mathHelper.Round10(suggestionGrades[i]) < 9.7;
                              then wonderfulBlock
                            "></div>
                          <ng-template #wonderfulBlock>Wonderful</ng-template>
                          <div *ngIf="
                              mathHelper.Round10(suggestionGrades[i]) >= 8.7 &&
                                mathHelper.Round10(suggestionGrades[i]) < 9.0;
                              then excellentBlock
                            "></div>
                          <ng-template #excellentBlock>Excellent</ng-template>
                          <div *ngIf="
                              mathHelper.Round10(suggestionGrades[i]) >= 8.2 &&
                                mathHelper.Round10(suggestionGrades[i]) < 8.7;
                              then veryGoodBlock
                            "></div>
                          <ng-template #veryGoodBlock>Very Good</ng-template>
                          <div *ngIf="
                              mathHelper.Round10(suggestionGrades[i]) > 7.6 &&
                                mathHelper.Round10(suggestionGrades[i]) < 8.2;
                              then goodBlock
                            "></div>
                          <ng-template #goodBlock>Good</ng-template>
                          <div *ngIf="
                              mathHelper.Round10(suggestionGrades[i]) >= 7.0 &&
                                mathHelper.Round10(suggestionGrades[i]) < 7.7;
                              then pleasantBlock
                            "></div>
                          <ng-template #pleasantBlock>Normal</ng-template>
                          <div class="review-score__badge_unrated" aria-label="Scored 0"
                            *ngIf="suggestionGrades[i] == 0">
                            Unrated
                          </div>
                          <div class="review-score__text">
                            {{ reviewsCount[i] ?? "0" }} reviews
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
        <div
          class="destination-recommendations">
          <h2 class="f-font-display_two bui-spacer--large  my-4">
            Destinations we love
          </h2>
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink>Regions</a>
              <ng-template ngbNavContent>
                <div class="tabs-flex">
                  <ul class="inner-tabs-links">
                    <div *ngFor="let region of regions; let i = index">
                      <li (click)="
                          searchSuggestionsByPlace($event, region?.title)
                        ">
                        <a class="button-class">{{ region?.title }}</a>
                        <div class="destinations_properties_text">
                          {{ regionsSuggestions[i] ?? "0" }} properties
                        </div>
                      </li>
                    </div>
                  </ul>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>Cities</a>
              <ng-template ngbNavContent>
                <div class="">
                  <div>
                    <ul class="inner-tabs-links">
                      <div *ngFor="let city of footerCities; let i = index">
                        <li (click)="searchSuggestionsByPlace($event, city)">
                          <a class="button-class">{{ city }}</a>
                          <div class="wcu-seo-regions-poi destinations_properties_text">
                            {{ citySuggestionsLength[i] ?? "0" }} properties
                          </div>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>Countries</a>
              <ng-template ngbNavContent>
                <div class="">
                  <div>
                    <ul class="inner-tabs-links">
                      <div *ngFor="let country of countries; let i = index">
                        <li (click)="searchSuggestionsByPlace($event, country)">
                          <a class="button-class">{{ country }}</a>
                          <div class="wcu-seo-regions-poi destinations_properties_text">
                            {{ countriesSuggestions[i] ?? "0" }} properties
                          </div>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="mt-4"></div>
        </div>
      </div>
      <!-- /basiclayout -->
    </div>
  </div>
</div>
