<div class="container-fluid">
  <ul class="list-group list-group-flush container-fluid">
    <li class="list-group-item">
      <div class="list-group-item_content">
        <div class="col-5">
          <h1>Preferences</h1>
          <p>Change your language, currency, and accessibility requirements.</p>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col">Currency</div>
        <div class="col-6">
          <div *ngIf="!isEditing[0]">
            <p *ngIf="!user.currency">Choose a currency</p>
            <p *ngIf="user.currency">{{ user.currency }}</p>
          </div>
          <div *ngIf="isEditing[0]">
            <form>
              <label for="currenciesSelect" class="form-label">Currency</label>
              <select class="form-select" aria-label="Default select example" id="currenciesSelect" name="user.currency"
                [(ngModel)]="user.currency">
                <option selected>Select the currency</option>
              </select>
            </form>
          </div>
        </div>
        <div *ngIf="!isEditing[0]" class="colTest">
          <button class="buttonTest" (click)="editButtonClick(0, user.currency)" [disabled]="isDisabled[0]">
            Edit
          </button>
        </div>
        <div *ngIf="isEditing[0]" class="colTest">
          <div>
            <button class="buttonTest1" (click)="cancelButtonClick(0)">
              Cancel
            </button>
          </div>
          <div>
            <button class="buttonTest" (click)="saveCurrency(0)">Save</button>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col">Language</div>
        <div class="col-6">
          <div *ngIf="!isEditing[1]">
            <p *ngIf="!user?.language">Choose a language</p>
            <p *ngIf="user?.language">{{ user.language }}</p>
          </div>
          <div *ngIf="isEditing[1]">
            <form>
              <label for="languagesSelect" class="form-label">Language</label>
              <select class="form-select" aria-label="Default select example" id="languagesSelect" name="user.language"
                [(ngModel)]="user.language">
                <option value="-1" selected>Select the language</option>
              </select>
            </form>
          </div>
        </div>
        <div *ngIf="!isEditing[1]" class="colTest">
          <button class="buttonTest" (click)="editButtonClick(1, user.language)" [disabled]="isDisabled[1]">
            Edit
          </button>
        </div>
        <div *ngIf="isEditing[1]" class="colTest">
          <div>
            <button class="buttonTest1" (click)="cancelButtonClick(1)">
              Cancel
            </button>
          </div>
          <div>
            <button class="buttonTest" (click)="saveLanguage(1)">Save</button>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col">Mailings</div>
        <div class="col-6">
            <p *ngIf="!user.hasMailing">Subscribe and we'll send the best deals to you</p>
            <p *ngIf="user.hasMailing">If you don't want us to send you mails, you can unsubscribe from this</p>
        </div>
        <div *ngIf="!isEditing[2]" class="colTest">
          <button *ngIf="!user.hasMailing" class="buttonTest" (click)="toggleUserMailings(true)" [disabled]="isDisabled[2]">
            Subscribe
          </button>
          <button *ngIf="user.hasMailing" class="buttonTest" (click)="toggleUserMailings(false)" [disabled]="isDisabled[2]">
            Unsubscribe
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
