<div>
  <div class="personal_details_container">
    <h1>Security</h1>
    <p>Adjust your security settings and set up two-factor authentication.</p>
  </div>
</div>
<div class="container container-fluid">
  <ul class="list-group list-group-flush container-fluid">
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          Password
        </div>
        <div class="col-6">
          <div>
            <p *ngIf="!isEditing[0]">Reset your password regularly to keep your account secure</p>
            <p *ngIf="isEditing[0] && !isEmailSent">To change your password, we need to send a reset link to your email address</p>
            <p *ngIf="isEmailSent">We sent a password reset email to {{authHelper.getLogin()}}.</p>
          </div>
        </div>
        <div *ngIf="!isEditing[0]" class="col">
          <button class="btn btn-outline-primary" (click)="editButtonClick(0)" [disabled]="isDisabled[0]">Reset</button>
        </div>
        <div *ngIf="isEditing[0]" class="col">
          <div *ngIf="!isEmailSent">
            <button class="btn btn-outline-primary" (click)="cancelButtonClick(0)">Cancel</button>
            <button class="btn btn-primary" (click)="sendResetPasswordEmail(0)">Send email</button>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          Delete account
        </div>
        <div class="col-6">
          <div>
            <p *ngIf="!user.currency.abbreviation">Permanently delete your Booking.com account</p>
            <p *ngIf="user.currency.abbreviation">Why do you want to delete your account?</p>
            <form *ngIf="isEditing[1]">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="tooManyEmails" id="tooManyEmails" checked [disabled]="isDisabled[1]">
                <label class="form-check-label" for="tooManyEmails">
                  I get too many emails from Booking.com
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="differentEmails" id="differentEmails" >
                <label class="form-check-label" for="differentEmails">
                  I want to use a different email address for my account
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="other" id="other" >
                <label class="form-check-label" for="other">
                  Other
                </label>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="!isEditing[1]" class="col">
          <button class="btn btn-outline-primary" (click)="editButtonClick(1)" [disabled]="isDisabled[1]">Delete account</button>
        </div>
        <div *ngIf="isEditing[1]" class="col">
          <div>
            <button class="btn btn-outline-primary" (click)="cancelButtonClick(1)">Cancel</button>
            <button class="btn btn-primary" (click)="deleteAccount(1)">Delete account</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
