/* header */

.apartLogo {
  position: absolute;
  width: 243px;
  height: 199px;
  left: 202px;
  top: 105px;
  font-family: Hello Katterine;
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  line-height: 199px;
  /* identical to box height */

  color: #000000;
}
.header {
  background: #0c9496;
}

.header--rounded-tabs .header__bar {
  padding: 12px 32px;
}

.header__bar:not(:last-child) {
  padding-bottom: 0;
}

.header__bar {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

.header__main {
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  padding: 8px 16px 8px 0;
}

.header--rounded-tabs .header__logo svg {
  width: auto;
}

.header--logo-large .header__logo img,
.header--logo-large .header__logo svg {
  height: 20px;
  display: block;
}

.bk-icon {
  vertical-align: middle;
  max-width: 256px;
  max-height: 256px;
  overflow: hidden;
}

.group--align-end.group--inline {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.group--inline.group--vertical-align-middle {
  align-items: center;
}

.group--inline {
  flex-direction: row !important;
  margin: -8px 0 0 -8px;
  flex-wrap: wrap;
}

.group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.header .group--vertical-align-middle > *,
.header .group--vertical-align-middle > *:first-child {
  vertical-align: middle !important;
}
.group--inline > :first-child {
  margin: 8px 0 0 8px !important;
}

.group--inline > .group__item {
  flex-shrink: 1;
}

.group--inline > * {
  margin: 8px 0 0 8px !important;
}

.group > :first-child {
  margin-top: 0;
}

.group__item {
  flex-shrink: 0;
}

.group > * {
  margin-top: 8px !important;
}

.button--large.button--light{
  padding-left: 14px;
  padding-right: 14px;
}

.button--large {
  padding: 12px 24px;
  min-height: 48px;
  min-width: 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.button--light {
  color: #fff;
}

.header  {
  font-weight: 500 !important;
}

.button--large {
  padding: 12px 24px;
  min-height: 48px;
  min-width: 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.button--light:before {
  border-color: transparent;
  background-color: transparent;
}
.dropdown-menu {
  border: 1px solid #f69e21 !important;
  margin-top: 5px;
  padding: 5px 0px 5px 0px !important;
}

.dropdown-item {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.dropdown-item:hover {
  border-top: 1px solid #f69e21;
  border-bottom: 1px solid #f69e21;
  color: #f69e21 !important;
  background-color: #cfcfcf;
}

.robotolight {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  margin-left: 5px;
}
.robotomonoregular {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  margin-left: 5px;
}
.robotoregular {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  /* identical to box height */

  color: #ffffff;
}
.button__text {
  position: relative;
  font-size: 15px;
  padding: 2px;
}


.avatar--button-auth {
  position: relative;
  left: 5px;
  font-size: 15px;
  color: black;
}

.avatar--small {
  height: 24px;
  width: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.avatar {
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 50%;

  display: flex;

  align-items: center;
  
  justify-content: center;
  background-color: #494949;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.avatar__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.avatar--small {
  height: 24px;
  width: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.header__tab {
  max-width: 1140px;
  margin: 0 auto;
}

.icon1 {
  display: inline-block;
  fill: currentColor;
}


.bk-icon {
  vertical-align: middle;
  max-width: 256px;
  max-height: 256px;
  overflow: hidden;
}

.header  {
  font-weight: 500 !important;
}

.button--light {
  padding-left: 8px;
  padding-right: 8px;
  color: #fff;
}

.click-component {
  cursor: pointer;
}

.button1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 8px 16px;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  color: #0c9496;
  min-height: 15px;
  min-width: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  background: #fff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.button1:hover {
  background-color: #0c9496;
  color: white;
}

.button2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 8px 16px;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  color: #fff;
  min-height: 15px;
  min-width: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  background: #f69e21;
  border: 1px solid #f69e21;
  border-radius: 5px;
}

.button--light:before {
  border-color: transparent;
  background-color: transparent;
}

@media (min-width: 992px) {
  .header__bar:not(:last-child) {
    padding-bottom: 8px;
  }

  .header__main {
    align-items: center;
    flex-direction: row;
  }

  .header--logo-large .header__logo img,
  .header--logo-large .header__logo svg {
    height: 24px;
  }
}

@media (max-width: 767px) {
  .joinpartnerInfo2 {
    flex-wrap: wrap;
  }
}
.joinpartnerInfo {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  background: #fff;
  padding: 46px 0px;
  justify-content: center;
}
.joinpartnerInfo2 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.joinpartnerText {
  color: #0c9496;
  font-size: 30px;
}
