<ng-template #alert let-modal>
  <app-alert
    [content]="mainDataService.alertContent"
    (click)="modal.dismiss()"
  ></app-alert>
</ng-template>
<!-- nav -->
<header class="header header--logo-large header--rounded-tabs">
  <nav class="header__bar navbar navbar-expand-sm">
    <div class="header__main">
      <div class="header__logo">
        <span>
          <label class="robotoregular click-component" routerLink=""
            >Apart.com</label
          >
        </span>
      </div>
    </div>

    <div>
      <div
        class="group group--inline group--align-end group--vertical-align-middle"
      >
        <div class="group__item">
          <button
            class="button1 button--large button--light"
            data-toggle="tooltip"
            data-placement="top"
            title="Choose your currency"
          >
            <span class="button__text">
              <span aria-hidden="true"> USD </span>
            </span>
          </button>
        </div>
        <div
          *ngIf="
            authService.getLogCondition() === true;
            then thenBlock;
            else elseBlock
          "
        ></div>
        <ng-template #thenBlock>
          <div class="group__item" class="dropdown">
            <button
              class="button2 button--light button--large"
              data-toggle="dropdown"
            >
              <div class="avatar avatar--small" aria-hidden="true">
                <img
                  *ngIf="
                    authService.getUserImage() &&
                    authService.getUserImage().indexOf('https://') !== -1
                  "
                  class="avatar__image"
                  src="{{ authService.getUserImage() }}"
                  alt="user image"
                />
                <img
                  *ngIf="
                    authService.getUserImage() &&
                    authService.getUserImage().indexOf('https://') === -1
                  "
                  class="avatar__image"
                  src="{{ imageHelper.getRootDirectoryPath() }}{{
                    authService.getUserImage()
                  }}"
                  alt="user image"
                />
                <img
                  *ngIf="!authService.getUserImage()"
                  class="avatar__image"
                  src="../../assets/images/User1.png"
                  alt="user image"
                />
              </div>
              <span class="avatar--button-auth">
                <span aria-hidden="true"> {{ authHelper.getLogin() }} </span>
              </span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a class="dropdown-item" routerLink="/viewproperties"
                  ><span class="mdi mdi-account-outline"></span
                  ><span class="robotomonoregular">View properties</span></a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/lp/addproperty"
                  ><span class="mdi mdi-account-outline"></span
                  ><span class="robotomonoregular">Add property</span></a
                >
              </li>
              <li>
                <a class="dropdown-item click-component" (click)="userSignOut()"
                  ><i class="robotomonoregular">Logout</i></a
                >
              </li>
            </ul>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="group__item">
            <a class="button2 bui-button--secondary" routerLink="/auth">
              <span class="button__text"> Register </span>
            </a>
          </div>
          <div class="group__item">
            <svg
              class="bk-icon -streamline-account_create"
              height="24"
              style="display: none"
              width="24"
              viewBox="0 0 24 24"
              role="presentation"
              aria-hidden="true"
              focusable="false"
            >
              <path
                d="M22.5 17.25a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0zm1.5 0a6.75 6.75 0 1 0-13.5 0 6.75 6.75 0 0 0 13.5 0zm-7.5-3v6a.75.75 0 0 0 1.5 0v-6a.75.75 0 0 0-1.5 0zM14.25 18h6a.75.75 0 0 0 0-1.5h-6a.75.75 0 0 0 0 1.5zM1.5 17.25a6.003 6.003 0 0 1 8.356-5.518.75.75 0 0 0 .588-1.38A7.504 7.504 0 0 0 0 17.25a.75.75 0 0 0 1.5 0zm9.375-12.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0zm1.5 0a4.875 4.875 0 1 0-9.75 0 4.875 4.875 0 0 0 9.75 0z"
              ></path>
            </svg>
            <a class="button2 bui-button--secondary" routerLink="/auth">
              <span class="button__text"> Sign in </span>
            </a>
          </div>
        </ng-template>
      </div>
    </div>
  </nav>
</header>
<body>
  <div class="joinpartnerInfo">
    <div class="joinpartnerInfo2">
      <h1 class="">
        <div class="joinpartnerText">
          {{ authHelper.getLogin() == "" ? "Hi" : authHelper.getLogin() }}, list
          your
          <div class="">
            <div class="">
              <p class="joinpartnerText">apartment</p>
            </div>
          </div>
          on Booking.com
        </div>
        <!-- <div class="joinpartnerText">
          {{authHelper.getLogin()}}, list anything on Booking.com
        </div> -->
      </h1>
      <h3 class="joinpartnerText">
        Registration can take as little as 15 minutes to complete – get started
        today
      </h3>
    </div>
  </div>
</body>
<app-footer></app-footer>
