<ng-template #alert let-modal>
  <app-alert [content]="mainDataService.alertContent" (click)="modal.dismiss()"></app-alert>
</ng-template>
<!-- nav -->
<header
  class="bui-header bui-header--logo-large bui-u-hidden-print bui-header--rounded-tabs"
>
  <nav class="bui-header__bar navbar navbar-expand-sm">
    <div class="bui-header__main">
      <div class="bui-header__logo">
        <span>
          <label class="robotoregular click-component" routerLink="">Apart.com</label>
        </span>
      </div>
    </div>

    <div>
      <a class="d-block d-md-none text-white"></a>
      <div
        class="bui-group bui-button-group bui-group--inline bui-group--align-end bui-group--vertical-align-middle"
      >
        <div class="bui-group__item">
          <button
            class="bui-button1 bui-button--large bui-button--light"
            data-toggle="tooltip"
            data-placement="top"
            title="Choose your currency"
          >
            <span class="bui-button__text">
              <span aria-hidden="true"> USD </span>
            </span>
          </button>
        </div>
        <div class="bui-group__item">
          <a
            class="bui-button1 bui-button--light bui-button--large"
          >
            <span class="bui-button__icon">
              <span aria-hidden="true" class="bui-icon1 bui-icon--large">
                <svg
                  class="bk-icon -streamline-bell_normal"
                  height="24"
                  width="24"
                  viewBox="0 0 24 24"
                  role="presentation"
                  aria-hidden="true"
                  focusable="false"
                >
                  <path
                    d="M9.28 21.961a2.837 2.837 0 0 0 5.445 0 .75.75 0 1 0-1.44-.422 1.337 1.337 0 0 1-2.565 0 .75.75 0 1 0-1.44.422zM12.75 3V.75a.75.75 0 0 0-1.5 0V3a.75.75 0 0 0 1.5 0zm-.75.75a6.75 6.75 0 0 1 6.75 6.75c0 3.154.29 5.436.785 6.994.323 1.02.684 1.59.995 1.84L21 18H3l.59 1.212c.248-.315.572-.958.88-2 .49-1.66.78-3.872.78-6.712A6.75 6.75 0 0 1 12 3.75zm0-1.5a8.25 8.25 0 0 0-8.25 8.25c0 2.702-.272 4.772-.72 6.288-.254.864-.493 1.336-.62 1.5A.75.75 0 0 0 3 19.5h18c.708 0 1.022-.892.47-1.335.019.016-.008-.015-.07-.113-.14-.223-.29-.553-.435-1.012-.443-1.396-.715-3.529-.715-6.54A8.25 8.25 0 0 0 12 2.25z"
                  ></path>
                </svg>
              </span>
              <span class="bui-u-sr-only"> Notification Bell </span>
            </span>
          </a>
        </div>
        <div *ngIf="authService.getLogCondition() === true; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="bui-group__item" class="dropdown">
            <button
              class="bui-button2 bui-button--light bui-button--large"
              data-toggle="dropdown"
            >
              <div class="bui-avatar bui-avatar--small" aria-hidden="true">
                <img *ngIf="authService.getUserImage() && authService.getUserImage().indexOf('https://') !== -1"
                class="bui-avatar__image"
                src="{{ authService.getUserImage() }}"
                alt="user image"
              />
              <img *ngIf="authService.getUserImage() && authService.getUserImage().indexOf('https://') === -1"
                class="bui-avatar__image"
                src="{{ imageHelper.getRootDirectoryPath() }}{{ authService.getUserImage() }}"
                alt="user image"
              />
              <img *ngIf="!authService.getUserImage()"
                class="bui-avatar__image"
                src="../../assets/images/User1.png"
                alt="user image"
            />
              </div>
              <span class="bui-avatar--button-auth">
                <span aria-hidden="true"> {{authHelper.getLogin()}} </span>
              </span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a class="dropdown-item" routerLink="/viewproperties"
                  ><span class="mdi mdi-account-outline"></span
                  ><span class="robotomonoregular">View properties</span></a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/lp/addproperty"
                  ><span class="mdi mdi-account-outline"></span
                  ><span class="robotomonoregular">Add property</span></a
                >
              </li>
              <li>
                <a class="dropdown-item click-component" (click)="userSignOut()"
                  ><i class="robotomonoregular">Logout</i></a
                >
              </li>
            </ul>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="bui-group__item">
            <a
              class="bui-button2 bui-button--secondary js-header-login-link"
              routerLink="/auth"
            >
              <span class="bui-button__text"> Register </span>
            </a>
          </div>
          <div class="bui-group__item">
            <svg
              class="bk-icon -streamline-account_create"
              height="24"
              style="display: none"
              width="24"
              viewBox="0 0 24 24"
              role="presentation"
              aria-hidden="true"
              focusable="false"
            >
              <path
                d="M22.5 17.25a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0zm1.5 0a6.75 6.75 0 1 0-13.5 0 6.75 6.75 0 0 0 13.5 0zm-7.5-3v6a.75.75 0 0 0 1.5 0v-6a.75.75 0 0 0-1.5 0zM14.25 18h6a.75.75 0 0 0 0-1.5h-6a.75.75 0 0 0 0 1.5zM1.5 17.25a6.003 6.003 0 0 1 8.356-5.518.75.75 0 0 0 .588-1.38A7.504 7.504 0 0 0 0 17.25a.75.75 0 0 0 1.5 0zm9.375-12.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0zm1.5 0a4.875 4.875 0 1 0-9.75 0 4.875 4.875 0 0 0 9.75 0z"
              ></path>
            </svg>
            <a
              class="bui-button2 bui-button--secondary js-header-login-link"
              routerLink="/auth"
            >
              <span class="bui-button__text"> Sign in </span>
            </a>
          </div>
        </ng-template>
      </div>
    </div>
  </nav>
</header>
<body>
  <div class="joinpartnerInfo">
    <div class="joinpartnerInfo2">
      <h1 class="">
        <div class="joinpartnerText">
          {{authHelper.getLogin() == '' ? "Hi" : authHelper.getLogin()}}, list your
          <div class="">
            <div class="">
              <p class="joinpartnerText">apartment</p>
            </div>
          </div>
          on Booking.com
        </div>
        <!-- <div class="joinpartnerText">
          {{authHelper.getLogin()}}, list anything on Booking.com
        </div> -->
      </h1>
      <h3 class="joinpartnerText">
        Registration can take as little as 15 minutes to complete – get started
        today
      </h3>
    </div>
  </div>
</body>
<app-footer></app-footer>
