<ng-template #alert let-modal>
  <app-alert [content]="mainDataService.alertContent" (click)="modal.dismiss()"></app-alert>
</ng-template>
<div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />
  <button type="button" class="btn btn-dark">search</button>
</div>

<div class="row">
  <div class="btn-group" role="group" aria-label="Basic example">
    <!-- <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#add">Add</button> -->
    <!-- <button type="button" id="editButton" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#edit" disabled>Edit</button> -->
    <button type="button" id="deleteButton" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#delete"
      disabled>Delete</button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="addLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLabel">Add suggestion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Save</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="editLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Edit suggestion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Save</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteLabel">Delete suggestion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
          (click)="deleteSuggestion()">Delete</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-dark table-bordered border-white">
  <thead>
    <tr>
      <th scope="col text-center align-self-center"></th>
      <th scope="col text-center align-self-center">#</th>
      <th scope="col">Unique code</th>
      <th scope="col">Name</th>
      <th scope="col">Guests amount</th>
      <th scope="col">Bathrooms amount</th>
      <th scope="col">Rooms amount</th>
      <th scope="col">Star rating</th>
      <th scope="col">Progress</th>
      <th scope="col">User currency price</th>
      <th scope="col">USD price</th>
      <th scope="col">Parking</th>
      <th scope="col">Contact details</th>
      <th scope="col">Address</th>
      <th scope="col">User</th>
      <th scope="col">Service category</th>
      <th scope="col">Booking category</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let suggestion of suggestions">
      <th scope="row">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="suggestionRadio" id="suggestionRadio"
            value={{suggestion.id}} (click)="setSuggestion(suggestion)">
        </div>
      </th>
      <td>{{suggestion.id}}</td>
      <td>{{suggestion.uniqueCode}}</td>
      <td>{{suggestion.name}}</td>
      <td>{{suggestion.guestsAmount}}</td>
      <td>{{suggestion.bathroomsAmount}}</td>
      <td>{{suggestion.roomsAmount}}</td>
      <td>{{suggestion.starRating}}</td>
      <td>{{suggestion.progress}}</td>
      <td>{{suggestion.priceInUserCurrency}}</td>
      <td>{{suggestion.priceInUSD}}</td>
      <td>{{suggestion.isParkingAvailable}}</td>
      <td>{{suggestion.contactDetails?.firstName + ' '+ suggestion.contactDetails?.lastName + ', ' +
        suggestion.contactDetails?.phoneNumber + ', ' + suggestion.contactDetails?.email}}</td>
      <td>{{suggestion.address?.city?.title + ", " + suggestion.address?.country?.title}}</td>
      <td>{{suggestion.user?.email}}</td>
      <td>{{suggestion.serviceCategory?.category}}</td>
      <td>{{suggestion.bookingCategory?.category}}</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-dark" (click)="loadMore()">Load more</button>
