<header
  class="bui-header bui-header--logo-large bui-u-hidden-print bui-header--rounded-tabs"
>
  <nav class="bui-headerbar">
    <div class="bui-headermain">
      <div class="bui-headerlogo">
        <span>
          <label class="robotoregular" routerLink="">Apart.com</label>
        </span>
      </div>
    </div>

    <div>
      <div class="bui-groupitem">
        <span class="bui-buttontext">
          <div class="bui-avatar bui-avatar--small" aria-hidden="true">
            <img
              class="bui-avatarimage"
              src="assets/images/us-flag.png"
              alt=""
            />
          </div>
        </span>
      </div>
    </div>
  </nav>
</header>

<body>
  <div class="row">
    <div class="col-8">
      <label class="btn btn-default p-0">
        <input
          type="file"
          accept="image/*"
          multiple
          (change)="selectFiles($event)"
        />
      </label>
    </div>
  </div>
  <div class="imgpreview">
    <img *ngFor="let preview of previews" [src]="preview" class="preview" />
  </div>
</body>
