<header
  class="bui-header bui-header--logo-large bui-u-hidden-print bui-header--rounded-tabs"
>
  <nav class="bui-header__bar">
    <div class="bui-header__main">
      <div class="bui-header__logo">
        <span>
          <label class="robotoregular" routerLink="">Apart.com</label>
        </span>
      </div>
    </div>

    <div>
      <div class="bui-group__item">
        <span class="bui-button__text">
          <div class="bui-avatar bui-avatar--small" aria-hidden="true">
            <img
              class="bui-avatar__image"
              src="assets/images/us-flag.png"
              alt=""
            />
          </div>
        </span>
      </div>
    </div>
  </nav>
</header>

<body>
  <div class="section__container">
    <button
      id="automation_id_section_property_photos"
      type="button"
      disabled=""
      class="section_button"
    >
      <span class="">Photos</span>
    </button>
    <div class="steps__container">
      <div class="navstep__container"></div>
    </div>
  </div>
  <div class="name-and-location-container">
    <div class="header-name-and-location">What's your contact information?</div>

    <div class="Input-name-and-location">
      <div>
        <input
          class="inputfield"
          type="file"
          name="uploadedFiles"
          (change)="selectFiles($event)"
          (change)="handleFileInput($any($event).target.files)"
          multiple
        />
      </div>
      <div class="imgpreview">
        <img *ngFor="let preview of previews" [src]="preview" class="preview" />
      </div>
    </div>
    <div style="display: flex">
      <button
        class="name-and-location-button-back"
        routerLink="/lp/addproperty"
      >
        Go back
      </button>
      <button class="name-and-location-button" (click)="addPropertyPhotos()">
        Continue
      </button>
    </div>
  </div>
</body>
