<div class="personal_details_container">
  <h1>Personal details</h1>
  <p>Update your info and find out how it's used.</p>

  <div class="personal-details_item">
    <div class="">
      <span class="personal-details_text">Title</span>
    </div>
    <div class="">
      <input type="text" />
    </div>
    <div class="">
      <button>Edit</button>
    </div>
  </div>
  <div class="personal-details_item">
    <span class="personal-details_text">Name</span>
    <input type="text" />
    <button>Edit</button>
  </div>
  <div class="personal-details_item">
    <span class="personal-details_text">Display Name</span>
    <input type="text" />
    <button>Edit</button>
  </div>
  <div class="personal-details_item">
    <span class="personal-details_text">Email address</span>
    <input type="text" />
    <button>Edit</button>
  </div>
  <div class="personal-details_item">
    <span class="personal-details_text">Phone number</span>
    <input type="text" />
    <button>Edit</button>
  </div>
  <div class="personal-details_item">
    <span class="personal-details_text">Date of brith</span>
    <input type="text" />
    <button>Edit</button>
  </div>
  <div class="personal-details_item">
    <span class="personal-details_text">Nationality</span>
    <input type="text" />
    <button>Edit</button>
  </div>
  <div class="personal-details_item">
    <span class="personal-details_text">Gender</span>
    <input type="text" />
    <button>Edit</button>
  </div>
  <div class="personal-details_item">
    <span class="personal-details_text">Address</span>
    <input type="text" />
    <button>Edit</button>
  </div>
</div>
