.colTest {
  display: flex;
  flex: 1 0 0%;
  gap: 3rem;
  flex-direction: column;
  align-items: flex-end;
}

.colTest1 {
  display: flex;
  flex: 1 0 0%;
  grid-gap: 3rem;
  gap: 16rem;
  flex-direction: column;
  align-items: flex-end;
}

.colTest > .change-image {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  padding: 0px;
  margin-right: 15px;
}

.colTest > button > img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.list-group-item {
  width: 100%;
  align-items: center;
}

.list-group-item_content {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.buttonTest {
  width: 80px;
  height: 40px;
  background: #ed6648;
  border: 1px solid #ed6648;
  border-radius: 7px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 0px 10px;

  color: #ffffff;
  margin: 5px;
}

.buttonTest:hover {
  color: #ed6648;
  background: #ffffff;
  border: 1px solid #ed6648;
}

.buttonTest[disabled] {
  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.buttonTest1 {
  width: 80px;
  height: 40px;
  border-radius: 7px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 0px 10px;
  margin: 5px;
  color: #ed6648;
  background: #ffffff;
  border: 1px solid #ed6648;
}

.buttonTest1:hover {
  color: #ffffff;
  background: #ed6648;
  border: 1px solid #ed6648;
}


.errorMessage {
  color: red;
  margin-bottom: 10px;
}

select,
input{
  margin-bottom: 10px;
}



input.invalid {
  border-color: red;
}

@media screen and (max-width: 495px) {
  .list-group-item {
    min-width: 345px;
  }
}
