.card_container {
  max-width: 1052px;
  margin: 0 auto;
  position: relative;
}

.item_header {
}

.header_titel {
}

.item_information {
}

.item_score {
  display: flex;
}

.item_score_information {
  display: flex;
  flex-direction: column;
}

.review-score__badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 4px;
  gap: 10px;
  width: 35px;
  height: 34px;
  background: #f29e21;
  color: #ffffff;
  /* Basic */
  border: 1px solid #f29e21;
  border-radius: 5px 5px 0px 5px;
}

.item_action {
  margin: 10px;
}

.item_action > button {
  border: 0;
  background-color: #0c9496;
  width: 100%;
}

.listview__remove_hotel_icon {
  position: relative;
  top: 24px;
  left: 217px;
}

.empty-saved-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.empty-saved-button {
  color: white;
  border: 0;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #0c9496;
}

.saved-container-main {
  display: flex;
  padding: 20px;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
  background: rgb(228, 228, 228);
}

.saved-title {
  display: flex;
  padding: 20px;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
}

.saved-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.saved-container > * {
  padding: 20px;
  flex-basis: 20%;
}

.saved-container-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  max-width: 280px;
  min-width: 280px;
}

.saved-img {
}

.saved-img > img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.saved-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
  background-color: rgb(255, 255, 255);
}

.saved-name {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  border-bottom: 2px solid #9e9e9e;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;

  /* Font color */

  color: rgba(0, 0, 0, 0.85);
}

.saved-location {
  display: flex;
  padding-bottom: 15px;
  gap: 5px;
  border-bottom: 2px solid #9e9e9e;
}

.saved-score {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-cursor {
  cursor: pointer;
}

.saved-score-item {
  display: flex;
  flex-direction: column;
}

.saved-score-item > :nth-child(1) {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;

  line-height: 24px;
  letter-spacing: 0.02em;

  /* Font color */

  color: rgba(0, 0, 0, 0.85);
}

.saved-score-item > :nth-child(2) {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.02em;

  /* Font color */

  color: rgba(0, 0, 0, 0.85);
}

.saved-button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: 0;
  border-radius: 0px 0px 10px 10px;
  color: white;
  background-color: #0c9496;
  height: 35px;
}

.saved-title-text {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */

  /* Font color */

  color: rgba(0, 0, 0, 0.85);
}

.saved-title-subtext {
  display: flex;
  gap: 10px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.02em;

  /* Font color */

  color: rgba(0, 0, 0, 0.85);
}
