<body>
  <app-header></app-header>
  <div class="card_container">
    <ul class="carousel_table">
      <div *ngFor="let item of favorites?.suggestions; let i = index">
        <li class="carousel_item">
          <div class="carousel_item_img">
            <img
              src="{{imageHelper.getRootDirectoryPath()}}/suggestions/{{item.images[0].name}}" />
          </div>
          <div class="carousel_item_content">
            <header class="item_header">
              <span class="header_titel">{{item.name}}</span>
              <i class="bk-icon-wrapper bk-icon-stars star_track" title="stars">
                <svg aria-hidden="true" critical="1" focusable="false" height="10" width="43" viewBox="0 0 52 12"
                  class="bk-icon -sprite-ratings_stars_4">
                  <path
                    d="m13 4.6c0-.1-.1-.2-.2-.2l-4.5-.3-1.5-4c-.1-.1-.5-.1-.5 0l-1.5 4-4.6.3c-.1 0-.2.1-.2.2s0 .2.1.3l3.5 2.5-1.2 4.3c0 .1 0 .2.1.3h.3l3.7-2.6 3.7 2.6h.3c.1-.1.1-.2.1-.3l-1.2-4.4 3.5-2.5c.1 0 .1-.1.1-.2zm13 0c0-.1-.1-.2-.2-.2l-4.5-.3-1.5-4c-.1-.2-.4-.2-.5 0l-1.5 4-4.5.3c-.1 0-.2.1-.2.2s0 .2.1.3l3.5 2.5-1.2 4.3c0 .1 0 .2.1.3s.2.1.3 0l3.7-2.6 3.7 2.6h.3c.1-.1.1-.2.1-.3l-1.2-4.3 3.5-2.5zm13 0c0-.1-.1-.2-.2-.2l-4.5-.3-1.5-4c-.1-.2-.4-.2-.5 0l-1.5 4-4.5.3c-.1 0-.2.1-.2.2s0 .2.1.3l3.5 2.5-1.2 4.3c0 .1 0 .2.1.3s.2.1.3 0l3.7-2.6 3.7 2.6h.3c.1-.1.1-.2.1-.3l-1.2-4.3 3.5-2.5zm13 0c0-.1-.1-.2-.2-.2l-4.5-.3-1.5-4c-.1-.2-.4-.2-.5 0l-1.5 4-4.5.3c-.1 0-.2.1-.2.2s0 .2.1.3l3.5 2.5-1.2 4.3c0 .1 0 .2.1.3s.2.1.3 0l3.7-2.6 3.7 2.6h.3c.1-.1.1-.2.1-.3l-1.2-4.3 3.5-2.5z"
                    fill="#feba02"></path>
                </svg>
              </i>
            </header>
            <div class="item_information">
              <span>{{item?.address?.city?.title + ", " + item?.address?.country?.title}}</span>
            </div>
            <div class="item_score">
              <div class="bui-review-score__badge" aria-label="Scored 0 ">
                {{mathHelper.Round10(suggestionGrades[i])}}
              </div>
              <div class="item_score_information">
                <div *ngIf="mathHelper.Round10(suggestionGrades[i]) >= 9.7; then exceptionalBlock"></div>
                <ng-template #exceptionalBlock>Exceptional</ng-template>
                <div *ngIf="mathHelper.Round10(suggestionGrades[i]) >= 9.0 &&
                            mathHelper.Round10(suggestionGrades[i]) < 9.7; then wonderfulBlock"></div>
                <ng-template #wonderfulBlock>Wonderful</ng-template>
                <div *ngIf="mathHelper.Round10(suggestionGrades[i]) >= 8.7 &&
                            mathHelper.Round10(suggestionGrades[i]) < 9.0; then excellentBlock"></div>
                <ng-template #excellentBlock>Excellent</ng-template>
                <div *ngIf="mathHelper.Round10(suggestionGrades[i]) >= 8.2 &&
                            mathHelper.Round10(suggestionGrades[i]) < 8.7; then veryGoodBlock"></div>
                <ng-template #veryGoodBlock>Very Good</ng-template>
                <div *ngIf="mathHelper.Round10(suggestionGrades[i]) > 7.6 &&
                            mathHelper.Round10(suggestionGrades[i]) < 8.2; then goodBlock"></div>
                <ng-template #goodBlock>Good</ng-template>
                <div *ngIf="mathHelper.Round10(suggestionGrades[i]) >= 7.0 &&
                            mathHelper.Round10(suggestionGrades[i]) < 7.7; then pleasantBlock"></div>
                <ng-template #pleasantBlock>Normal</ng-template>
                <div class="bui-review-score__text">{{reviewsCount[i] ?? '0'}} reviews</div>
              </div>
            </div>
            <div class="item_action">
              <button routerLink="/">View Property</button>
            </div>
            <a class="listview__remove_hotel_icon" (click)="removeSuggestion(item.id)">
              <svg width="21" height="21" viewBox="0 0 128 128" class="bk-icon -iconset-close_circle">
                <path
                  d="M64 8a56 56 0 1 0 56 56A56 56 0 0 0 64 8zm22.2 69.8a6 6 0 1 1-8.4 8.4L64 72.5 50.2 86.2a6 6 0 0 1-8.4-8.4L55.5 64 41.8 50.2a6 6 0 0 1 8.4-8.4L64 55.5l13.8-13.7a6 6 0 0 1 8.4 8.4L72.5 64z">
                </path>
              </svg>
            </a>
          </div>
        </li>
      </div>
    </ul>
  </div>
  <app-footer></app-footer>
</body>
