<body>
  <app-header></app-header>
  <div class="basiclayout">
    <div class="right">
      <div class="main-information-container">
        <div class="searchbox">
          <form class="searchbox_form">
            <span class="searchbox_check_label">Search</span>
            <div class="searchbox_country">
              <span class="textdecoration" id="basic-addon1">Destination/property name:</span>
              <input type="text" class="inputfield" placeholder="City/Country" aria-label="Username"
                aria-describedby="basic-addon1" name="filters.place" [(ngModel)]="filters.place" />
            </div>
            <div class="searchbox_date">
              <span class="textdecoration">Check-in Date</span>
              <input class="inputfield" placeholder="yyyy-mm-dd" name="filters.pdateIn" [(ngModel)]="filters.pdateIn"
                ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" readonly />
            </div>
            <div class="searchbox_date">
              <span class="textdecoration">Check-out Date</span>
              <input class="inputfield" placeholder="yyyy-mm-dd" name="filters.pdateOut" [(ngModel)]="filters.pdateOut"
                ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" readonly />
            </div>
            <div class="searchbox_country" data-toggle="dropdown">
              <span class="textdecoration" id="basic-addon1">How many people?</span>
              <input type="text" class="inputfield" placeholder="{{ filters.searchAdultsAmount }} adult {{
                  filters.searchChildrenAmount
                }} children {{ filters.searchRoomsAmount }} room" aria-label="Username"
                aria-describedby="basic-addon1" />
            </div>
            <div class="dropdown-menu">
              <form class="dropdownFormReservation">
                <div class="form-group">
                  <div class="dropdownSubSection"></div>
                </div>
                <div class="form-group">
                  <div class="dropdownSubSection"></div>
                </div>
                <div class="form-group">
                  <div class="dropdownSubSection"></div>
                </div>
              </form>
            </div>
            <div class="searchbox_search">
              <button class="searchbox_button">Search</button>
            </div>
          </form>
        </div>
        <div class="main-information">
          <div class="search_results_top_buttons">
            <button>Info & prices</button>
            <button>Facilities</button>
            <button>House rules</button>
            <button (click)="openWindowCustomClass(longContent)">
              Guest reviews ({{reviewsAmount}})
            </button>
          </div>
          <div class="information-container">
            {{ suggestion.name }}
          </div>
          <div *ngFor="let item of suggestion.starsRating; let i = index">
            <img src="../../assets/images/Star 1.png" />
          </div>
          <div class="information-container">
            {{ suggestion.address + ", " + suggestion.region + ", " + suggestion.city + ", " + suggestion.country }}
          </div>
          <div class="image-container">
            <div class="image-container-main">
              <div>
                <img src="../../assets/images/10.jpg" />
                <img src="../../assets/images/10.jpg" />
              </div>
              <div>
                <div>
                  <img width="600px" height="350px" src="{{ imageHelper.getImageDirectoryPath() }}suggestions/stays/{{
                  suggestion.images[0].name
                }}" />
              </div>
              </div>
            </div>
            <div class="">
              <div class="image-container-wrapper">
                <div><img src="../../assets/images/10.jpg" /></div>
                <div><img src="../../assets/images/10.jpg" /></div>
                <div><img src="../../assets/images/10.jpg" /></div>
                <div><img src="../../assets/images/10.jpg" /></div>
                <div><img src="../../assets/images/10.jpg" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p>{{suggestion.description}}</p>
      </div>
      <div class="facilities-main">
        <h2 *ngIf="facilityTypes.length != 0" >Facilities</h2>
        <div class="facilities-container">
          <div *ngFor="let type of facilityTypes let i = index" class="facilities-item">
            <span class="font-weight-bold">{{type.type}}</span>
            <span *ngFor="let facility of type.facilities let j = index">
              <svg class="bk-icon -streamline-checkmark facilities-margin" height="14" width="14" viewBox="0 0 128 128"
                role="presentation" aria-hidden="true" focusable="false">
                <path
                  d="M56.33 100a4 4 0 0 1-2.82-1.16L20.68 66.12a4 4 0 1 1 5.64-5.65l29.57 29.46 45.42-60.33a4 4 0 1 1 6.38 4.8l-48.17 64a4 4 0 0 1-2.91 1.6z">
                </path>
              </svg>
              <span>{{facility.text}}</span>
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="ruleTypes.length != 0" class="housingRules-main">
        <h2>House rules</h2>
        <div class="housingRules-container">
          <div *ngFor="let type of ruleTypes let i = index" class="housingRules-item">
            <span class="font-weight-bold">{{type.type}}</span>
            <span *ngFor="let rule of type.suggestionRules let j = index">
              <span>{{rule.text}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>

<ng-template #longContent let-modal>
  <div class="modal-header">
    <div>
      <div class="review-card-left-avatar-block">
        <div class="review-card-avatar">
          <div class="bui-review-score__badge">{{mathHelper.Round10(grade)}}</div>
        </div>
        <div class="review-card-avatar-block-text">
          <span *ngIf="
            mathHelper.Round10(grade) >= 9.7;
          ">Exceptional</span>
          <span *ngIf="
            mathHelper.Round10(grade) >= 9.0 &&
              mathHelper.Round10(grade) < 9.7;
          ">Wonderful</span>
          <span *ngIf="
            mathHelper.Round10(grade) >= 8.7 &&
              mathHelper.Round10(grade) < 9.0;
          ">Excellent</span>
          <span *ngIf="
            mathHelper.Round10(grade) >= 8.2 &&
              mathHelper.Round10(grade) < 8.7;
          ">Very Good</span>
          <span *ngIf="
            mathHelper.Round10(grade) > 7.6 &&
              mathHelper.Round10(grade) < 8.2;
          ">Good</span>
          <span *ngIf="
            mathHelper.Round10(grade) >= 7.0 &&
              mathHelper.Round10(grade) < 7.7;
          ">Normal</span>
          <span *ngIf="grade == 0">
            Unrated
          </span>
          <span class="text-block-subtitles">
            <span>{{reviewsAmount}} reviews</span>
          </span>
        </div>
      </div>
    </div>
    <button class="btn btn-outline-primary btn-sm" (click)="openVerticallyCentered(content)">
      Write review
    </button>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="categories-main">
      <h5>Categories:</h5>
      <div class="categories-container">
        <div *ngFor="let category of reviewCategories; let i = index" class="categories-item">
          <span>{{category.category}}</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{mathHelper.Round10(categoryGrades[i]) * 10}}%" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100">
              {{mathHelper.Round10(categoryGrades[i])}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let review of reviews; let i = index" class="review-card">
      <div class="review-card-left">
        <div>
          <div class="review-card-left-avatar-block">
            <div class="review-card-avatar">
              <img src="{{ imageHelper.getRootDirectoryPath() }}{{ review.authorImage.path }}" />
            </div>
            <div class="review-card-avatar-block-text">
              <span class="font-weight-bold">{{review.author}}</span>
              <span class="text-block-subtitles">
                <span class="avatar-block-flag">
                  <img src="{{
                  imageHelper.getRootDirectoryPath()
                }}{{ review.countryImage.path }}" /></span>
                <span>{{review.country}}</span>
              </span>
            </div>
          </div>
        </div>
        <div>
          <span> Superior Double Room</span>
        </div>
        <div>
          <span>5 nights · April 2022</span>
        </div>
        <div>
          <span>Couple</span>
        </div>
      </div>
      <div class="review-card-right">
        <div>
          <div class="review-card-right-main-item">
            <div class="review-card-right-main-item-info">
              <span>Reviewed: {{review.reviewDate}}</span>
              <span class="font-weight-bold">
                {{review.title}}
              </span>
            </div>
            <div class="bui-review-score__badge">{{mathHelper.Round10(reviewGrades[i])}}</div>
          </div>
        </div>
        <div>
          <span>{{review.positiveMessage}}</span>
        </div>
        <div>
          <span>{{review.negativeMessage}}</span>
        </div>
        <div class="like-reviews" *ngIf="authHelper.isLogged()">
          <a class="button-cursor" (click)="likeComment(review.id)">
            <svg class="bk-icon -iconset-thumbs_up" fill="#0071C2" height="14" width="14" viewBox="0 0 128 128"
              role="presentation" aria-hidden="true" focusable="false">
              <path
                d="M8 76a12 12 0 0 1 3.6-8.6A12 12 0 0 1 21 48h35.9L49 28a15.2 15.2 0 0 1-1-4 8 8 0 0 1 15-4l17 36v56H30a12 12 0 0 1-12-10.7 12 12 0 0 1-6.6-17A12 12 0 0 1 8 76zm112-20H88v56h32z">
              </path>
            </svg>
            Helpful {{review.likes}}</a>
          <a class="button-cursor" (click)="dislikeComment(review.id)">
            <svg class="bk-icon -iconset-thumbs_down" fill="#0071C2" height="14" width="14" viewBox="0 0 128 128"
              role="presentation" aria-hidden="true" focusable="false">
              <path
                d="M11.4 43.6a12 12 0 0 1 6.7-17A12 12 0 0 1 30 16h50v56l-17 36a8 8 0 0 1-15-4 15.2 15.2 0 0 1 1-4l7.9-20H21a12 12 0 0 1-9.4-19.4 12 12 0 0 1-.2-17zM120 16H88v56h32z">
              </path>
            </svg>
            Not helpful {{review.dislikes}}</a>
        </div>
        <div class="like-reviews" *ngIf="!authHelper.isLogged()">
          <span><svg class="bk-icon -iconset-thumbs_up" fill="#0071C2" height="14" width="14" viewBox="0 0 128 128"
            role="presentation" aria-hidden="true" focusable="false">
            <path
              d="M8 76a12 12 0 0 1 3.6-8.6A12 12 0 0 1 21 48h35.9L49 28a15.2 15.2 0 0 1-1-4 8 8 0 0 1 15-4l17 36v56H30a12 12 0 0 1-12-10.7 12 12 0 0 1-6.6-17A12 12 0 0 1 8 76zm112-20H88v56h32z">
            </path>
          </svg>
          {{review.likes}}</span>
        <span>
          <svg class="bk-icon -iconset-thumbs_down" fill="#0071C2" height="14" width="14" viewBox="0 0 128 128"
            role="presentation" aria-hidden="true" focusable="false">
            <path
              d="M11.4 43.6a12 12 0 0 1 6.7-17A12 12 0 0 1 30 16h50v56l-17 36a8 8 0 0 1-15-4 15.2 15.2 0 0 1 1-4l7.9-20H21a12 12 0 0 1-9.4-19.4 12 12 0 0 1-.2-17zM120 16H88v56h32z">
            </path>
          </svg>
          {{review.dislikes}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="reviewsAmount > 10" class="load-more-review-cards">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-primary" type="button" (click)="loadMoreReviews()">Load more</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
      Close
    </button>
  </div>
</ng-template>
