.basiclayout {
  display: flex;
  justify-content: center;
}

.right {
  max-width: 1243px;
  min-width: 1060px;
}

.button-cursor {
  cursor: pointer;
}

.bk-icon {
  vertical-align: middle;
  max-width: 256px;
  max-height: 256px;
  overflow: hidden;
}

.facilities-margin {
  margin-right: 15px;
}

.main-information {
  margin: 20px;
}

.main-information-container {
  display: flex;
}

.information-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 10px;
}

.information-container > :first-child {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.information-container > :first-child > div {
  display: flex;
  gap: 5px;
}

.information-container-like {
  border-radius: 0px 5px;
  width: 40px;
  height: 40px;
  border: 0;
  background: #f29e21;
}

.information-container-like > svg {
  fill: white;
  stroke: white;
  stroke-width: 10px;
}

.information-container-like > svg:hover {
  fill: #f29e21;
}

.information-container-like1 {
  border-radius: 0px 5px;
  width: 40px;
  height: 40px;
  border: 0;
  background: #f29e21;
}

.information-container-like1 > svg {
  fill: #f29e21;
  stroke: white;
  stroke-width: 10px;
}

.information-container-like1 > svg:hover {
  fill: white;
}

.information-container2 {
  display: flex;
  margin-bottom: 16px;
}

.image-container-main {
  display: flex;
  flex: 1;
  gap: 1rem;
  margin-bottom: 1rem;
}

.image-container-main > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
}

.image-container-main > div:nth-child(2) > img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.image-container-main > :nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-basis: 30%;
}

.image-container-main > :nth-child(2) {
  flex-basis: 70%;
}

.image-container-wrapper {
  display: flex;
  flex: 1;
  gap: 1rem;
  margin-bottom: 1rem;
}

.image-container-wrapper > * {
  flex-basis: 157px;
}

.image-container-wrapper > div > img {
  width: 100%;
  height: 100%;
}

.search_results_top_buttons {
  display: flex;
  border-radius: 0.5px;
}

.search_results_top_buttons > button {
  height: 30px;
  color: #ffffff;
  background: #f29e21;
  border: 1px solid transparent;
}

.search_results_top_buttons > button:hover {
  color: #f29e21;
  background: #ffffff;
  border: 1px solid #f29e21;
}

.dropdown_button {
  color: #ffffff;
  background: #f29e21;
  border: 1px solid transparent;
  text-align: center;
}

.click-component {
  cursor: pointer;
}

.dropdown_button:hover {
  color: #f29e21;
  background: #ffffff;
  border: 1px solid #f29e21;
}

.search_results_top_buttons > * {
  flex: 1;
  flex-wrap: nowrap;
}

.search_results_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 20px 0px;
}

.searchbox {
  position: relative;
}

.searchbox_form {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 20px;
  margin: 20px;
  padding: 15px 25px;
  background: #f9f9f9;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.searchbox_form > * {
  flex: 1;
}

.inputfield {
  height: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border: 0;
  border-radius: 5px;
  margin-top: 6px;
}

.searchbox_country > input {
  width: 100%;
}

.searchbox_date {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.searchbox_check_label {
  text-align: center;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */

  letter-spacing: 0.02em;

  /* Font color */

  color: #000000;
  padding: 0px;
  margin: 0px;
}
.searchbox_search {
  display: flex;
  justify-content: center;
}

.searchbox_button {
  width: 159px;
  height: 37px;

  /* Basic */

  background: #f29e21;
  border-radius: 10px;
  border: 0px;

  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.02em;

  /* Hover */

  color: #ffffff;
}

.searchbox_button:hover {
  border: 1px solid #f29e21;
  color: #f29e21;
  background-color: #ffffff;
}

.textdecoration {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.02em;

  /* Font color */

  color: #000000;
}

.categories-main {
  padding: 10px;
  border-bottom: solid 1px #ececec;
}

.categories-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
}

.categories-container > * {
  flex-basis: 33%;
}

.categories-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  gap: 5px;
}

.availability-main {
  padding: 20px;
}

.availability-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  grid-gap: 50px;
  gap: 50px;
  justify-content: center;
}

.availability-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 800px;
}

.availability-img {
}

.availability-img > img {
  width: 100%;
  height: 200px;
}

.availability-description {
  background: #f5f4f4;
  border-bottom: 1px solid #0c9496;
}

.availability-description-item {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px 10px;
}

.availability-description-item > span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 20px;
  /* BACKGROUND_COLOR */
  background: #ffffff;

  border-radius: 10px;
}

.availability-description-item1 {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px 10px;
  height: 125px;
}

.availability-description-item1 > span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
}

.availability-title {
  display: flex;
  background: #0c9496;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 37px;
  /* identical to box height */

  letter-spacing: 0.02em;

  /* Hover */

  color: #ffffff;
}

.availability-subtitle {
  display: flex;
  background: #0c9496;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
  padding: 15px;
  color: white;
}

.availability-subtitle-price {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  /* identical to box height */

  letter-spacing: 0.02em;

  /* Hover */

  color: #ffffff;
}

.facilities-main {
  border-radius: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  margin: 20px;
}

.facilities-container {
  column-count: 3;
  column-gap: 40px;
}

.facilities-item {
  display: inline-block;
  width: 100%;
}

.facilities-item-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  gap: 5px;
}

.housingRules-main {
  border-radius: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  margin: 20px;
}

.housingRules-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  margin: 20px;
}

.housingRules-container > * {
  flex-basis: 25%;
}

.housingRules-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  gap: 5px;
}

.review-card {
  display: flex;
  width: 100%;
  flex: 1;
  padding: 10px;
  border-bottom: solid 1px #ececec;
}

.review-card > :nth-child(1) {
  gap: 1rem;
  flex-basis: 30%;
}

.review-card > :nth-child(2) {
  gap: 1rem;
  flex-basis: 70%;
}

.review-card-left {
  display: flex;
  flex-direction: column;
}

.review-card-left-avatar-block {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.review-card-avatar {
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #494949;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.review-card-avatar > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.review-card-avatar-block-text {
  display: flex;
  flex-direction: column;
}

.avatar-block-flag > img {
  height: 13px;
  width: 20px;
  margin-right: 8px;
  padding-bottom: 0px;
}

.review-card-right {
  display: flex;
  flex-direction: column;
}

.review-card-right > :last-child {
  justify-content: flex-end;
}

.review-card-right-main-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.review-card-right-main-item-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bui-review-score__badge {
  background: #0c9496;
  color: #fff;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;
  border-radius: 5.81818px 5.81818px 5.81818px 0;
  height: 32px;
  width: 32px;
  min-width: 32px;
}

.like-reviews {
  display: flex;
  gap: 1rem;
}

.like-reviews > span {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

body {
  min-height: 100%;
}

.load-more-review-cards {
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: center;
}

.btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem;
}

.check_availability {
  display: flex;
  flex-direction: column;
  background-color: #0c9496;
  grid-gap: 10px;
  gap: 10px;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 20px;
  align-items: flex-end;
}

.check_availability_item {
  display: flex;
  width: 100%;
  gap: 20px;
}

.check_availability_button {
  display: flex;
  width: 20%;
  align-items: flex-end;
}

.check_availability_button > button {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  border: 1px solid #f29e21;
  align-items: center;
  color: #ffffff;
  background-color: #f29e21;
  justify-content: center;
  height: 60%;
}

.check_availability_date {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  width: 40%;
}

.write-review-header {
}

.write-review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 20px;
  grid-gap: 20px;
  gap: 20px;
  height: 100%;
  justify-content: center;
}

.write-review-item {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.write-review-footer {
}

.bold-title {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;

  /* Font color */

  color: rgba(0, 0, 0, 0.85);
}

.subtitle {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.02em;
  text-decoration-line: underline;

  /* Font color */

  color: rgba(0, 0, 0, 0.85);
}

.select-availability {
  border: 0;
  padding: 8px;
  font-size: 18px;
  outline: none;
}

.button-yellow {
  display: flex;
  flex-wrap: nowrap;
  width: 19.3%;
  border: 1px solid #f29e21;
  align-items: center;
  color: #ffffff;
  background-color: #f29e21;
  justify-content: center;
  height: 31.8px;
}

.button-yellow1 {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #f29e21;
  align-items: center;
  color: #ffffff;
  background-color: #f29e21;
  justify-content: center;
  height: 31.8px;
}

.select-write-review {
  outline: none;
  border: 1px solid #0c9496;
  padding: 5px;
  border-radius: 5px;
}

.progress-bar {
  background-color: #0c9496 !important;
}

@media screen and (max-width: 1134px) {
  .basiclayout {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 676px) {
  .modal-fullscreen {
    position: absolute;
    right: 0;
    width: 100vw;
    max-width: 50%;
    height: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 676px) {
  .modal-fullscreen {
    position: absolute;
    right: 0;
    width: 100vw;
    max-width: 100%;
    height: 100%;
    margin: 0;
  }
}
