<div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-dark">search</button>
</div>

<div class="row">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#add">Add</button>
    <button type="button" id="editButton" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#edit" disabled>Edit</button>
    <button type="button" id="deleteButton" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#delete" disabled>Delete</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLabel">Add currency</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="addValueCurrency" class="form-label"></label>
            <input type="text" class="form-control" id="addValueCurrency" name="currency.value" [(ngModel)]="currency.value"
                    />
            <label for="addAbbrCurrency" class="form-label"></label>
            <input type="text" class="form-control" id="addAbbrCurrency" name="currency.abbreviation" [(ngModel)]="currency.abbreviation"
                    />
            <label for="addBankCodeCurrency" class="form-label"></label>
            <input type="text" class="form-control" id="addBankCodeCurrency" name="currency.bankCode" [(ngModel)]="currency.bankCode"
                    />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="addCurrency()">Save</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Edit currency</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="editValueCurrency" class="form-label"></label>
            <input type="text" class="form-control" id="editValueCurrency" name="currency.value" [(ngModel)]="currency.value"
                    />
            <label for="editAbbrCurrency" class="form-label"></label>
            <input type="text" class="form-control" id="editAbbrCurrency" name="currency.abbreviation" [(ngModel)]="currency.abbreviation"
                    />
            <label for="editBankCodeCurrency" class="form-label"></label>
            <input type="text" class="form-control" id="editBankCodeCurrency" name="currency.bankCode" [(ngModel)]="currency.bankCode"
                    />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="editCurrency()">Save</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteLabel">Delete currency</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="deleteValueCurrency" class="form-label"></label>
            <input type="text" class="form-control" id="deleteValueCurrency" name="currency.value" [(ngModel)]="currency.value"
                    readonly />
            <label for="deleteAbbrCurrency" class="form-label"></label>
            <input type="text" class="form-control" id="deleteAbbrCurrency" name="currency.abbreviation" [(ngModel)]="currency.abbreviation"
                    readonly />
            <label for="deleteBankCodeCurrency" class="form-label"></label>
            <input type="text" class="form-control" id="deleteBankCodeCurrency" name="currency.bankCode" [(ngModel)]="currency.bankCode"
                    readonly />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteCurrency()">Delete</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-dark table-bordered border-white">
  <thead>
    <tr>
      <th scope="col text-center align-self-center">#</th>
      <th scope="col">Value</th>
      <th scope="col">Abbrevation</th>
      <th scope="col">Bank code</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of currencies">
      <th scope="row">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="currencyRadio" id="currencyRadio" value={{item.id}}
                 (click)="setCurrency(item)" >
        </div>
      </th>
      <td>{{item.value}}</td>
      <td>{{item.abbreviation}}</td>
      <td>{{item.bankCode}}</td>
    </tr>
  </tbody>
</table>

