<ng-template #alert let-modal>
  <app-alert [content]="mainDataService.alertContent" (click)="modal.dismiss()"></app-alert>
</ng-template>
<header
  class="bui-header bui-header--logo-large bui-u-hidden-print bui-header--rounded-tabs"
>
  <nav class="bui-header__bar">
    <div class="bui-header__main">
      <div class="bui-header__logo">
        <span>
          <label class="robotoregular" routerLink="">Apart.fun</label>
        </span>
      </div>
    </div>

    <div>
      <div class="bui-group__item">
        <span class="bui-button__text">
          <div class="bui-avatar bui-avatar--small" aria-hidden="true">
            <img
              class="bui-avatar__image"
              src="assets/images/us-flag.png"
              alt=""
            />
          </div>
        </span>
      </div>
    </div>
  </nav>
</header>

<body>
  <div [ngSwitch]="choice">
    <div *ngSwitchDefault>
      <div class="name-and-location-container">
        <div class="header-name-and-location">
          What's the name of your place?
        </div>
        <div class="Input-name-and-location">
          <span class="name-and-location-text">Property name (3+ characters)</span>
          <input
            required
            class="inputfield"
            type="text"
            name="propertyName"
            [(ngModel)]="propertyName"
          />
          <div
            class="invalid_feedback"
            *ngIf="propertyName.match(reg) || propertyName.length < 3"
          >
            Please enter correct name
          </div>
          <div class="info_text">
            <div class="info_text_item">
              <span class="info_text_header"
                >What should I consider when choosing a name?
              </span>
              <span class="info_text_subtext"> Keep it short and catchy </span>
              <span class="info_text_subtext"> Avoid abbreviations </span>
              <span class="info_text_subtext">Stick to the facts</span>
            </div>

            <div class="info_text_item">
              <span class="info_text_header"
                >Why do I need to name my property?
              </span>
              <span class="info_text_subtext1"
                >This is the name that will appear as the title of your listing
                on our site. It should tell guests something specific about your
                place, where it is or what you offer.This will be visible to
                anyone visiting our site, so don't include your address in the
                name.
              </span>
            </div>
          </div>
        </div>
        <div style="display: flex">
          <button
            class="name-and-location-button-back"
            routerLink="/lp/addproperty"
          >
            Go back
          </button>
          <button
            class="name-and-location-button"
            (click)="addPropertyName()"
            [disabled]="propertyName.length < 3"
          >
            Continue
          </button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="1">
      <div class="name-and-location-container">
        <div class="header-name-and-location">
          Where is the property you're listing?
        </div>
        <div class="Input-name-and-location">
          <div class="header-name-and-location1">
            We may send a letter to confirm the location of your property, so
            make sure that the address is correct – it’s difficult to make
            changes to it later.
          </div>
          <div>
            <span class="name-and-location-text">Country</span>
            <select
              class="inputfield"
              aria-label="Default select example"
              id="countriesSelect"
              name="sCountry"
              [(ngModel)]="sCountry"
            >
              <option value="-1" selected>Select country/region</option>
            </select>
          </div>
          <div>
            <span class="name-and-location-text">Address (2+ characters)</span>
            <input
              type="text"
              class="inputfield"
              name="sAddress"
              [(ngModel)]="sAddress"
            />
          </div>
          <div>
            <span class="name-and-location-text">Postal Code (2+ numbers)</span>
            <input
              type="text"
              class="inputfield"
              name="sZipCode"
              [(ngModel)]="sZipCode"
            />
          </div>
          <div>
            <span class="name-and-location-text">City (2+ characters)</span>
            <input
              type="text"
              class="inputfield"
              name="sCity"
              [(ngModel)]="sCity"
            />
          </div>
          <div>
            <span class="name-and-location-text">Region (2+ characters)</span>
            <input
              type="text"
              class="inputfield"
              name="sRegion"
              [(ngModel)]="sRegion"
            />
          </div>
          <div class="info_text">
            <div class="info_text_item">
              <span class="info_text_header"
                >What needs to be included in my address?
              </span>
              <span class="info_text_subtext">
                Include both your street name and house number
              </span>
              <span class="info_text_subtext">
                Provide an apartment or floor number if you have one
              </span>
              <span class="info_text_subtext"> Provide the post/zip code </span>
              <span class="info_text_subtext">
                Correctly spell the street name
              </span>
              <span class="info_text_subtext">
                Use the physical adress of the property, not your office or home
                adress
              </span>
            </div>

            <div class="info_text_item">
              <span class="info_text_header"
                >Why do I need to add my address?
              </span>
              <span class="info_text_subtext1"
                >Once a guest books your property, this is the address that will
                be shared with them. It's important that it is correct so that
                guests can easily find your property.
              </span>
            </div>
          </div>
        </div>
        <div style="display: flex">
          <button
            class="name-and-location-button-back"
            routerLink="/lp/addproperty"
          >
            Go back
          </button>
          <button
            class="name-and-location-button"
            (click)="addPropertyAddress()"
            [disabled]="
              sAddress.length < 2 ||
              sZipCode.length < 2 ||
              sCity.length < 2 ||
              sRegion.length < 2
            "
          >
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
