<header
  class="bui-header bui-header--logo-large bui-u-hidden-print bui-header--rounded-tabs"
>
  <nav class="bui-header__bar">
    <div class="bui-header__main">
      <div class="bui-header__logo">
        <span>
          <label class="robotoregular" routerLink="">Apart.com</label>
        </span>
      </div>
    </div>

    <div>
      <div class="bui-group__item">
        <span class="bui-button__text">
          <div class="bui-avatar bui-avatar--small" aria-hidden="true">
            <img
              class="bui-avatar__image"
              src="assets/images/us-flag.png"
              alt=""
            />
          </div>
        </span>
      </div>
    </div>
  </nav>
</header>

<body>
  <div
    class="section__container"
  >
    <button
      id="automation_id_section_property_complete"
      type="button"
      disabled=""
      class="section_button"
    >
      <span class="">Review and complete</span>
    </button>
    <div class="steps__container">
      <div class="navstep__container"></div>
    </div>
  </div>

  <div class="name-and-location-container">
    <div class="header-name-and-location">What's your contact information?</div>

    <div class="Input-name-and-location">
      <span class="name-and-location-text">Name</span>
      <input type="text" name="contactDetails.contactName" [(ngModel)]="contactDetails.contactName" />
      <span class="name-and-location-text">Phone number</span>
      <input type="text" name="contactDetails.phoneNumber" [(ngModel)]="contactDetails.phoneNumber" />
    </div>
    <button class="name-and-location-button" (click)="addContactDetails()">Continue</button>
  </div>
</body>
