.no_bg_img:before {
  content: "";
  background: #003580;
  height: 50px;
  width: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.logo-text {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

a.a11y-skip-to-content {
  display: inline-block;
  position: absolute;
  top: -10em;
  left: 8px;
  z-index: 1;
  padding: 8px;
  background-color: #fdf4d8;
  color: #0071c2;
  font-weight: normal;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgb(0 0 0 / 30%);
  box-shadow: 0 0 3px rgb(0 0 0 / 30%);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.header_text {
  width: 198px;
  height: 45px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  /* identical to box height */

  color: #ffffff;
  cursor: pointer;
}

/* header */

.apartLogo {
  position: absolute;
  width: 243px;
  height: 199px;
  left: 202px;
  top: 105px;

  font-family: Hello Katterine;
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  line-height: 199px;
  /* identical to box height */

  color: #000000;
}
.bui-header {
  background-color: #0c9496;
}

.bui-header--rounded-tabs .bui-header__bar {
  padding: 12px 32px 0;
}

.bui-header__bar:not(:last-child) {
  padding-bottom: 0;
}

.bui-header__bar {
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  align-items: left;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.bui-header__main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 8px 16px 8px 0;
}

.bui-header--rounded-tabs .bui-header__logo svg {
  width: auto;
}

.bui-header--logo-large .bui-header__logo img,
.bui-header--logo-large .bui-header__logo svg {
  height: 20px;
  display: block;
}

.bk-icon {
  vertical-align: middle;
  max-width: 256px;
  max-height: 256px;
  overflow: hidden;
}

.bui-group--align-end.bui-group--inline {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.bui-group--inline.bui-group--vertical-align-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.bui-group--inline {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row !important;
  margin: -8px 0 0 -8px;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.bui-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.bui-header .bui-group--vertical-align-middle > *,
.bui-header .bui-group--vertical-align-middle > *:first-child {
  vertical-align: middle !important;
}
.bui-group--inline > :first-child {
  margin: 8px 0 0 8px !important;
}

.bui-group--inline > .bui-group__item {
  -ms-flex-negative: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}

.bui-group--inline > * {
  margin: 8px 0 0 8px !important;
}

.bui-group > :first-child {
  margin-top: 0;
}

.bui-group__item {
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.bui-group > * {
  margin-top: 8px !important;
}

.bui-button--large.bui-button--light,
.bui-button--large.bui-button--tertiary,
.bui-button--large.bui-button--tertiary-neutral {
  padding-left: 14px;
  padding-right: 14px;
}

.bui-button--large {
  padding: 12px 24px;
  min-height: 48px;
  min-width: 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.bui-button--light {
  color: #fff;
}

[class^="bui-"],
[class^="bui-"]:after,
[class^="bui-"]:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bui-header .bui-button {
  font-weight: 500 !important;
}

.bui-button--large {
  padding: 12px 24px;
  min-height: 48px;
  min-width: 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.bui-button--light:before {
  border-color: transparent;
  background-color: transparent;
}
.dropdown-menu {
  border: 1px solid #0c9496 !important;
  margin-top: 5px;
  padding: 0px 0px 10px 0px !important;
}

.dropdown-item {
  margin-top: 5px;
  margin-bottom: 5px;
}
.dropdown-item:hover {
  border-top: 1px solid #f69e21;
  border-bottom: 1px solid #f69e21;
  color: #f69e21 !important;
  background-color: #dddcdcb4;
  cursor: pointer;
}

.dropdown-itemproperty {
  display: block;
  width: 100%;
  padding: 10px 16px;
  clear: both;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  color: white;
  background-color: #0c9496;
  border: 0;
}
.dropdown-itemproperty:hover {
  background-color: #c24b30;
}

.bui-dropdown-menu__button {
  position: relative;
  width: 100%;
  text-align: center;
  left: 4px;
  outline: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
}
.robotolight {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  margin-left: 5px;
}
.robotomonoregular {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  margin-left: 5px;
}
.robotoregular {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #000000;
}
.bui-button__text {
  position: relative;
  color: #fff;
}
.bui-button__text1 {
  position: relative;
  color: white;
}
.bui-button-USD {
  position: relative;
  left: 5px;
}

.HeaderText {
  display: grid;
  justify-content: center;
  margin: 20px;
  justify-items: center;
}
.HeaderSubText {
  font-family: Bahnschrift;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  padding: 5px;
}
.HeaderSubText1 {
  font-family: Bahnschrift;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.bui-avatar--button-auth {
  position: relative;
  left: 5px;
  font-size: 15px;
  color: black;
}

.bui-avatar--small {
  height: 20px;
  width: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.bui-avatar {
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #494949;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.bui-avatar__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.bui-avatar--small {
  height: 20px;
  width: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.bui-u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.bui-header__tab {
  max-width: 1140px;
  margin: 0 auto;
}

.bui-header--rounded-tabs .bui-tab--rounded .bui-tab__nav {
  padding: 8px 16px 12px;
}

.bui-tab__nav {
  display: flex;
  flex-grow: 0;
  list-style: none;
  margin: 0;
  padding: 0 0 1px;
  position: relative;
  font-size: 0;
  justify-content: center;
}

.bui-tab__nav > * {
  opacity: 50%;
}

.bui-tab__nav > :nth-child(1) {
  opacity: 100%;
}

.activeRoute {
  border-bottom: 2px solid white !important;
}

.bui-tab--rounded .bui-tab__item:first-child {
  margin-left: -8px;
}

.bui-tab__item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
}

.bui-tab--rounded .bui-tab__item {
  padding-left: 8px;
}

.bui-tab--rounded .bui-tab__link {
  padding: 11px 15px;
  border: 1px solid transparent;
}

.bui-tab__link:link {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  text-decoration: none;
}

.bui-tab__link {
  cursor: default;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  display: block;
  border: 0;
  color: white;
  padding: 16px;
  text-decoration: none;
  max-width: none;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
}

.bui-tab--rounded .bui-tab__link1 {
  padding: 11px 15px;
  border: 1px solid transparent;
}

.bui-tab__link1:link {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  text-decoration: none;
}

.bui-tab__link1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  display: block;
  border: 0;
  color: white;
  padding: 16px;
  text-decoration: none;
  max-width: none;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
}

.bui-tab__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.bui-icon--medium {
  height: 20px;
}

.bui-icon {
  display: inline-block;
  fill: currentColor;
}

.bui-icon--large {
  height: 24px;
}
.bui-icon {
  display: inline-block;
  fill: currentColor;
}

.bui-icon1 {
  display: inline-block;
  fill: currentColor;
}

.bui-icon svg {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: auto;
}

.bk-icon {
  vertical-align: middle;
  max-width: 256px;
  max-height: 256px;
  overflow: hidden;
}

.bui-tab__text {
  display: inline-block;
  vertical-align: middle;
}

.bui-button--large.bui-button--light .bui-button__icon:only-child,
.bui-button--large.bui-button--tertiary-neutral .bui-button__icon:only-child,
.bui-button--large.bui-button--tertiary .bui-button__icon:only-child {
  margin: 0 auto;
}

.bui-button--large .bui-button__icon:only-child {
  margin: 0 -12px;
}
.bui-button--light .bui-button__icon:only-child,
.bui-button--tertiary-neutral .bui-button__icon:only-child,
.bui-button--tertiary .bui-button__icon:only-child {
  margin: 0 auto;
}
.bui-button .bui-button__icon:only-child {
  margin: 0 -12px;
}
.bui-button--large > .bui-button__icon {
  width: 24px;
  height: 24px;
}
.bui-button__icon {
  position: relative;
  fill: currentColor;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.bui-traveller-header__product-action,
.bui-traveller-header__product-action:link,
.bui-traveller-header__product-action:hover {
  font-weight: 500;
}
.bui-header .bui-button {
  font-weight: 500 !important;
}

.bui-button--light.bui-button--active,
.bui-button--light:active,
.bui-button--light:focus,
.bui-button--light:hover,
.bui-button--light:link,
.bui-button--light:visited {
  color: #fff;
}

.bui-button.bui-button--active,
.bui-button:active,
.bui-button:focus,
.bui-button:hover,
.bui-button:link,
.bui-button:visited {
  color: #fff;
  text-decoration: none;
}



.bui-button--light {
  padding-left: 8px;
  padding-right: 8px;
  color: #fff;
}

.bui-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: left;
  padding: 8px 16px;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  color: #fff;
  min-height: 15px;
  min-width: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  background: transparent;
  background-color: #f69e21;
  border: 0;
  border-radius: 5px;
}


.bui-button1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: left;
  padding: 8px 16px;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  color: #0c9496;
  min-height: 15px;
  min-width: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  background: transparent;
  background-color: white;

  border: 1px solid #0c9496;
  border-radius: 5px;
}

.bui-button1:hover {
  background-color: #0c9496;
  color: white;
  border: 1px solid white;
}

.bui-button--light:before {
  border-color: transparent;
  background-color: transparent;
}

.bui-button.bui-button--active:before,
.bui-button:not(.bui-is-loading):active:before,
.bui-button:not(.bui-is-loading):hover:before {
  background-color: #e9620869;
  position: absolute;
  overflow: hidden;
}

.login-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: left;
  padding: 8px 16px;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  color: #fff;
  min-height: 15px;
  min-width: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  background: transparent;
  background-color: #f69e21;
  border: 0;
  border-radius: 5px;
}

.flag {
  width: 25px;
  height: 25px;
}

.flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
}

.text-black {
  color: #333 !important;
  font-weight: 400;
}

.currency-name {
  color: #333;
  font-weight: 400;
  font-size: 16px;
}

.currency-sign {
  color: #6b6b6b;
  font-weight: 400;
  font-size: 14px;
}

.text-black.active {
  color: #0071c2 !important;
  background: rgba(0, 113, 194, 0.06) !important;
  display: inline-block;
  width: 140px;
  padding: 8px;
  border-radius: 2px;
}

.text-black.active .currency-name,
.text-black.active .currency-sign {
  color: #0071c2 !important;
}

@media (min-width: 992px) {
  .bui-header__bar:not(:last-child) {
    padding-bottom: 8px;
  }

  .bui-header__main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .bui-header--logo-large .bui-header__logo img,
  .bui-header--logo-large .bui-header__logo svg {
    height: 24px;
  }
}

@media (max-width: 767px) {
  .bui-group--inline {
    /* flex-direction: column !important; */
    align-items: center;
  }

  .collapse.show {
    background-color: #003580;
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100vh;
    z-index: 1;
  }

  .fa-times {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
