.navbar-bg{
    color: #fff;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}

.bg-blue{
    background: #003580;

}

.country-btn{
    border: 0;
    outline: 0;
    background : transparent;
}

.country-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.country-img img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 100px;
}

.access-container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 16px 16px 0;
}

.access-panel-container {
    width: 360px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.access-panel-container h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #262626;
}

.access-panel-container label{
    font-size: 14px;
    line-height: 20px;
    color: #262626;
    font-weight: 500;
}

.transition-container {
    overflow: hidden;
    padding: 0 4px 10px;
    margin: 0 -4px;
}

.auth-input{
    width: 100%;
    appearance: none;
    padding: 4px 8px;
    height: 36px;
    background: none;
    display: block;
    outline: none;
    border: 1px solid #949494;
}

.auth-input:focus{
    border: 2px solid #0071c2;
}

.auth-btn{
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #0071c2;
    border-color: #0071c2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 24px;
    min-height: 48px;
    min-width: 360px;
    top: 5px;
}

.button-outline-Auth{
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: white;
    border-color: #0071c2;
    color: #0071c2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 24px;
    min-height: 48px;
    min-width: 360px;
    top: 5px;
}
.button-outline-Auth:hover{
    background-color: #a6d2f13b;
}
.auth-btn:hover{
    background-color: #00487a;
    border-color: #00487a;
}

.line{
    position: relative;
}

.text {
    margin-top: 0;
    text-align: center;
    z-index: 11;
    background-color: #fff;
  }
  
  .text:before {
    content: "";
    display: block;
    border-top: solid 1px #dedede;
    width: 25%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  .text::after {
    content: "";
    display: block;
    border-top: solid 1px #dedede;
    width: 25%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
    right: 0;
  }
  

  .access-panel__social-buttons {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      padding: 8px 0 0;
  }

  .access-panel__social-button {
    display: inline-block;
    display: flex;
    padding: 23px;
    border: 1px solid #e6e6e6!important;
    margin: 8px;
    width: 72px;
    height: 72px;
}

.access-panel__social-button-facebook svg {
    fill: #4267b2;
}

.access-panel__social-button:hover {
    border-color: #005c9d!important;
}


.account-access__footer {
    padding: 16px;
}

body .bui-f-font-caption, body .bui_font_caption {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.footer-block {
    padding: 16px 0;
    border-top: 1px solid #e6e6e6;
}