.wrapper .right {
  background: #f5f4f4;
}

.wrapper .left,
.wrapper .right {
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.wrapper .left:hover .image1 {
  transform: scale(1.2);
}

.wrapper .image1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.signin {
  background: url("../../assets//images/3.jpg");
}

@media screen and (min-width: 1000px) {
  .wrapper {
    display: flex;
  }

  .wrapper .left,
  .wrapper .right {
    width: 50%;
    height: 100vh;
  }
  .access-container {
    margin-top: 184px;
  }
}

.wrapper .right {
  background: #f5f4f4;
}

.navbar-bg {
  color: #fff;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

.bg-blue {
  background: #003580;
}

.country-btn {
  border: 0;
  outline: 0;
  background: transparent;
}

.country-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.country-img img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 100px;
}

.access-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 16px 16px 0;
}

.access-panel-container {
  width: 388px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.align_formGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.access-panel-container h1 {
  height: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.02em;
  margin-bottom: 49px;
  color: #000000;
}

.access-panel-container label {
  font-size: 14px;
  line-height: 20px;
  color: #262626;
  font-weight: 500;
}

.transition-container {
  overflow: hidden;
  padding: 0 4px 10px;
  margin: 0 -4px;
}

.invalid_feedback {
  color: #d81212;
}

.auth-input:focus {
  outline: none;
  border: 1px solid #ed6648;
}

.auth-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  background: none;
  width: 379px;
  height: 21px;
  padding: 20px;
}

.signinbutton {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.alteritive_wrapper {
  display: flex;
  margin-bottom: 60px;
  gap: 40px;
}

.alteritive_signin {
  width: 160px;
  height: 30px;
  background: #ffffff;
  box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  border: none;
}

.auth-btn {
  border: 1px solid transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 24px;
  margin-top: 7px;
  width: 200px;
  height: 50px;
  background: #ed6648;
  border-radius: 30px;
}

.button-outline-Auth {
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: white;
  border-color: #0071c2;
  color: #0071c2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 24px;
  min-height: 48px;
  min-width: 360px;
  top: 5px;
}
.button-outline-Auth:hover {
  background-color: #a6d2f13b;
}
.auth-btn:hover {
  background-color: #ffffff;
  border-color: #ed6648;
  color: #ed6648;
}

.verificationCode_text {
  display: flex;
  text-align: center;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
  color: #000000;
  justify-content: center;
  flex-direction: column;
}

.line {
  position: relative;
}

.text {
  margin-top: 0;
  text-align: center;
  z-index: 11;
  background-color: #fff;
}

.text:before {
  content: "";
  display: block;
  border-top: solid 1px #dedede;
  width: 25%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.text::after {
  content: "";
  display: block;
  border-top: solid 1px #dedede;
  width: 25%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
  right: 0;
}

.access-panel__social-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 8px 0 0;
}

.access-panel__social-button {
  display: inline-block;
  display: flex;
  padding: 23px;
  border: 1px solid #e6e6e6 !important;
  margin: 8px;
  width: 72px;
  height: 72px;
}

.access-panel__social-button-facebook svg {
  fill: #4267b2;
}

.access-panel__social-button:hover {
  border-color: #005c9d !important;
}

.account-access__footer {
  padding: 16px;
}

body .bui-f-font-caption,
body .bui_font_caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.footer-block {
  padding: 16px 0;
  border-top: 1px solid #e6e6e6;
}
