<div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"
         [(ngModel)]="searchUser" />
  <button type="button" class="btn btn-dark" (click)="search()">search</button>
</div>

<div class="row">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#add">Add</button>
    <button type="button" id="editButton" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#edit" disabled>Edit</button>
    <button type="button" id="deleteButton" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#delete" disabled>Delete</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLabel">Add user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="newEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="newEmail" name="user.email" [(ngModel)]="user.email">

            <label for="newPass" class="form-label">Password</label>
            <input type="password" class="form-control" id="newPass" name="user.passwordHash" [(ngModel)]="user.passwordHash">

            <label for="newConfirmPass" class="form-label">Confirm password</label>
            <input type="password" class="form-control" id="newConfirmPass" name="confirmPass" [(ngModel)]="confirmPass">

            <label for="newRole" class="form-label">Role</label>
            <select id="newRole" class="form-select userRoles" name="user.role.id" [(ngModel)]="user.role.id"></select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="addUser()">Save</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Edit user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="editFirstName" class="form-label">First name</label>
            <input class="form-control" id="editFirstName" name="user.firstName" [(ngModel)]="user.firstName" />

            <label for="editLastName" class="form-label">Last name</label>
            <input class="form-control" id="editLastName" name="user.lastName" [(ngModel)]="user.lastName" />

            <label for="editDisplayName" class="form-label">Display name</label>
            <input class="form-control" id="editDisplayName" name="user.displayName" [(ngModel)]="user.displayName" />

            <label for="editRole" class="form-label">Role</label>
            <select id="editRole" class="form-select userRoles" name="user.role.id" [(ngModel)]="user.role.id"></select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="editUser()">Save</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteLabel">Delete user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="deleteFirstName" class="form-label">First name</label>
            <input class="form-control" id="deleteFirstName" name="user.firstName" [(ngModel)]="user.firstName" readonly />

            <label for="deleteLastName" class="form-label">Last name</label>
            <input class="form-control" id="deleteLastName" name="user.lastName" [(ngModel)]="user.lastName" readonly />

            <label for="deleteDisplayName" class="form-label">Display name</label>
            <input class="form-control" id="deleteDisplayName" name="user.displayName" [(ngModel)]="user.displayName" readonly />

            <label for="deleteRole" class="form-label">Role</label>
            <input class="form-control" id="deleteRole" name="user.role.id" [(ngModel)]="user.role.id" readonly />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteUser()">Delete</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-dark table-bordered border-white">
  <thead>
    <tr>
      <th scope="col text-center align-self-center"></th>
      <th scope="col text-center align-self-center">#</th>
      <th scope="col align-top">Title</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Display name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone number</th>
      <th scope="col">Role</th>
      <th scope="col">Profile Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="userRadio" id="userRadio" value={{user.id}}
          (click)="setUser(user)" >
        </div>
      </th>
      <td>{{user.id}}</td>
      <td>{{user.title}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.displayName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>{{user.role?.name}}</td>
      <td>{{user.profile?.id}}</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-dark" (click)="loadMore()">Load more</button>
