.user-bookings-container {
  display: flex;
  flex-direction: column;
  margin: 0px auto 5rem;
  max-width: 1140px;
}

.user-bookings-navbar {
  display: flex;
  margin: 10px 0px;
  justify-content: center;
}

.user-bookings-navbar-buttons {
  display: flex;
  gap: 2rem;
}

.user-bookings-navbar-buttons > button {
  border: 1px solid white;
  padding: 10px;
  color: #0c9496;
  background: white;
}

.empty-saved-button {
  color: white;
  border: 0;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #0c9496;
}

.user-bookings-navbar-buttons > button:hover {
  padding: 10px;
  color: #f69e21;
  background: white;
  border-bottom: 1px solid #f69e21;
}

.user-bookings-main-container {
  padding: 10px;
}

.user-bookings-subheader {
  display: flex;
  flex-direction: column;
}

.user-bookings-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #e0e0e0;
  margin: 20px 0px;
  min-width: 526px;
  box-shadow: 0px 0px 13px 6px #999999;
}

.user-bookings-card-left {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.user-bookings-card-left > img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.user-bookings-card-left-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.user-bookings-card-right {
}

.user-bookings-card-right-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropdown-button {
  border: 0;
  background: white;
}

.modal-footer-remove {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.modal-footer-remove > div {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}

.emptyBookings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
