<!-- <p>
  Это компонент, который показывает арендованные пользователем объекты.
  Должен находится там же, где и My settings, Saved и т.д. Добавь там еще Bookings.
  https://prnt.sc/tEpZlGXrAU_t - Вот пример как сделать.
  https://prnt.sc/djiTpM3ym88g - А это пример того, как нужно сделать его.
  Почти тоже самое, только убираем "Can't find a booking?".
  При нажатии на объект должно показываться модальное окно такого типа:
  https://prnt.sc/aws5iKfGlywG
  Только вместо информации, которая не относится к этому заказу, нужно добавить информацию, которая касается именно этого заказа.
  Т.е. ФИО пользователя (всех, кто будет проживать), который оформлял заказ, дату, информацию какую-то про объект, цена, confirmation code, PIN.
  Что-то вроде этого: https://prnt.sc/nI59sxIEHi_L
  Только все лишнее убрать, а оставить самое главное и сделать это в модальном окне.
  При нажатии на 3 точки, чтобы можно было выбрать "Remove booking".
  Открывается опять модальное окно с подтверждением для удаления.
  Вот так: https://prnt.sc/RnZba3O3oUk8
</p> -->

<body>
  <app-header></app-header>
  <div class="user-bookings-container">
    <div class="user-bookings-navbar">
      <div class="user-bookings-navbar-buttons">
        <button>My dashboard</button>
        <button>Bookings</button>
        <button>Reviews</button>
        <button>Settings</button>
        <button>List your property</button>
      </div>
    </div>

    <div class="empty-saved-list" *ngIf="bookings.length == 0">
      <svg
        class="bk-icon -iconset-heart_outline list-empty-bui__heart"
        fill="#9966ff"
        is_presentation="true"
        width="128"
        height="128"
        viewBox="0 0 128 128"
      >
        <path
          d="M119.5 40.3a29 29 0 0 0-22.8-23.7 33.8 33.8 0 0 0-32.7 13 33.7 33.7 0 0 0-32.7-13A29 29 0 0 0 8.5 40.3c-1.3 7.2-.6 18.8 9.4 33.3A140 140 0 0 0 62 111.5a3.7 3.7 0 0 0 4 0c20.2-12 35-24.8 44.1-38 10-14.4 10.7-26 9.5-33.2zm-55.5 63c-33-20.1-50.8-43-47.7-61.6A20.7 20.7 0 0 1 33 24.3a22.3 22.3 0 0 1 4.5-.4c8.8 0 17.3 5.2 23.2 14.6a4 4 0 0 0 3.4 1.8 4 4 0 0 0 3.4-1.8c6-9.4 14.4-14.6 23.2-14.6a22.3 22.3 0 0 1 4.5.5 20.7 20.7 0 0 1 16.6 17.2c3 18.6-14.8 41.6-47.8 61.7z"
        ></path>
      </svg>
      <h2>Let's start from three easy steps:</h2>
      <ol>
        <li>1. Start a search</li>
        <li>2. Book any suggestion</li>
        <li>3. All of your bookings will appear in the list</li>
      </ol>
      <button class="empty-saved-button" routerLink="stays">
        <span class="bui-button__text"> Start search </span>
      </button>
    </div>

    <div class="user-bookings-main-container" *ngIf="bookings.length != 0">
      <h2>Bookings</h2>
      <div *ngFor="let item of bookings; let i = index">
        <div class="user-bookings-subheader">
          <span>{{item.suggestion.address.city.title}}</span>
          <span>{{item.checkIn}} - {{item.checkOut}}</span>
        </div>
        <div class="user-bookings-card">
          <div
            class="user-bookings-card-left"
            (click)="openVerticallyCentered(revealContent)"
          >
            <img src="{{
              imageHelper.getImageDirectoryPath()
            }}suggestions/stays/{{ item.suggestion.images[0].name }}" alt="image" />
            <div class="user-bookings-card-left-item">
              <span>{{item.suggestion.name}}</span>
              <span>{{item.checkIn}} - {{item.checkOut}}, {{item.suggestion.address.city.title}}</span>
              <span>{{item.bookingStatus.status}}</span>
            </div>
          </div>
          <div class="user-bookings-card-right">
            <div class="user-bookings-card-right-item">
              <span>{{item.price.currency.bankCode}} {{item.price.amount}}</span>
              <div class="btn-group">
                <button
                  type="button"
                  class="dropdown-button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  ...
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-item">
                    <button
                      class="dropdown-button"
                      (click)="openVerticallyCentered(revealContent)"
                    >
                      Reveal information
                    </button>
                  </li>
                  <li class="dropdown-item">
                    <button
                      class="dropdown-button"
                      (click)="openVerticallyCentered(removeContent)"
                    >
                      Remove object
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>

<ng-template #removeContent let-modal>
  <div class="modal-header">
    <h2>Remove Booking</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="user-bookings-card-left">
      <img src="../../assets/images/12.jpg" alt="" />
      <div class="user-bookings-card-left-item">
        <span>Hostel</span>
        <span>23 Aug 2019 - 24 Aug 2019</span>
        <span>Cancelled</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="modal-footer-remove">
      <span
        >You are about to permanently remove this booking from your bookings
        list.</span
      >
      <div>
        <button type="button" class="btn btn-primary">Remove</button>
        <button type="button" class="btn btn-primary">Keep</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #revealContent let-modal>
  <div class="modal-header">
    <h2>Remove Booking</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="user-bookings-card-left">
      <img src="../../assets/images/12.jpg" alt="" />
      <div class="user-bookings-card-left-item">
        <span>Hostel</span>
        <span>23 Aug 2019 - 24 Aug 2019</span>
        <span>Cancelled</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="modal-footer-remove">
      <span
        >You are about to permanently remove this booking from your bookings
        list.</span
      >
      <div>
        <button type="button" class="btn btn-primary">Remove</button>
        <button type="button" class="btn btn-primary">Keep</button>
      </div>
    </div>
  </div>
</ng-template>
