<div>
  <div class="personal_details_container">
    <h1>Personal details</h1>
    <p>Update your info and find out how it's used.</p>
  </div>
</div>
<div class="container container-fluid">
  <ul class="list-group list-group-flush container-fluid">
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          Title
        </div>
        <div class="col-6">
          Add a title name
        </div>
        <div class="col">
         <button class="btn btn-outline-primary">Edit</button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          Name
        </div>
        <div class="col-6">
          Add a name
        </div>
        <div class="col">
          <button class="btn btn-outline-primary">Edit</button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          Display name
        </div>
        <div class="col-6">
          Choose a display name
        </div>
        <div class="col">
          <button class="btn btn-outline-primary">Edit</button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          Email address
        </div>
        <div class="col-6">
          2 of 3
        </div>
        <div class="col">
          <button class="btn btn-outline-primary">Edit</button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          Phone number
        </div>
        <div class="col-6">
          Add your phone number
        </div>
        <div class="col">
          <button class="btn btn-outline-primary">Edit</button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          Date of birth
        </div>
        <div class="col-6">
          Add a date of birth
        </div>
        <div class="col">
          <button class="btn btn-outline-primary">Edit</button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          Nationality
        </div>
        <div class="col-6">
          Add a nationality
        </div>
        <div class="col">
          <button class="btn btn-outline-primary">Edit</button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          Gender
        </div>
        <div class="col-6">
          Choose a gender
        </div>
        <div class="col">
          <button class="btn btn-outline-primary">Edit</button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          Address
        </div>
        <div class="col-6">
          Choose an address
        </div>
        <div class="col">
          <button class="btn btn-outline-primary">Edit</button>
        </div>
      </div>
    </li>
  </ul>
</div>
