<div class="emk_footer_update emk_footer_centered emk_footer_update_space">
  <div class="footerconstraint-inner">
    <div class="emk_footer_banner_block">
      <h2>Save time, save money!</h2>
    </div>
    <div class="emk_footer_subbanner_block">
      Sign up and we'll send the best deals to you
    </div>
    <div class="clearfix"></div>
    <div class="emk_footer_form_layout">
      <label for="newsletter_to" class="invisible_spoken">
        Enter your email address and we'll send you our best deals
      </label>
      <div class="subscription_form_wrap position-relative">
        <input
          name="email"
          autocapitalize="off"
          required="true"
          id="newsletter_to"
          class="input_newsletter_subscription_to"
          placeholder="Your email"
          title=""
          value=""
          required
          [pattern]="emailPattern"
          #offEmail="ngModel"
          [(ngModel)]="email"
        />
        <button id="newsletter_button_footer" (click)="fetchRequest()">
          Subscribe
        </button>
      </div>
    </div>
    <div class="subscriptionValidator" *ngIf="offEmail.errors">
      <div *ngIf="offEmail.errors.required">Email required</div>
      <div *ngIf="offEmail.errors.pattern">Email not valid</div>
    </div>
  </div>
  <input name="recaptcha_enabled" value="1" type="hidden" />
  <style nonce="em3UjxXo2q0cjXc">
    .grecaptcha-badge {
      display: none;
      bottom: 90px !important;
    }
  </style>
</div>

<div style="clear: both"></div>

<div id="booking-footer" class="footer-wrapper">
  <div id="footer_top_menu" class="footer-top-menu">
    <a routerLink="/joinpartner" class="footer-top-button">
      List your property
    </a>
  </div>
  <div class="footercolor">
    <div class="footerconstraint-inner">
      <div
        id="footer"
        class="footer-navigation-links-wrapper clearfix"
        role="navigation"
      >
        <div id="footer_links" class="footer-navigation-links">
          <div
            class="footer-navigation-links-column footer-seo-links-to-html-sitemaps mb-3 mb-md-0"
          >
            <ul class="footer-navigation-links-list">
              <li class="footer-navigation-link">
                <a> Countries </a>
              </li>
              <li class="footer-navigation-link">
                <a> Regions </a>
              </li>
              <li class="footer-navigation-link">
                <a> Cities </a>
              </li>
              <li class="footer-navigation-link">
                <a> Districts </a>
              </li>
              <li class="footer-navigation-link">
                <a> Airports </a>
              </li>
              <li class="footer-navigation-link">
                <a> Hotels </a>
              </li>
              <li class="footer-navigation-link">
                <a> Places of interest </a>
              </li>
            </ul>
          </div>
          <div class="footer-navigation-links-column mb-3 mb-md-0">
            <ul class="footer-navigation-links-list footer-seo-links-to-index">
              <li class="footer-navigation-link">
                <a data-ga="booking-home"> Homes </a>
              </li>
              <li class="footer-navigation-link">
                <a> Apartments </a>
              </li>
              <li class="footer-navigation-link">
                <a> Resorts </a>
              </li>
              <li class="footer-navigation-link">
                <a> Villas </a>
              </li>
              <li class="footer-navigation-link">
                <a> Hostels </a>
              </li>
              <li class="footer-navigation-link">
                <a> B&amp;Bs </a>
              </li>
              <li class="footer-navigation-link">
                <a> Guest houses </a>
              </li>
            </ul>
          </div>
          <div class="footer-navigation-links-column mb-3 mb-md-0">
            <ul class="footer-navigation-links-list">
              <li class="footer-navigation-link">
                <a> Unique places to stay </a>
              </li>
              <li class="footer-navigation-link">
                <a> All destinations </a>
              </li>
              <li class="footer-navigation-link">
                <a> Discover </a>
              </li>
              <li class="footer-navigation-link">
                <a class="js-reviews-footer-link"> Reviews </a>
              </li>
              <li class="footer-navigation-link">
                <a
                  type="nav"
                  location="main-site-footer"
                  category="articles-link"
                >
                  Unpacked: Travel articles
                </a>
              </li>
              <li class="footer-navigation-link">
                <a data-ep-link=""> Travel communities </a>
              </li>
              <li class="footer-navigation-link">
                <a title="Seasonal and holiday deals">
                  Seasonal and holiday deals
                </a>
              </li>
            </ul>
          </div>
          <div class="footer-navigation-links-column mb-3 mb-md-0">
            <ul class="footer-navigation-links-list">
              <li class="footer-navigation-link">
                <a rel="nofollow" target="_blank"> Car rental </a>
              </li>
              <li class="footer-navigation-link">
                <a rel="nofollow" target="_blank"> Flight finder </a>
              </li>
              <li class="footer-navigation-link">
                <a rel="nofollow" target="_blank"> Restaurant reservations </a>
              </li>
              <li class="footer-navigation-link">
                <a title="Booking.com for Travel Advisers">
                  Booking.com for Travel Agents
                </a>
              </li>
            </ul>
          </div>
          <div class="footer-navigation-links-column mb-3 mb-md-0">
            <ul class="footer-navigation-links-list">
              <li class="footer-navigation-link">
                <a> Coronavirus (COVID-19) FAQs </a>
              </li>
              <li class="footer-navigation-link">
                <a>About Booking.com</a>
              </li>
              <li class="footer-navigation-link">
                <a> Contact Customer Service </a>
              </li>
              <li class="footer-navigation-link">
                <a> Partner help </a>
              </li>
              <li class="footer-navigation-link">
                <a> Careers </a>
              </li>
              <li class="footer-navigation-link">
                <a> Sustainability </a>
              </li>
              <li class="footer-navigation-link">
                <a class="tracked"> Press center </a>
              </li>
              <li class="footer-navigation-link">
                <a class="tracked"> Safety Resource Center </a>
              </li>
              <li class="footer-navigation-link">
                <a class="tracked"> Investor relations </a>
              </li>
              <li class="footer-navigation-link">
                <a> Terms &amp; conditions </a>
              </li>
              <li class="footer-navigation-link">
                <a> Partner dispute </a>
              </li>
              <li class="footer-navigation-link">
                <a> Privacy &amp; cookie statement </a>
              </li>
              <li class="footer-navigation-link">
                <a> Corporate contact </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright_text">
      Copyright © 1996–2022 Booking.com™. All rights reserved.
    </div>
  </div>
</div>
