<div class="emk_footer_update emk_footer_centered emk_footer_update_space">
  <div class="footerconstraint-inner">
    <div class="emk_footer_banner_block">
      <h2>Save time, save money!</h2>
    </div>
    <div class="emk_footer_subbanner_block">
      Sign up and we'll send the best deals to you
    </div>
    <div class="clearfix"></div>
    <div class="emk_footer_form_layout">
      <label for="newsletter_to" class="invisible_spoken">
        Enter your email address and we'll send you our best deals
      </label>
      <div class="subscription_form_wrap position-relative">
        <input
          name="email"
          autocapitalize="off"
          required="true"
          id="newsletter_to"
          class="input_newsletter_subscription_to"
          placeholder="Your email"
          title=""
          value=""
          required
          [pattern]="emailPattern"
          #offEmail="ngModel"
          [(ngModel)]="email"
        />
        <button id="newsletter_button_footer" (click)="addDealsSubscriber()">
          Subscribe
        </button>
      </div>
    </div>
    <div class="subscriptionValidator" *ngIf="offEmail.errors">
      <div *ngIf="offEmail.errors.required">Email required</div>
      <div *ngIf="offEmail.errors.pattern">Email not valid</div>
    </div>
  </div>
  <input name="recaptcha_enabled" value="1" type="hidden" />
  <style nonce="em3UjxXo2q0cjXc">
    .grecaptcha-badge {
      display: none;
      bottom: 90px !important;
    }
  </style>
</div>

<div style="clear: both"></div>

<div id="booking-footer" class="footer-wrapper">
  <div id="footer_top_menu" class="footer-top-menu">
    <a routerLink="/joinpartner" class="footer-top-button">
      List your property
    </a>
  </div>
  <div class="footercolor">
    <div class="footerconstraint-inner">
      <div
        id="footer"
        class="footer-navigation-links-wrapper clearfix"
        role="navigation"
      >
        <div id="footer_links1" class="footer-navigation-links">
          <div class="footer-navigation-links-column mb-3 mb-md-0">
            <ul class="footer-navigation-links-list footer-seo-links-to-index">
              <li class="footer-navigation-link button-class"
                  *ngFor="let category of mainDataService.getBookingCategories(); let i = index"
                  (click)="searchSuggestionsByCategory($event, category.category)">
                <a> {{category.category}} </a>
              </li>
            </ul>
          </div>
          <div class="footer-navigation-links-column mb-3 mb-md-0">
            <ul class="footer-navigation-links-list footer-seo-links-to-index">
              <li class="footer-navigation-link button-class"
                  *ngFor="let country of mainDataService.getSearchingCountries(); let i = index"
                  (click)="searchSuggestionsByPlace($event, country)">
                <a> {{country}} </a>
              </li>
            </ul>
          </div>
          <div class="footer-navigation-links-column mb-3 mb-md-0">
            <ul class="footer-navigation-links-list footer-seo-links-to-index">
              <li class="footer-navigation-link button-class"
                  *ngFor="let city of mainDataService.getSearchingCities(); let i = index"
                  (click)="searchSuggestionsByPlace($event, city.title)">
                <a> {{city.title}} </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright_text">
      Copyright © 2022 Apartstep.fun™. All rights reserved.
    </div>
  </div>
</div>
