<div class="emk_footer_update emk_footer_centered emk_footer_update_space ">
  <div class="footerconstraint-inner">
    <div class="emk_footer_banner_block">
      <h2>Save time, save money!</h2>
    </div>
    <div class="emk_footer_subbanner_block">
      Sign up and we'll send the best deals to you
    </div>
    <div class="clearfix"></div>
    <div class="emk_footer_form_layout">
      <label for="newsletter_to" class="invisible_spoken">
        Enter your email address and we'll send you our best deals
      </label>
      <div class="subscription_form_wrap position-relative">
        <input type="email" name="to" autocapitalize="off" required="true" id="newsletter_to" [(ngModel)]="email"
          class="input_newsletter_subscription_to" placeholder="Your email" title="" value="" data-ajax-submit="">
        <button id="newsletter_button_footer" (click)="fetchRequest()" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
          Subscribe
        </button>
        <div class="custom-alert" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <div class="d-flex align-items-center">
            <div class="alert-gold-i"><i class="fas fa-info"></i></div>
            <div class="custom-alert-text ml-3">
              Please Include an '@' in the email address. 'value' is missing an '@'.
            </div>
          </div>
        </div>
      </div>
      <label class="emk_footer_gta_addition_left" data-et-click="goal:www_app_download_checkbox_footer_click">
        <input type="checkbox" name="get_the_app" value="1" data-ajax-submit="">
        Send me a link to get the FREE Booking.com app!
      </label>
    </div>

  </div>
  <input name="recaptcha_enabled" value="1" type="hidden" data-ajax-submit="">
  <style nonce="em3UjxXo2q0cjXc">
    .grecaptcha-badge {
      display: none;
      bottom: 90px !important;
    }
  </style>

</div>

<div style="clear: both;"></div>

<div id="booking-footer" class="footer-wrapper">
  <div id="footer_top_menu" class="footer-top-menu">
    <div class="footer-top-partners clearfix js-footer-top-menu">
      <div class="footerconstraint-inner clearfix">
        <div id="footertopnav-partners" role="navigation">
          <p class="footer-top-partner-text footer-top-partner-buttons">
            <a ref="nofollow" href="javascript:void(0)" target="_blank" class="footer-top-button">
              List your property
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="footerconstraint-inner clearfix">
      <div id="footertopnav" role="navigation">
        <ul class="footer-top-links-list">
          <li class="footer-top-link">
            <a rel="nofollow" href="javascript:void(0)">Mobile version</a>
          </li>
          <li class="footer-top-link">
            <a href="javascript:void(0)">
              Your account
            </a>
          </li>
          <li class="footer-top-link">
            <a class="manage" href="javascript:void(0)">
              Make changes online to your booking
            </a>
          </li>
          <li class="footer-top-link">
            <a class="cuca" href="javascript:void(0)">
              Contact Customer Service
            </a>
          </li>
          <li class="footer-top-link">
            <a href="javascript:void(0)" data-bui-component="Tooltip" class="footer_become_affiliate">
              Become an affiliate
            </a>
          </li>
          <li class="footer-top-link">
            <a href="javascript:void(0)" class="tracked">Booking.com for Business</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footerconstraint-inner">
    <div id="footer" class="footer-navigation-links-wrapper clearfix" role="navigation">
      <div id="footer_links" class="footer-navigation-links">
        <div class="footer-navigation-links-column footer-seo-links-to-html-sitemaps mb-3 mb-md-0">
          <ul class="footer-navigation-links-list">
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Countries
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Regions
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Cities
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Districts
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Airports
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Hotels
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Places of interest
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-navigation-links-column mb-3 mb-md-0">
          <ul class="footer-navigation-links-list footer-seo-links-to-index">
            <li class="footer-navigation-link">
              <a href="javascript:void(0)" data-ga="booking-home">
                Homes
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Apartments
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Resorts
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Villas
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Hostels
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                B&amp;Bs
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Guest houses
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-navigation-links-column mb-3 mb-md-0">
          <ul class="footer-navigation-links-list">
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Unique places to stay
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                All destinations
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Discover
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)" class="js-reviews-footer-link">
                Reviews
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)" type="nav" location="main-site-footer" category="articles-link">
                Unpacked: Travel articles
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)" data-ep-link="">
                Travel communities
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)" title="Seasonal and holiday deals">
                Seasonal and holiday deals
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-navigation-links-column mb-3 mb-md-0">
          <ul class="footer-navigation-links-list">
            <li class="footer-navigation-link">
              <a rel="nofollow" href="javascript:void(0)" target="_blank">
                Car rental
              </a>
            </li>
            <li class="footer-navigation-link">
              <a rel="nofollow" href="javascript:void(0)" target="_blank">
                Flight finder
              </a>
            </li>
            <li class="footer-navigation-link">
              <a rel="nofollow" href="javascript:void(0)" target="_blank">
                Restaurant reservations
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)" title="Booking.com for Travel Advisers">
                Booking.com for Travel Agents
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-navigation-links-column mb-3 mb-md-0">
          <ul class="footer-navigation-links-list">
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Coronavirus (COVID-19) FAQs
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">About
                Booking.com</a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Contact Customer Service
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Partner help
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Careers
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Sustainability
              </a>
            </li>
            <li class="footer-navigation-link">
              <a class="tracked" href="javascript:void(0)">
                Press center
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)" class="tracked">
                Safety Resource Center
              </a>
            </li>
            <li class="footer-navigation-link">
              <a class="tracked" href="javascript:void(0)">
                Investor relations
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Terms &amp; conditions
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Partner dispute
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Privacy &amp; cookie statement
              </a>
            </li>
            <li class="footer-navigation-link">
              <a href="javascript:void(0)">
                Corporate contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div role="region" aria-label="Get the FREE Booking.com app now" class="local_info_bot footerconstraint-inner">
    <div class="local_info_bot_inner">
      <div class="extranet_link_container">
        <a class="extranet_link" href="javasccript:void(0)">
          Extranet login
        </a>
      </div>
      <div class="footercopyright frontpage ">
        <div class="whitebar">
          <div class="copyright_text">
            Copyright © 1996–2022
            Booking.com™. All rights reserved.
          </div>
        </div>
      </div>
    </div>
    <div style="clear:both;">&nbsp;</div>
  </div>
  <div class="footer-logos footerconstraint-inner">
    <div class="footer__priceline">
      <p class="footer__priceline__title">Booking.com is part of Booking Holdings Inc., the world leader in online
        travel and related services.
      </p>
      <div class="footer__priceline__list">
        <ul>
          <li>
            <img src="assets/images/11.png" title="Booking.com" alt="Booking.com" height="26" width="91">

          </li>
          <li>
            <img src="assets/images/43.png" title="Priceline" alt="Priceline" height="26" width="91">
          </li>
          <li>
            <img src="assets/images/13.png" title="Kayak" alt="Kayak" height="26" width="79">
          </li>
          <li>
            <img src="assets/images/1.png" title="Agoda" alt="Agoda" height="26" width="70">
          </li>
          <li>
            <img src="assets/images/6.png" title="Rentalcars" alt="Rentalcars" height="26" width="109">
          </li>
          <li>
            <img src="assets/images/37.png" title="OpenTable" alt="OpenTable" height="26" width="95">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
