.progress-properties-main {
  display: flex;
  margin: 20px;
  padding: 20px;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
  background: rgb(235, 235, 235);
}

.progress-properties-container {
  display: flex;
  background: rgb(255, 255, 255);
  flex-direction: column;
  flex-wrap: nowrap;
}

.button-cursor {
  cursor: pointer;
}

.progress-properties-container > * {
  padding: 20px;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.progress-properties-header {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  gap: 20px;
}

.progress-properties-header > * {
  flex-basis: 20%;
}

.progress-properties-header > :nth-child(2) {
  flex-basis: 20%;
}

.progress-properties-header > :nth-child(3) {
  flex-basis: 30%;
}

.progress-properties-item {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  gap: 20px;
}

.progress-properties-item > * {
  flex-basis: 20%;
}

.progress-properties-item > :nth-child(2) {
  flex-basis: 20%;
}

.progress-properties-item > :nth-child(3) {
  flex-basis: 30%;
}

.active-properties-main {
  display: flex;
  margin: 20px;
  padding: 20px;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
  background: rgb(235, 235, 235);
}

.active-properties-container {
  display: flex;
  background: rgb(255, 255, 255);
  flex-direction: column;
  flex-wrap: nowrap;
}

.active-properties-container > * {
  padding: 20px;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.active-properties-header {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  gap: 20px;
}

.active-properties-header > * {
  flex-basis: 10%;
}

.active-properties-header > :nth-child(2) {
  flex-basis: 25%;
}

.active-properties-header > :nth-child(3) {
  flex-basis: 25%;
}

.active-properties-item {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  gap: 20px;
}

.active-properties-item > * {
  flex-basis: 10%;
}

.active-properties-item > :nth-child(2) {
  flex-basis: 25%;
}

.active-properties-item > :nth-child(3) {
  flex-basis: 25%;
}

.name-text {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  flex-wrap: nowrap;
}

.name-text > img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  object-fit: cover;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.action-text {
  display: flex;
  justify-content: space-between;
}

.text-continue {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.02em;

  /* Basic */

  color: rgba(238, 100, 69, 0.9);
}

.text-delete {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.02em;

  /* Bad pass */

  color: #cb4040;
}

.text-delete > img {
  width: 16px;
  height: 20px;
  margin-right: 5px;
}

.inputfield {
  border: 1px solid #0c9496;
  width: 300px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
  outline: none;
}

body {
  min-width: 768px;
}

.filter-button {
  background-color: #f29e21;
  color: #ffffff;
  border: 1px solid #f29e21;
  height: 30px;
  width: 70px;
  font-size: 16px;
  border-radius: 5px;
}

.progress-bar{
  background-color: #0c9496 !important;
}
