<body>
  <app-header></app-header>
  <div class="progress-properties-main">
    <h2>Properties in progress</h2>
    <div><input type="text" name="" id="" /></div>
    <div class="progress-properties-container">
      <div class="progress-properties-header">
        <span>Name</span>
        <span>Location</span>
        <span>Registration progress</span>
        <span>Action</span>
      </div>
      <div class="progress-properties-item">
        <div class="name-text">
          <img src="../../assets/flag/flag-12.png" />Unnamed property
        </div>
        <div>Ukraine</div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            50%
          </div>
        </div>
        <div class="action-text">
          <span class="text-continue">Continue registration</span
          ><span class="text-delete"
            ><img src="../../assets/images/trashcan.png" />Delete</span
          >
        </div>
      </div>
      <div class="progress-properties-item">
        <div class="name-text">
          <img src="../../assets/flag/flag-12.png" />Unnamed property
        </div>
        <div>Ukraine</div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            50%
          </div>
        </div>
        <div class="action-text">
          <span class="text-continue">Continue registration</span
          ><span class="text-delete"
            ><img src="../../assets/images/trashcan.png" />Delete</span
          >
        </div>
      </div>
      <div class="progress-properties-item">
        <div class="name-text">
          <img src="../../assets/flag/flag-12.png" />Unnamed property
        </div>
        <div>Ukraine</div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            50%
          </div>
        </div>
        <div class="action-text">
          <span class="text-continue">Continue registration</span
          ><span class="text-delete"
            ><img src="../../assets/images/trashcan.png" />Delete</span
          >
        </div>
      </div>
      <div class="progress-properties-item">
        <div class="name-text">
          <img src="../../assets/flag/flag-12.png" />Unnamed property
        </div>
        <div>Ukraine</div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            50%
          </div>
        </div>
        <div class="action-text">
          <span class="text-continue">Continue registration</span
          ><span class="text-delete"
            ><img src="../../assets/images/trashcan.png" />Delete</span
          >
        </div>
      </div>
      <div class="progress-properties-item">
        <div class="name-text">
          <img src="../../assets/flag/flag-12.png" />Unnamed property
        </div>
        <div>Ukraine</div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            50%
          </div>
        </div>
        <div class="action-text">
          <span class="text-continue">Continue registration</span
          ><span class="text-delete"
            ><img src="../../assets/images/trashcan.png" />Delete</span
          >
        </div>
      </div>
      <div class="progress-properties-item">
        <div class="name-text">
          <img src="../../assets/flag/flag-12.png" />Unnamed property
        </div>
        <div>Ukraine</div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            50%
          </div>
        </div>
        <div class="action-text">
          <span class="text-continue">Continue registration</span
          ><span class="text-delete"
            ><img src="../../assets/images/trashcan.png" />Delete</span
          >
        </div>
      </div>
      <div class="progress-properties-item">
        <div class="name-text">
          <img src="../../assets/flag/flag-12.png" />Unnamed property
        </div>
        <div>Ukraine</div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            50%
          </div>
        </div>
        <div class="action-text">
          <span class="text-continue">Continue registration</span
          ><span class="text-delete"
            ><img src="../../assets/images/trashcan.png" />Delete</span
          >
        </div>
      </div>
      <div class="progress-properties-item">
        <div class="name-text">
          <img src="../../assets/flag/flag-12.png" />Unnamed property
        </div>
        <div>Ukraine</div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            50%
          </div>
        </div>
        <div class="action-text">
          <span class="text-continue">Continue registration</span
          ><span class="text-delete"
            ><img src="../../assets/images/trashcan.png" />Delete</span
          >
        </div>
      </div>
      <div class="progress-properties-item">
        <div class="name-text">
          <img src="../../assets/flag/flag-12.png" />Unnamed property
        </div>
        <div>Ukraine</div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            50%
          </div>
        </div>
        <div class="action-text">
          <span class="text-continue">Continue registration</span
          ><span class="text-delete"
            ><img src="../../assets/images/trashcan.png" />Delete</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="active-properties-main">
    <h2>Active properties</h2>
    <div><input type="text" name="" id="" /></div>
    <div class="active-properties-container">
      <div class="active-properties-header">
        <span>ID</span>
        <span>Name</span>
        <span>Location</span>
        <span>Status</span>
        <span>Guest messages</span>
      </div>
      <div class="active-properties-item">
        <div>853723</div>
        <div class="name-text">
          <img src="../../assets/flag/flag-12.png" />Unnamed property
        </div>
        <div>Berlin, Germany</div>
        <div>Open/Bookable</div>
        <div class="action-text">
          <span class="text-continue">6</span>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
