<body data-topbar="dark">

  <!-- Begin page -->
  <div id="layout-wrapper">

    <header id="page-topbar">
      <div class="navbar-header">
        <div class="d-flex">
          <!-- LOGO -->
          <div class="navbar-brand-box">
            <a routerLink="" class="logo logo-light">
              <span class="logo-sm">
                <img src="assets/admin-panel/images/" alt="" height="25">
              </span>
              <span class="logo-lg">
                <img src="assets/admin-panel/images/" alt="" height="20">
              </span>
            </a>
          </div>

          <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect d-lg-none"
            id="vertical-menu-btn">
            <i class="mdi mdi-menu"></i>
          </button>


        </div>

        <div class="d-flex">
          <div class="d-inline-block">
            <a routerLink=""
              target="_blank" class="header-item">Support</a>
          </div>

          <div class="d-none d-md-inline-block">
            <a routerLink=""
              target="_blank" class="header-item">Need Customization?</a>
          </div>

          <div class="d-inline-block">
            <a routerLink="" target="_blank" class="header-item">Buy Now</a>
          </div>

          <div class="d-inline-block">
            <h5 class="header-item m-0"><span class="badge badge-danger">ADMIN</span></h5>
          </div>

        </div>
      </div>
    </header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">

      <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
            <li class="menu-title">Docs</li>

            <li>
              <a routerLink="" class="waves-effect">
                <i class="mdi mdi-text-box-outline"></i>
                <span>Introduction</span>
              </a>
            </li>

            <li>
              <a routerLink="" class=" waves-effect">
                <i class="mdi mdi-cog-outline"></i>
                <span>Setup</span>
              </a>
            </li>

            <li class="menu-title">Layouts</li>

            <li>
              <a routerLink="" class=" waves-effect">
                <i class="mdi mdi-flip-horizontal"></i>
                <span>Vertical</span>
              </a>
            </li>

            <li>
              <a routerLink="" class=" waves-effect">
                <i class="mdi mdi-flip-vertical"></i>
                <span>Horizontal</span>
              </a>
            </li>

            <li class="menu-title">Themes</li>

            <li>
              <a routerLink="" class=" waves-effect">
                <i class="mdi mdi-white-balance-sunny"></i>
                <span>Light Version</span>
              </a>
            </li>

            <li>
              <a routerLink="" class=" waves-effect">
                <i class="mdi mdi-weather-night"></i>
                <span>Dark Version</span>
              </a>
            </li>

            <li>
              <a routerLink="" class=" waves-effect">
                <i class="mdi mdi-web"></i>
                <span>RTL Version</span>
              </a>
            </li>

            <li class="menu-title">Other</li>

            <li>
              <a routerLink="" class=" waves-effect">
                <i class="mdi mdi-format-list-bulleted"></i>
                <span>Changelog</span>
              </a>
            </li>

          </ul>
        </div>
        <!-- Sidebar -->
      </div>
    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

      <div class="page-content">
        <div class="container-fluid">

          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="p-lg-1">
                    <h4 class="mt-0 mb-4">Dark Version</h4>
                    <p class="mb-0">

                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- end row -->

        </div> <!-- container-fluid -->
      </div>
      <!-- End Page-content -->


      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <script>document.write(new Date().getFullYear())</script> 2022 © Themesbrand. <!-- ?????? -->
            </div>
            <div class="col-sm-6">
              <div class="text-sm-right d-none d-sm-block">
                Designed <i class="mdi mdi-heart text-danger"></i> by <a routerLink=""
                  target="_blank" class="text-muted">Apart Team</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- end main content-->

  </div>
  <!-- END layout-wrapper -->
</body>
