<body data-topbar="dark">
  <!-- Begin page -->
  <div id="layout-wrapper">
    <header id="page-topbar">
      <div class="navbar-header">
        <div class="d-flex">
          <!-- LOGO -->
          <div class="navbar-brand-box">
            <a routerLink="" class="logo logo-light" (click)="userSignOut()">
              <span class="logo-sm">
                <!-- <img src="assets/admin-panel/images/" alt="" height="25"> -->
                <div class="logo-text">Apart.com</div>
              </span>
              <span class="logo-lg">
                <!-- <img src="assets/admin-panel/images/" alt="" height="20"> -->
                <div class="logo-text">Apart.com</div>
              </span>
            </a>
          </div>

          <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect d-lg-none"
            id="vertical-menu-btn">
            <i class="mdi mdi-menu"></i>
          </button>
        </div>

        <div class="d-flex">
          <div class="d-inline-block">
            <a target="_blank" class="btn header-item mt-3" (click)="setContent('promocode-generator')"
              >Promo Codes</a>
          </div>

          <div class="d-none d-md-inline-block">
            <a routerLink="" target="_blank" class="header-item">Need Customization?</a>
          </div>

          <div class="d-inline-block">
            <a routerLink="" target="_blank" class="header-item">Buy Now</a>
          </div>

          <div class="d-inline-block">
            <h5 class="header-item m-0">
              <span class="badge badge-danger">ADMIN</span>
            </h5>
          </div>
        </div>
      </div>
    </header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">
      <div data-simplebar class="h-100">
        <div class="accordion" id="accordionExample">
          <!--- Sidemenu -->
          <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <li class="menu-title" class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneUserData" aria-expanded="true" aria-controls="collapseOneUserData">
                    User data
                  </li>
                </h2>
                <div id="collapseOneUserData" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionUserData">
                  <li>
                    <a class="btn waves-effect" (click)="setContent('users')">
                      <i class="mdi mdi-account-circle"></i>
                      <span>Users</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('user-profiles')">
                      <i class="mdi mdi-account-box"></i>
                      <span>User profiles</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('temp-users')">
                      <i class="mdi mdi-account-box-outline"></i>
                      <span>Temp users</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('roles')">
                      <i class="mdi mdi-account-group"></i>
                      <span>Roles</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('genders')">
                      <i class="mdi mdi-account-circle"></i>
                      <span>Genders</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('favorites')">
                      <i class="mdi mdi-emoticon-tongue"></i>
                      <span>Favorites</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('languages')">
                      <i class="mdi mdi-account-heart"></i>
                      <span>Languages</span>
                    </a>
                  </li>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <li class="menu-title" class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneServices" aria-expanded="true" aria-controls="collapseOneServices">
                    Services
                  </li>
                </h2>
                <div id="collapseOneServices" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionFlights">
                  <li>
                    <a class="btn waves-effect" (click)="setContent('stay-bookings')">
                      <i class="mdi mdi-home"></i>
                      <span>Stay bookings</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('flight-bookings')">
                      <i class="mdi mdi-airplane"></i>
                      <span>Flight bookings</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('car-rental-bookings')">
                      <i class="mdi mdi-car"></i>
                      <span>Car rental bookings</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('attraction-bookings')">
                      <i class="mdi mdi-gamepad"></i>
                      <span>Attraction bookings</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('airport-taxi-bookings')">
                      <i class="mdi mdi-taxi"></i>
                      <span>Airport taxi bookings</span>
                    </a>
                  </li>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <li class="menu-title" class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneLocation" aria-expanded="true" aria-controls="collapseOneLocation">
                    Location
                  </li>
                </h2>
                <div id="collapseOneLocation" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionLocation">
                  <li>
                    <a class="btn text-start waves-effect" (click)="setContent('addresses')">
                      <i class="mdi mdi-map"></i>
                      <span>Addresses</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('airports')">
                      <i class="mdi mdi-airplane-takeoff"></i>
                      <span>Airports</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('cities')">
                      <i class="mdi mdi-city"></i>
                      <span>Cities</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('countries')">
                      <i class="mdi mdi-map-marker-radius"></i>
                      <span>Countries</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('districts')">
                      <i class="mdi mdi-map-marker-outline"></i>
                      <span>Districts</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('regions')">
                      <i class="mdi mdi-map-marker-circle"></i>
                      <span>Regions</span>
                    </a>
                  </li>
                </div>
              </div>

              <div class="accordion-item">
                <h2 id="headingOne">
                  <li class="menu-title" class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneSuggestions" aria-expanded="true"
                    aria-controls="collapseOneSuggestions">
                    Suggestions
                  </li>
                </h2>
                <div id="collapseOneSuggestions" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionSuggestions">
                  <li>
                    <a class="btn waves-effect" (click)="setContent('suggestions')">
                      <i class="mdi mdi-home-variant"></i>
                      <span>Suggestions</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('suggestions-highlights')">
                      <i class="mdi mdi-lightbulb-on-outline"></i>
                      <span>Suggestions highlights</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('suggestions-review-grades')">
                      <i class="mdi mdi-bookmark-check"></i>
                      <span>Suggestion review grades</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('suggestions-rules')">
                      <i class="mdi mdi-information-variant"></i>
                      <span>Suggestion rules</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('suggestions-rule-types')">
                      <i class="mdi mdi-information-variant"></i>
                      <span>Suggestion rule types</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('surrounding-objects')">
                      <i class="mdi mdi-home-map-marker"></i>
                      <span>Surrounding objects</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('surrounding-object-types')">
                      <i class="mdi mdi-home-map-marker"></i>
                      <span>Surrounding object types</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('room-types')">
                      <i class="mdi mdi-home-modern"></i>
                      <span>Room types</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('rooms')">
                      <i class="mdi mdi-home-modern"></i>
                      <span>Rooms</span>
                    </a>
                  </li>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <li class="menu-title" class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneReviews" aria-expanded="true" aria-controls="collapseOneReviews">
                    Reviews
                  </li>
                </h2>
                <div id="collapseOneReviews" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionReviews">
                  <li>
                    <a class="btn waves-effect" (click)="setContent('reviews')">
                      <i class="mdi mdi-bookmark-outline"></i>
                      <span>Reviews</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('review-categories')">
                      <i class="mdi mdi-bookmark"></i>
                      <span>Review categories</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('review-messages')">
                      <i class="mdi mdi-message-text-outline"></i>
                      <span>Review messages</span>
                    </a>
                  </li>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <li class="menu-title" class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOnePayment" aria-expanded="true" aria-controls="collapseOnePayment">
                    Payment
                  </li>
                </h2>
                <div id="collapseOnePayment" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionPayment">
                  <li>
                    <a class="btn waves-effect" (click)="setContent('payments')">
                      <i class="mdi mdi-wallet"></i>
                      <span>Payment</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('payment-types')">
                      <i class="mdi mdi-wallet-travel"></i>
                      <span>Payment types</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('promo-codes')">
                      <i class="mdi mdi-barcode"></i>
                      <span>Promo codes</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('currencies')">
                      <i class="mdi mdi-currency-usd"></i>
                      <span>Currencies</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('credit-cards')">
                      <i class="mdi mdi-credit-card"></i>
                      <span>Credit cards</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('card-types')">
                      <i class="mdi mdi-credit-card-multiple"></i>
                      <span>Card types</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('booking-prices')">
                      <i class="mdi mdi-white-balance-sunny"></i>
                      <span>Booking prices</span>
                    </a>
                  </li>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <li class="menu-title" class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneFlights" aria-expanded="true" aria-controls="collapseOneFlights">
                    Flights
                  </li>
                </h2>
                <div id="collapseOneFlights" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionFlights">
                  <li>
                    <a class="btn waves-effect" (click)="setContent('flight-class-types')">
                      <i class="mdi mdi-currency-usd"></i>
                      <span>Flight class types</span>
                    </a>
                  </li>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <li class="menu-title" class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneCategories" aria-expanded="true" aria-controls="collapseOneCategories">
                    Categories
                  </li>
                </h2>
                <div id="collapseOneCategories" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionCategories">

                  <li>
                    <a class="btn waves-effect" (click)="setContent('booking-categories')">
                      <i class="mdi mdi-book-multiple"></i>
                      <span>Booking categories</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('service-categories')">
                      <i class="mdi mdi-book-open-page-variant"></i>
                      <span>Service categories</span>
                    </a>
                  </li>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <li class="menu-title" class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneFacilities" aria-expanded="true" aria-controls="collapseOneFacilities">
                    Facilities
                  </li>
                </h2>
                <div id="collapseOneFacilities" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionFacilities">

                  <li>
                    <a class="btn waves-effect" (click)="setContent('facility')">
                      <i class="mdi mdi-calendar-blank"></i>
                      <span>Facilities</span>
                    </a>
                  </li>

                  <li>
                    <a class="btn waves-effect" (click)="setContent('facility-types')">
                      <i class="mdi mdi-calendar-multiple"></i>
                      <span>Facility types</span>
                    </a>
                  </li>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <li class="menu-title" class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneFiles" aria-expanded="true" aria-controls="collapseOneFiles">
                    Files
                  </li>
                </h2>
                <div id="collapseOneFiles" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionFiles">

                  <li>
                    <a class="btn waves-effect" (click)="setContent('file-models')">
                      <i class="mdi mdi-file-multiple"></i>
                      <span>Files</span>
                    </a>
                  </li>
                </div>
              </div>
            </ul>
          </div>
          <!-- Sidebar -->
        </div>
      </div>
    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
      <app-admin-content [content]="content"></app-admin-content>
    </div>
    <!-- end main content-->
  </div>
  <!-- END layout-wrapper -->
</body>

<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <p>
          Copyright &copy; 2021 - {{ currentYear }} Apart.com All Rights Reserved
        </p>
        <!-- ?????? -->
      </div>
      <div class="col-sm-6">
        <div class="text-sm-right d-none d-sm-block">
          Designed <i class="mdi mdi-heart text-danger"></i> by
          <a routerLink="" target="_blank" class="text-muted">Apart Team</a>
        </div>
      </div>
    </div>
  </div>
</footer>
