<p>
  Этот компонент позволяет ввести последние данные о пользователе и его заказе.
  Этот компонент идет после filling-user-details компонента.
  То, что я зачеркнул - делать не нужно: https://prnt.sc/Avf_DgoB6KWC
  Это должно быть снизу того, что сверху, не влезло в один скриншот: https://prnt.sc/2FbL462GqKEH
  При нажатии на кнопку "Check your booking" появляется модальное окно с информацией заказа, как здесь: https://prnt.sc/mTwaQv2hiA7y
  Опять же, если есть идеи - то делай что-то от себя))
</p>
