<ng-template #alert let-modal>
  <app-alert [content]="mainDataService.alertContent" (click)="modal.dismiss()"></app-alert>
</ng-template>
<header
  class="bui-header bui-header--logo-large bui-u-hidden-print bui-header--rounded-tabs"
>
  <nav class="bui-header__bar">
    <div class="bui-header__main">
      <div class="bui-header__logo">
        <span>
          <label class="robotoregular" routerLink="">Apart.fun</label>
        </span>
      </div>
    </div>
  </nav>
</header>

<body>
  <ul [ngSwitch]="choice">
    <li *ngSwitchDefault>
      <div class="add-propties-main">
        <div class="add-propties-header">
          <div class="main-header">
            List your property on Apart.com and start welcoming guests in no
            time!
          </div>
        </div>
        <div class="add-propties-grid" (click)="addApartment()">
          <div class="add-propties-item">
            <img src="../../../assets/images/house 1.png" />
            <span class="add-propties-item-title">Apartment</span>
            <span class="add-propties-item-subtitle"
              >Furnished and self-catering accommodations where guests rent the
              entire place</span
            >
          </div>
          <div class="add-propties-item" (click)="addHome()">
            <img src="../../../assets/images/house (1) 1.png" />
            <span class="add-propties-item-title">Homes</span>
            <span class="add-propties-item-subtitle"
              >Furnished and self-catering accommodations where guests rent the
              entire place</span
            >
          </div>
          <div class="add-propties-item" (click)="addHotel()">
            <img src="../../../assets/images/hotel 1.png" />
            <span class="add-propties-item-title">Hotel, B&Bs, and more</span>
            <span class="add-propties-item-subtitle"
              >Furnished and self-catering accommodations where guests rent the
              entire place</span
            >
          </div>
          <div class="add-propties-item" (click)="addAlternativePlace()">
            <img src="../../../assets/images/teepee 1.png" />
            <span class="add-propties-item-title">Alternative places</span>
            <span class="add-propties-item-subtitle"
              >Furnished and self-catering accommodations where guests rent the
              entire place</span
            >
          </div>
        </div>
      </div>
    </li>
    <li *ngSwitchCase="1">
      <div class="name-and-location-container">
        <div class="Input-name-and-location">
          <select class="form-select" aria-label="Default select example" id="categoriesSelect"
                  name="bookingCategoryId" [(ngModel)]="bookingCategoryId">
            <option value="-1" selected>Select suggestion category</option>
          </select>
        </div>
        <button class="name-and-location-button" [disabled]="bookingCategoryId == -1" (click)="addBookingCategory()">
          Continue
        </button>
      </div>
    </li>
  </ul>
</body>

<footer></footer>
